<h2 mat-dialog-title>{{ 'desc.recordDetail' | translate }}</h2>
<mat-dialog-content>
  <table class="app-table mat-elevation-z2">
    <tbody>
        <tr *ngFor="let key of KEYS">
        <th>{{ key }}</th>
        <td [ngSwitch]="key">
          <span *ngSwitchCase="'startTime'">{{ item[key] | date:'dd.MM.yyy HH:mm' }}</span>
          <span *ngSwitchCase="'endTime'">{{ item[key] | date:'dd.MM.yyy HH:mm' }}</span>
          <span *ngSwitchCase="'duration'">{{ item[key] + ' ms' }}</span>
          <span *ngSwitchDefault>{{ item[key] }}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-divider *ngIf="item['granularSnapshot']" class="divider"></mat-divider>

  <!-- Granularita - jednotlivé části události -->
  <h2 *ngIf="item['granularSnapshot']" mat-dialog-title>
    {{ 'desc.granularDetails' | translate }}
  </h2>

  <table class="app-table" *ngIf="item['granularSnapshot']">
    <tbody>
      <tr *ngFor="let snp of snapshotArray">
        <td>
          <span>{{ snp.name }}</span>
        </td>
        <td>
          <span>{{ snp.start | date:'dd.MM.yyy HH:mm'  }}</span>
        </td>
        <td>
          <span>{{ snp.stop | date:'dd.MM.yyy HH:mm' }}</span>
        </td>
        <td>
          <span>{{ (snp.stop - snp.start) +  ' ms' }}</span>
        </td>
      </tr>
    </tbody>
  </table>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button  mat-dialog-close=" cancel">{{ 'button.close' | translate }}</button>
</mat-dialog-actions>
