<mat-progress-bar mode="indeterminate" *ngIf="state=='loading'"></mat-progress-bar>

<div cdkDropList (cdkDropListDropped)="drop($event)">
	<mat-card class="app-view-rights app-view-hover" *ngFor="let item of noncollectionItems" [ngClass]="{'item-collection':item['model'] == 'collection'}" cdkDrag>
		<mat-card-header fxLayout="row" fxLayoutGap="16px">
			<div>
				<mat-checkbox (click)="$event.stopPropagation()"  (change)="$event ? selection.toggle(item) : null" [checked]="selection.isSelected(item)"  [matTooltip]="'desc.selectThisCollection' | translate" ></mat-checkbox>
			</div>
			
			<div *ngIf="getThumb(item['pid'])">
				<img [src]="getThumb(item['pid'])" onerror="this.src='assets/img/no-image.png'" />
			</div>
			
			<div fxFlex class="app-left">
				<mat-card-title [routerLink]="allowEdit(item['pid']) && item['model'] == 'collection' ?  ['/collections/content/', item['pid']] : null" [class.app-cursor-pointer]="allowEdit(item['pid']) && item['model'] == 'collection'"><mat-icon *ngIf="allowEdit(item['pid']) && item['model'] == 'collection'">link</mat-icon>{{ getName(item) }} <ng-container *ngIf="item['title.search'] != item['root.title']">({{item['root.title'] }})</ng-container></mat-card-title>
				<mat-card-subtitle>{{ 'desc.'+item['model'] | translate }}</mat-card-subtitle>
			</div>
			<!--
			<div class="app-right">
				<a (click)="setRepresentativePage(item['pid'])" [class.app-color-disabled]="!isRepresentativePageSelected[item['pid']]" [matTooltip]="!isRepresentativePageSelected[item['pid']] ? ('button.setThisPageAsRepresentative' | translate) : ('button.representativePage' | translate)">
					<mat-icon>image</mat-icon>
				</a>
			</div>
			-->
		</mat-card-header>
	</mat-card>
</div>	

<mat-card *ngIf="(collectionItems?.length || noncollectionItems?.length) === 0" class="app-color-info app-text-center">
	<mat-card-content fxLayout="row" fxLayoutAlign="center center">
		<mat-icon class="app-mr-1">info</mat-icon>{{ 'alert.collections.noData.content' | translate }}
	</mat-card-content>
</mat-card>