@if (state=='loading') {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

@if (contentView === 'object') {
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    @for (item of noncollectionItems; track item) {
      <mat-card appearance="outlined" class="app-view-item app-with-header app-fxLayout app-row app-gap-4" [ngClass]="{'item-collection':item['model'] == 'collection'}" cdkDrag>
        <div class="app-ml-n2">
          <mat-checkbox (click)="$event.stopPropagation()"  (change)="$event ? itemSelection.toggle(item) : null" [checked]="itemSelection.isSelected(item)"  [matTooltip]="'desc.selectThisCollection' | translate" ></mat-checkbox>
        </div>
        @if (getThumb(item['pid'])) {
          <div>
            <img [src]="getThumb(item['pid'])" onerror="this.src='assets/img/no-image.png'" />
          </div>
        }
        <mat-card-header class="app-fxLayout app-row">
          <div class="app-fxFlex app-left">
            <mat-card-title [routerLink]="allowEdit(item['pid']) && item['model'] == 'collection' ?  ['/collections/content/', item['pid']] : null" [class.app-cursor-pointer]="allowEdit(item['pid']) && item['model'] == 'collection'">@if (allowEdit(item['pid']) && item['model'] == 'collection') {
              <mat-icon>link</mat-icon>
              }{{ getName(item) }} @if (item['title.search'] != item['root.title']) {
              ({{item['root.title'] }})
            }</mat-card-title>
            <mat-card-subtitle>{{ 'desc.'+item['model'] | translate }}</mat-card-subtitle>
          </div>
        </mat-card-header>
      </mat-card>
    }
  </div>
}

@if (contentView === 'cuttings') {
  @for (item of clippingItems; track item) {
    <mat-card appearance="outlined" class="app-view-item app-with-header app-fxLayout app-row app-gap-4">
      <div class="app-ml-n2">
        <mat-checkbox (click)="$event.stopPropagation()"  (change)="$event ? cuttingsSelection.toggle(item) : null" [checked]="cuttingsSelection.isSelected(item)"  [matTooltip]="'desc.selectThisCollection' | translate" ></mat-checkbox>
      </div>
      @if (!item['thumb']) {
        <div>
          <img [src]="'assets/img/no-image.png'" onerror="this.src='assets/img/no-image.png'" />
        </div>
      }
      @if (item['thumb']) {
        <div>
          <img [src]="appSettings.clientApiBaseUrl + '/items/' + collection.id + '/collection/cuttings/image/' + item['thumb']" onerror="this.src='assets/img/no-image.png'" />
        </div>
      }
      @if (item['thumb']) {
        <div class="app-img-cutting-wrapper">
          <img [src]="generateLiveClip(item['url'])" />
        </div>
      }
      <mat-card-header class="app-fxLayout app-row app-gap-4">
        <div class="app-fxFlex app-left">
          <mat-card-title>{{item["name"]}}</mat-card-title>
          <mat-card-subtitle>{{item["description"]}}</mat-card-subtitle>
          <div class="app-fxLayout app-row app-center-v app-mt-1">
            <mat-icon color="primary" class="app-18 app-mr-1">launch</mat-icon>
            <small><a [href]="item['url']" target="_blank">{{ item["url"] }}</a></small>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
  }
}

@if ((collectionItems?.length || noncollectionItems?.length) === 0 && contentView === 'object') {
  <mat-card appearance="outlined" class="app-view-alert app-color-info app-clean-border-t">
    <mat-card-content>
      <mat-icon class="app-mr-1">info</mat-icon>{{ 'alert.collections.noData.content' | translate }}
    </mat-card-content>
  </mat-card>
}

@if ((clippingItems?.length || clippingItems?.length) === 0 && contentView === 'cuttings') {
  <mat-card appearance="outlined" class="app-view-alert app-color-info app-clean-border-t">
    <mat-card-content>
      <mat-icon class="app-mr-1">info</mat-icon>{{ 'alert.collections.noData.cutters' | translate }}
    </mat-card-content>
  </mat-card>
}