<mat-progress-bar mode="indeterminate" *ngIf="state=='loading'"></mat-progress-bar>

<ng-container *ngIf="state=='success'">
  <mat-card class="app-view-rights app-view-hover" *ngFor="let licence of licenses; let first = first; let last = last">
    <mat-card-header fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex class="app-left">
        <mat-card-title>{{ licence.name }}</mat-card-title>
        <mat-card-subtitle>{{ licence.description }}</mat-card-subtitle>
      </div>
      <div class="app-right app-actions">
        <a *ngIf="!last" (click)="onMoveLiceseDown(licence)" matTooltip="Posunout dolů"><mat-icon>south</mat-icon></a>
        <a *ngIf="!first" (click)="onMoveLiceseUp(licence)"  matTooltip="Posunout nahoru"><mat-icon>north</mat-icon></a>
        <a (click)="onEditLicese(licence)"  matTooltip="Editovat licenci"><mat-icon>edit</mat-icon></a>
        <a (click)="onRemoveLicese(licence)" matTooltip="Smazat licenci"><mat-icon>delete</mat-icon></a>
      </div>
    </mat-card-header>
  </mat-card>
  <button mat-flat-button (click)="onNewLicence()" color="primary" class="app-m-4">
    Přidat licenci
  </button>
</ng-container>