<div class="app-licenses">

  <mat-spinner *ngIf="state=='loading'"
    [strokeWidth]="3" 
    [diameter]="30">
  </mat-spinner>

  <ng-container *ngIf="state=='success'">
    <div class="app-licence" *ngFor="let licence of licenses">
      <!-- <div class="app-licence-priority">{{ licence.priority }}</div> -->
      <mat-icon (click)="onEditLicese(licence)">edit</mat-icon>
      <mat-icon (click)="onRemoveLicese(licence)">delete</mat-icon>

      <div class="app-licence-name">{{ licence.name }}</div>
      <div class="app-licence-description">{{ licence.description }}</div>

    </div>
    <div class="app-new-licence app-button" (click)="onNewLicence()">Přidat licenci</div>
  </ng-container>


</div>