<div class="app-licenses">

  <mat-spinner *ngIf="state=='loading'"
    [strokeWidth]="3" 
    [diameter]="30">
  </mat-spinner>

  <ng-container *ngIf="state=='success'">
    <div class="app-licence" *ngFor="let licence of licenses; let first = first; let last = last">
      <mat-icon (click)="onRemoveLicese(licence)">delete</mat-icon>
      <mat-icon (click)="onEditLicese(licence)">edit</mat-icon>
      <mat-icon *ngIf="!first" (click)="onMoveLiceseUp(licence)">north</mat-icon>
      <mat-icon *ngIf="!last" (click)="onMoveLiceseDown(licence)">south</mat-icon>

      <div class="app-licence-name">{{ licence.name }}</div>
      <div class="app-licence-description">{{ licence.description }}</div>

    </div>
    <div class="app-new-licence app-button" (click)="onNewLicence()">Přidat licenci</div>
  </ng-container>


</div>