<div class="app-collections app-h-100">
  <div fxLayout="column" fxFlexFill>
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'navbar.collections' | translate }}</span>
      </div>
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" class="app-mb-4">
        <div fxFlex>
          <input class="app-input-autocomplete app-mr-4" type="text" [placeholder]="'desc.searchCollection' | translate" [(ngModel)]="query" (ngModelChange)="onSearch()" autocomplete="off">
          <button  [disabled]="!allowedGlobalAction('a_collections_edit')" mat-flat-button color="primary" (click)="onNewCollections()">{{ 'button.createNewCollection' | translate }}</button>
        </div>
        <div>
          <mat-slide-toggle class="app-standalone-toggle" color="primary" (change)="onStandaloneChange()" [(ngModel)]="standaloneOnly">{{ 'button.showStandaloneOnly' | translate }}</mat-slide-toggle>
        </div>
      </div>
    </div>
    <div fxFlex class="app-container-fluid app-oh">
      <div class="app-table-wrapper app-maxh-100 app-view-border app-oa-y" *ngIf="!errorState">
        <mat-progress-bar mode="indeterminate" *ngIf="state === 'loading'"></mat-progress-bar>
        <table mat-table [dataSource]="dataSource" class="app-w-100" matSort>
          <ng-container matColumnDef="name_cze">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.name' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="allowEdit(element.id) ? ['/collections',  element.id] : null" [class.app-avoid-click]="!allowEdit(element.id)">
                {{ element.name_cze }}
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="description_cze">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.description' | translate }}</th>
            <td mat-cell *matCellDef="let element" [matTooltip]="allowEdit(element.id) ? element.description_cze : null">
              <div class="app-text-cutter-wrapper">
                <div class="app-text-cutter">
                  {{ element.description_cze }}
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.created' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.createdAt | date : 'dd.MM.yyyy' }}</td>
          </ng-container>
          <ng-container matColumnDef="modifiedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.managed' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.modifiedAt | date : 'dd.MM.yyyy' }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="allowRights(element.id) ? ['/object',  element.id] : null" class="app-text-right" [ngClass]="!allowRights(element.id) ? 'app-not-allowed' : null " [matTooltip]="allowRights(element.id) ? ('button.changeCollectionRights' | translate) : null || allowEdit(element.id) && !allowRights(element.id) ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowRights(element.id) ? 'app-alert-not-allowed' : null">
                <mat-icon>admin_panel_settings</mat-icon>
              </a>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.app-not-allowed]="!allowEdit(row.id)" [matTooltip]="!allowEdit(row.id) ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowEdit(row.id) ? 'app-alert-not-allowed' : null"></tr>
        </table>
      </div>

      <mat-card *ngIf="errorState" class="app-view-alert app-warn">
        <mat-card-content>
          <mat-icon>error</mat-icon>{{ errorMessage }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>