.mat-mdc-cell {
  &.mat-column-name_cze {
    width: 13%;
  }

  &.mat-column-logo {
    width: 50px;
  }

  &.mat-column-code {
    width: 50px;
  }

  &.mat-column-description_cze {
    width: 65%;
  }
}