<mat-progress-bar mode="indeterminate" *ngIf="state === 'loading'"></mat-progress-bar>
<table mat-table [dataSource]="dataSource" class="app-w-100" matSort (matSortChange)="changeSort($event)">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()" [matTooltip]="'desc.selectAllCollections' | translate" *ngIf="collections?.length !== 0"></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" [matTooltip]="'desc.selectThisCollection' | translate"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="name_cze">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.name' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <div  [matTooltip]="element.names[displayLanguage()]" class="app-text-cutter-wrapper">
        <div class="app-text-cutter">
          <a [routerLink]="getRouterLink('/cdk-collections/detail/', element.id, 'cdk-collection', 'detail')" (click)="linkToDetail(element.id)" [class.app-avoid-click]="!allowEdit(element.id)">
            {{ element.names[displayLanguage()] }}
          </a>
        </div>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="logo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Logo' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <img class="app-logo-lib" src="https://api.registr.digitalniknihovna.cz/libraries/vse/logo" />
    </td>
  </ng-container>
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.code' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <strong>vse</strong>
    </td>
  </ng-container>
  <ng-container matColumnDef="description_cze">
    <th mat-header-cell *matHeaderCellDef>{{ 'desc.description' | translate }}</th>
    <td mat-cell *matCellDef="let element" [matTooltip]="allowEdit(element.id) ? element.descriptions[displayLanguage()] : null">
      <div class="app-text-cutter-wrapper">
        <div class="app-text-cutter">
          {{ element.descriptions[displayLanguage()] }}
        </div>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.created' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt | date : 'dd.MM.yyyy' }}</td>
  </ng-container>
  <ng-container matColumnDef="modifiedAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.managed' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.modifiedAt | date : 'dd.MM.yyyy' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.app-not-allowed]="!allowEdit(row.id)" [matTooltip]="!allowEdit(row.id) ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowEdit(row.id) ? 'app-alert-not-allowed' : null"></tr>
</table>
<mat-paginator *ngIf="state !== 'loading'" 
  [pageSizeOptions]="[20, 50, 100]" 
  [length]="numFound"
  [pageSize]="rows"
  [pageIndex]="page"
  (page)="pageChanged($event)">
</mat-paginator>
