<div class="app-cdk app-fxLayout app-column app-fill">
  <div class="app-topbar">
    <div class="app-breadcrumbs app-mb-4">
      <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
      <a routerLink="/">home</a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'sites.cdk.title' | translate }}</span>
    </div>
    <div>
      <nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false">
        <a mat-tab-link (click)="changeView('proxy')" [active]="view == 'proxy'"><mat-icon class="material-icons-outlined">{{ 'sites.cdk.proxy.icon' | translate  }}</mat-icon>{{ 'sites.cdk.proxy.title' | translate }}</a>
        <a mat-tab-link (click)="changeView('object-reharvest')" [active]="view == 'object-reharvest'"><mat-icon class="material-icons-outlined">{{ 'sites.cdk.objectReharvest.icon' | translate  }}</mat-icon>{{ 'sites.cdk.objectReharvest.title' | translate }}</a>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </div>
  </div>
  <div class="app-fxFlex app-oh app-container-fluid">
    <app-cdk-proxy *ngIf="view == 'proxy'"></app-cdk-proxy>
    <app-cdk-europeanou *ngIf="view == 'europeanou'"></app-cdk-europeanou>
    <app-cdk-object-reharvest *ngIf="view == 'object-reharvest'"></app-cdk-object-reharvest>
  </div>
</div>