<div class="app-root">

    <h2>Správa repozitáře</h2>
    <div>

        <button class="app-btn" mat-raised-button (click)="todo()" color="primary" disabled>
            Rebuild Processing indexu</button>
        <br>
        <button class="app-btn" mat-raised-button (click)="todo()" color="primary" disabled>
            Import (FOXML)</button>
        <br>
        <button class="app-btn" mat-raised-button (click)="todo()" color="primary" disabled>
            Import (NDK METS formát)</button>
        <br>
    </div>

</div>