<div class="app-access app-h-100">
  <div fxLayout="column" fxFlexFill>
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'navbar.repository' | translate }}</span>
      </div>
      <div>
        <nav mat-tab-nav-bar>
          <a mat-tab-link (click)="changeView('repositoryManagement')" [active]="view == 'repositoryManagement'"><mat-icon class="material-icons-outlined">admin_panel_settings</mat-icon>{{ 'tabnav.repositoryManagement' | translate }}</a>
          <!-- <a mat-tab-link (click)="changeView('imports')"  [active]="view == 'imports'"><mat-icon class="material-icons-outlined">import_export</mat-icon>{{ 'tabnav.imports' | translate }}</a> -->
          <a mat-tab-link (click)="changeView('exports')"  [active]="view == 'exports'"><mat-icon class="material-icons-outlined">import_export</mat-icon>{{ 'tabnav.exports' | translate }}</a>
          <a mat-tab-link (click)="changeView('bulkDataEditing')"  [active]="view == 'bulkDataEditing'"><mat-icon class="material-icons-outlined">edit_note</mat-icon>{{ 'tabnav.bulkDataEditing' | translate }}</a>
					<a mat-tab-link (click)="changeView('statistics')"  [active]="view == 'statistics'"><mat-icon class="material-icons-outlined">bar_chart</mat-icon>{{ 'tabnav.statistics' | translate }}</a>
        </nav>
      </div>
    </div>
    <div fxFlex class="app-oa-y">
      <div class="app-container">
        <mat-card fxLayout="column" class="app-card app-view-border">
					<mat-card-content>
						<ng-container *ngIf="view == 'repositoryManagement'">
							<button mat-flat-button (click)="openscheduleProcessingIndexRebuildDialog()" color="primary" class="app-mr-2">{{ 'button.buildProcessingIndex' | translate }}</button>
							<button mat-flat-button (click)="openscheduleProcessingIndexRebuildForPidDialog()" color="primary" class="app-mr-2">{{ 'button.rebuildTheProcessingIndexForTheObject' | translate }}</button>
						</ng-container>
						<ng-container *ngIf="view == 'exports'">
							<div class="app-mb-4">
								<h3 class="app-mt-0">{{ 'desc.global' | translate }}</h3>
								<button mat-flat-button (click)="todo()" color="primary" disabled class="app-mr-2">{{ 'button.exportStatistics' | translate }}</button>
								<button mat-flat-button (click)="todo()" color="primary" disabled class="app-mr-2">{{ 'button.exportPidsOfDnntLicensedObjects' | translate }}</button> <!-- do CSV -->
								<button mat-flat-button (click)="todo()" color="primary" disabled class="app-mr-2">{{ 'button.generateAccessLogs' | translate }}</button>
							</div>
							<mat-divider [inset]="true"></mat-divider>
							<div class="app-mt-4">
								<h3 class="app-mt-0">{{ 'desc.forDocument' | translate }}</h3>
								<button mat-flat-button (click)="todo()" color="primary" disabled class="app-mr-2">{{ 'button.exportDocument' | translate }} (PDF)</button>
								<button mat-flat-button (click)="todo()" color="primary" disabled class="app-mr-2">{{ 'button.exportDocument' | translate }} (FOXML)</button>
							</div>
						</ng-container>
						<ng-container *ngIf="view == 'bulkDataEditing'">
							<div class="app-mb-4">
								<h3 class="app-mt-0">{{ 'desc.basedOnEmbeddedPids' | translate }}</h3>
								<!-- tj. změna viditelnosti -->
								<button mat-flat-button (click)="openChangePolicyDialog()" color="primary" class="app-mr-2">{{ 'button.setPublicPrivate' | translate }}</button>
								<!-- DNNT, DNNT2 apod. -->
								<button mat-flat-button (click)="openAddLicenceDialog()" color="primary" class="app-mr-2">{{ 'button.addLicense' | translate }}</button>
								<!-- DNNT, DNNT2 apod. -->
								<button mat-flat-button (click)="openRemoveLicenceDialog()" color="primary" class="app-mr-2">{{ 'button.removeLicense' | translate }}</button>
							</div>
							<mat-divider [inset]="true"></mat-divider>
							<div class="app-mt-4 app-mb-4">
								<h3 class="app-mt-0">{{ 'desc.basedOnData' | translate }}</h3>
								<!-- tj. pohyblivá zeď -->
								<button mat-flat-button (click)="todo()" color="primary" disabled  class="app-mr-2">{{ 'button.setPublicByDates' | translate }}</button>
							</div>		
							<mat-divider [inset]="true"></mat-divider>
							<div class="app-mt-4">
								<h3 class="app-mt-0">{{ 'desc.deleting' | translate }}</h3>
								<button mat-flat-button (click)="openScheduleDeleteObjectsDialog()" color="warn" class="app-mr-2">{{ 'button.deleteTheWholeTreesSmartly' | translate }}</button>
								<button mat-flat-button (click)="openDeleteObjectsLowLevelDialog()" color="warn">{{ 'button.deleteFromRepositoryObjectsOnly' | translate }}</button>
							</div>
						</ng-container>
						<ng-container *ngIf="view == 'statistics'">
							<button mat-flat-button color="primary" class="app-mr-2" (click)="openNkpLogyDialog()">{{ 'button.generateNkpLogs' | translate }}</button>
							<button mat-flat-button color="primary" class="app-mr-2" (click)="openDeleteStatisticsDialog()">{{ 'button.deleteStatistics' | translate }}</button><!--od do-->
							<!-- <button mat-flat-button color="primary" class="app-mr-2">Refresh statistik</button>
							<button mat-flat-button color="primary" class="app-mr-2">Refresh statistik</button> -->
						</ng-container>
					</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>