<div class="app-root">

    <h2>Správa repozitáře</h2>
    <div>
        <button class="app-btn" mat-raised-button (click)="openscheduleProcessingIndexRebuildDialog()" color="primary">
            Vybudovat Processing index</button><!-- TODO: neprejmenujeme na Index Vazeb? -->
        <br>
        <button class="app-btn" mat-raised-button (click)="todo()" color="primary" disabled>
            Importovat FOXML</button>
        <br>
        <button class="app-btn" mat-raised-button (click)="todo()" color="primary" disabled>
            Importovat NDK METS</button>
        <br>
    </div>

</div>