	<h2 mat-dialog-title>{{ 'modal.scheduleMigrateCollections.title' | translate }}</h2>
	<mat-dialog-content class="mat-typography app-form-customize">
    <mat-form-field appearance="outline" class="app-w-100" >
      <mat-label>{{ 'desc.completeTheInstance' | translate }}</mat-label>
      <input type="text" [(ngModel)]="k5instance"  matInput [placeholder]="'desc.completeTheInstance' | translate">
    </mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-flat-button (click)="migrate()" color="primary" type="submit">{{ 'button.schedule' | translate }}</button>
		<button mat-flat-button [disabled]="false" mat-dialog-close="cancel">{{ 'button.cancel' | translate }}</button>
	</mat-dialog-actions>
