$app-selection-color: #c3c8ca;
$app-action-color: #37474f;
$app-action-transparent: #37474f33;
$app-action-transparent2: #37474f55;
$app-action-highlight-color: #556369;

$app-action-warn: #bf4848;
$app-action-warn-highlight: #d94444;

// pedro
$app-toolbar-height: 64px !default;
$app-container: 1280px !default;
$app-button-height: 36px !default;

// gaps
$gaps: (
  "0": 0,
  "1": 4,
  "2": 8,
  "3": 12,
  "4": 16,
  "5": 20,
  "6": 24,
  "7": 28,
  "8": 32,
);

