@import './app-theme.scss';

//M3 Upgrades

$mat-blue-gray: mat.m2-get-color-from-palette(mat.$m2-blue-gray-palette);
$mat-red: mat.m2-get-color-from-palette(mat.$m2-red-palette);
$mat-teal: mat.m2-get-color-from-palette(mat.$m2-teal-palette);
$mat-brown: mat.m2-get-color-from-palette(mat.$m2-brown-palette);
$mat-green: mat.m2-get-color-from-palette(mat.$m2-green-palette);
$mat-orange: mat.m2-get-color-from-palette(mat.$m2-orange-palette);
$mat-purple: mat.m2-get-color-from-palette(mat.$m2-purple-palette);
$mat-cyan: mat.m2-get-color-from-palette(mat.$m2-cyan-palette);
$mat-lime: mat.m2-get-color-from-palette(mat.$m2-lime-palette);
$mat-amber: mat.m2-get-color-from-palette(mat.$m2-amber-palette);

// system colors
$app-color-primary: mat.m2-get-color-from-palette($app-pprimary) !default;
$app-color-accent: mat.m2-get-color-from-palette($app-paccent) !default;
$app-color-warn: mat.m2-get-color-from-palette($app-pwarn) !default;
$app-color-lightnes: #ffffff !default;
$app-color-darknes: #000000 !default;
$app-color-dev: mat.m2-get-color-from-palette(mat.$m2-teal-palette, 700) !default;

$app-color-primary-700: mat.m2-get-color-from-palette($app-pprimary, 700) !default;
$app-color-accent-300: mat.m2-get-color-from-palette($app-paccent, 300) !default;

// gray contrast colors
$app-pgray: mat.m2-define-palette(mat.$m2-gray-palette);
$mat-gray: mat.m2-get-color-from-palette($app-pgray);
$app-gray-0: mat.m2-get-color-from-palette($app-pgray, 50) !default;
$app-gray-1: mat.m2-get-color-from-palette($app-pgray, 100) !default;
$app-gray-2: mat.m2-get-color-from-palette($app-pgray, 200) !default;
$app-gray-3: mat.m2-get-color-from-palette($app-pgray, 300) !default;
$app-gray-4: mat.m2-get-color-from-palette($app-pgray, 400) !default;
$app-gray-5: mat.m2-get-color-from-palette($app-pgray, 500) !default;
$app-gray-6: mat.m2-get-color-from-palette($app-pgray, 600) !default;
$app-gray-7: mat.m2-get-color-from-palette($app-pgray, 700) !default;
$app-gray-8: mat.m2-get-color-from-palette($app-pgray, 800) !default;
$app-gray-9: mat.m2-get-color-from-palette($app-pgray, 900) !default;

// custom colors
$app-color-info: mat.m2-get-color-from-palette(mat.$m2-amber-palette, 900) !default;
$app-color-success: mat.m2-get-color-from-palette(mat.$m2-green-palette, 800) !default;
$app-color-disabled: $app-gray-4;

// elements
//$app-body-bg: $app-gray-1;
$app-body-bg: $app-color-lightnes;
$app-body-color: $app-color-darknes;
$app-border-radius: 4px !default;
$app-card-border-color: $app-gray-3;
$app-card-bg-hover: $app-gray-1;
$app-card-bg-expanded: $app-card-bg-hover;
$app-toolbar-height: 64px !default;
$app-container: 1280px !default;
$app-button-height: 32px !default;
$app-badge-size: 20px !default;
$app-badge-border-radius: calc(#{$app-badge-size} / 2) !default;
$app-badge-version-color: $app-color-accent;
$app-avatar-size: 40px !default;
$app-avatar-color: mat.m2-get-color-from-palette(mat.$m2-amber-palette, 900) !default;
$app-mat-radio-button-size: 16px !default;

$app-table-row-height: 48px !default;
$app-table-color: $app-gray-7;
$app-table-color-border: $app-card-border-color;
$app-table-color-bg: $app-color-lightnes;
$app-table-color-bg-hover: $app-gray-2;

// home
$app-home-card-gap: 32px !default;
$app-home-card-width: 25% !default;

// footer
$app-footer-bg-color: $app-color-darknes;
$app-footer-color: $app-gray-5;

// material override
$app-mat-radio-button-size: 14px !default;
$app-mat-checbox-size: 14px !default;

// gaps
$gaps: (
  "0": 0,
  "1": 4,
  "2": 8,
  "3": 12,
  "4": 16,
  "5": 20,
  "6": 24,
  "7": 28,
  "8": 32,
);

// icon size
$iconSize: (
  "14": 14,
  "15": 15,
  "16": 16,
  "17": 17,
  "18": 18,
  "19": 19,
  "20": 20,
  "21": 21,
  "22": 22,
  "23": 23,
);

// alerts
$alerts: (
  warn: $app-color-warn,
  info: $app-color-info,
  success:  $app-color-success
);

// states
$states: (
  planned: #7b7b7b,
  running: #456aa5,
  finished: #45a55a,
  failed: $app-color-warn,
  killed: #ca7023,
  not-running: #ca7023,
  warning: #ab493f,
  too-big: #ab443f,
  waiting_for_approve: #a44c04,
  canceled: #a2a2a0,

  session: $app-color-lightnes,
  keyword: $app-color-darknes,
  default: $app-gray-6,

  // for reharvest jobs
  is-reharvest-from-core: #faf7e3,
  is-reharvest-from-admin: #f0ffee
);

// dashboard
$dashboard: (
  object: mat.m2-get-color-from-palette(mat.$m2-blue-gray-palette, 400),
  object-actions: mat.m2-get-color-from-palette(mat.$m2-blue-gray-palette, 400),
  object-accessibility: mat.m2-get-color-from-palette(mat.$m2-blue-gray-palette, 400),
  object-in-collections: mat.m2-get-color-from-palette(mat.$m2-blue-gray-palette, 400),
  object-others: mat.m2-get-color-from-palette(mat.$m2-blue-gray-palette, 400),

  import-foxml: mat.m2-get-color-from-palette(mat.$m2-blue-gray-palette, 400),
  import-ndk: mat.m2-get-color-from-palette(mat.$m2-blue-gray-palette, 400),

  access-actions: mat.m2-get-color-from-palette(mat.$m2-red-palette, 400),
  access-roles: mat.m2-get-color-from-palette(mat.$m2-red-palette, 400),
  access-licenses: mat.m2-get-color-from-palette(mat.$m2-red-palette, 400),
  access-params: mat.m2-get-color-from-palette(mat.$m2-red-palette, 400),

  processes: mat.m2-get-color-from-palette(mat.$m2-teal-palette, 400),
  processes-standard-output: mat.m2-get-color-from-palette(mat.$m2-teal-palette, 400),
  processes-error-output: mat.m2-get-color-from-palette(mat.$m2-teal-palette, 400),

  collections: mat.m2-get-color-from-palette(mat.$m2-brown-palette, 400),
  collections-detail: mat.m2-get-color-from-palette(mat.$m2-brown-palette, A400),
  collections-edit: mat.m2-get-color-from-palette(mat.$m2-brown-palette, A400),
  collections-content: mat.m2-get-color-from-palette(mat.$m2-brown-palette, A400),
  collections-context: mat.m2-get-color-from-palette(mat.$m2-brown-palette, A400),

  indexing-object: mat.m2-get-color-from-palette(mat.$m2-green-palette, 400),
  indexing-model: mat.m2-get-color-from-palette(mat.$m2-orange-palette, A700),

  repository-repository-management: mat.m2-get-color-from-palette(mat.$m2-purple-palette, A700),
  repository-bulk-data-editing: mat.m2-get-color-from-palette(mat.$m2-cyan-palette, A700),
  repository-statistics: mat.m2-get-color-from-palette(mat.$m2-lime-palette, 700),

  statistics-graphs: mat.m2-get-color-from-palette(mat.$m2-orange-palette, A700),
  statistics-most-viewed-documents: mat.m2-get-color-from-palette(mat.$m2-orange-palette, A700)
);