// --- GLOBAL ---

@include setGap();

a {
  @extend .app-cursor-pointer;
}

// cleaners
.app-cleanfix {
  @include cleanfix();
}

.app-clean-bg {
  background-color: transparent !important;
}

.app-clean-radius {
  border-radius: 0 !important;
}

.app-clean-border {
  border: 0 !important;
}

.app-clean-shadow {
  box-shadow: none !important;
}

.app-dn {
  display: none;
}

.app-vh {
  visibility: hidden;
}


// common
.app-cursor-pointer {
  cursor: pointer;
}

.app-oh {
  overflow: hidden;
}

.app-oa-y {
  overflow-y: auto;
}

.app-oa-x {
  overflow-x: auto;
}

.app-w-100 {
  width: 100% !important;
}

.app-h-100 {
  height: 100% !important;
}

.app-maxh-100 {
  max-height: 100% !important;
}

.app-rotate-up {
  .mat-icon {
    &:not(.app-no-rotate) {
      transition: all 0.4s ease;
      transform: rotateZ(180deg);
    }
  }
}

.app-text-cutter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-rotate-down {
  .mat-icon {
    &:not(.app-no-rotate) {
      transition: all 0.4s ease;
      transform: rotateZ(0deg);
    }
  }
}

.app-pipe {
  @extend .app-ml-2, .app-mr-2;
  border-left: 1px solid $app-gray-4;

  /* &:last-child {
    @extend .app-dn;
  } */
}

.app-label {
  color: $app-gray-6;
  font-size: 12px;
}

.app-desc {
  color: $app-gray-6;
  font-size: 14px;
}

.app-clear-filter,
.app-btn-warn {
  .mat-icon {
    @include setIcon(18, $app-color-warn, middle);
  }
}

.app-badge {
  @include setStateColor();

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: $app-border-radius;
  color: $app-color-lightnes;
  font-size: 12px;
  text-transform: uppercase;
}

.app-input-autocomplete {
  @extend .app-clean-shadow, .app-pl-4, .app-pr-4;
  height: $app-button-height;
  border-radius: $app-border-radius;
  border: 1px solid $app-gray-1;
}

// table
table {
  // standart table
  &.app-table {
    @extend .app-w-100;
    $app-tbc: $app-gray-1;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: $app-tbc;
    background-color: $app-table-color-bg;

    tr {
      td, th {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: $app-tbc;
        padding: 4px 8px;
        vertical-align: top;
        text-align: left;
      }
    }

    thead {
      tr {
        th {
          /* font-size: 12px;
          font-weight: 500;
          color: $app-gray-6; */
        }
      }
    }

    tbody {
      tr {
        td {
          &.app-col-action {
            width: 30px;
            color: $app-color-primary;

            .mat-icon {
              @include setIcon(18, $position: sub)
            }
          }
        }

        &:hover {
          td {
            background-color: $app-gray-0;
          }
        }

       /*  &:nth-child(odd) {
          background-color: rgba($app-gray-0, .5);
        } */

        .app-input {
          width: calc(100% - 4px);
        }
      }
    }
  }
}


// table - hozna
.app-table-wrapper {
  &.app-view-border {
    .app-head, .app-body, .mat-paginator {
      border-style: solid;
      border-color: $app-table-border-color;
    }

    .app-head {
      border-width: 1px 1px 0 1px;
    }

    .app-body {
      border-width: 0 1px 1px 1px;
    }

    .mat-paginator {
      border-width: 0 1px 1px 1px; 
    }
  }

  .app-table {
    @extend .app-m-0, .app-p-0;
    background: $app-table-color-bg;
  
    &.app-head {
      .app-row {
        font-size: 12px;
        border-bottom: 1px solid #{$app-table-border-color};
      
        .app-sortable {
          cursor: pointer;
          display: inline-block;
          user-select: none;
  
          .mat-icon {
            vertical-align: middle;
          }
        }
      }
    }
  
    &.app-body {
      .app-row {
        &:not(:last-child) {
          border-bottom: 1px solid #{$app-table-border-color};
        }

        &:hover {
          background: $app-table-color-bg-hover;
        }
    
        &.active {
          background: $app-table-color-bg-active;
    
          &:hover {
            background: $app-table-color-bg-hover;
          }
        }
      }
    }
    
    .app-row {
      padding: 0 24px;
      display: flex;
      align-items: center;
      height: $app-table-row-height;
      color: $app-table-color-fg;
      text-decoration: none;
      overflow: hidden;
      font-size: 14px;
    }
  }
}



// test
.mat-tab-body-wrapper {
  flex: 1 !important;

  .mat-tab-body {
    overflow-y: hidden;

    .mat-tab-body-content {
      overflow-y: hidden;
    }
  }
}