// --- LAYOUT ---

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body { 
  height: 100%;
}

body {
  @extend .app-m-0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: var(--app-body-bg);
  color: var(--app-body-color);

  .app-container {
    //@extend .app-p-4;
    padding: 16px !important;
    margin: 0 auto;
    max-width: $app-container;
    width: 100%;
  }

  .app-container-fluid {
    @extend .app-p-4;
    max-width: 100%;
  }

}

