// --- MATERIAL OVERRIDE UPGRADE ---

// CARD
.mat-mdc-card {
  // header
  .mat-mdc-card-header {
    .mat-mdc-card-title {
      .mat-icon {
        @include setIcon(20, $position: bottom);
      }
    }
  }

  // content
  .mat-mdc-card-content {
    // ----
  }

  // actions
  .mat-mdc-card-actions {
    padding: 16px;
  }

  &.app-view-title-flex {
    .mat-mdc-card-header {
      .mat-mdc-card-header-text {
        width: 100%;
      }
    }
  }

  &.app-hover{
    &:hover {
      background-color: var(--app-card-bg-hover);
    }
  }
  
  &.app-view-alert {
    @include setAlertCard();

    .mat-mdc-card-content {
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-icon {
        @extend .app-mr-2;
      }
    }
  }

  &.app-view-header {
    @extend .app-p-4;
    max-height: var(--app-card-view-header-height);
  }

  &.app-view-item {
    @extend .app-p-4;

    .mat-mdc-card-header {
      @extend .app-p-0;
    }
    
    &:not(:first-child),
    &.app-with-header {
      border-top: 0;
    }

    &:hover {
      background-color: var(--app-card-bg-hover);
    }

    img {
      max-width: 60px;
    }

    // drag and drop view
    &.cdk-drag {
      &:not(.cdk-drag-disabled) {
        cursor: move;
      }
      
      &.cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
      }

      &.cdk-drag-placeholder {
        opacity: 0;
      }

      &.cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }

      .cdk-drop-list-dragging & {
        &:not(.cdk-drag-placeholder) {
          transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }

    .app-right {
      &.app-actions {
        a {
          @extend .app-ml-4;
          color: var(--app-color-primary);

          .mat-icon {
            @include setIcon(20);
          }
        }
      }
    }
  }

  .app-mark-rounded {
    @include setDashboardColor();
  }

  &.app-view-dev {
    position: relative;
    background-color: rgba($app-dev, .1) !important;
    border: 1px solid rgba($app-dev, .4);

    .app-marker {
      position: absolute;
      top: -17px;
      right: -1px;
      background-color: var(--app-color-dev);
      color: var(--app-color-lightnes);
      font-size: 12px;
      padding: 1px 4px;
    }

    .mat-mdc-unelevated-button {
      background-color: var(--app-color-dev) !important;
    }
  }
}

// ACCORDION
.mat-accordion {
  &.app-view-default {
    .mat-expansion-panel {
      @extend .app-clean-shadow, .app-clean-radius, .app-m-0;
      border: 1px solid var(--app-card-border-color);
      
      &:not(:first-child) {
        border-top: 0;
      }

      &.mat-expanded {
        background-color: var(--app-gray-0)
      }

      .mat-expansion-panel-header {
        @extend .app-pl-4, .app-pr-4;

        .mat-content {
          .mat-expansion-panel-header-description {
            font-weight: var(--app-expansion-header-description-text-weight);
          }
        }
   
        .app-actions {
          @extend .app-mr-4;

          a {
            @extend .app-ml-4;
            color: var(--app-color-primary);
  
            .mat-icon {
              @include setIcon(20);
            }
          }
        } 
      }

      .mat-expansion-panel-content {
        .mat-expansion-panel-body {
          @extend .app-pl-4, .app-pr-4;
        }

        .mat-action-row {
          @extend .app-clean-border, .app-p-4;
          padding-top: 0 !important;
        }
      }
    }
  }

  &.app-view-actions {
    --mat-expansion-header-collapsed-state-height: 58px;
    --mat-expansion-header-expanded-state-height: var(--mat-expansion-header-collapsed-state-height);

    .mat-expansion-panel {
      .mat-expansion-panel-header {
        .mat-content {
          flex-direction: column;
        }
      }
    }
  }
}

// FORM FIELD
.mat-mdc-form-field {
  background-color: var(--app-color-lightnes);

  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }

  &.app-download {
    .mat-mdc-form-field-icon-suffix {
      position: absolute;
      top: 10px;
      right: 0;
    }
  }
}

// TABLE
.mat-mdc-table {
  &.app-view-border {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: var(--app-card-border-color);
  }

  .mat-mdc-row {
    @include setStateColor();
  }

  .app-col-checkbox {
    width: 40px;
    text-align: center;
  }

  thead {
    .mat-mdc-header-row {
      .mat-mdc-header-cell {
        padding: 0;

        &:first-of-type {
          &:not(.app-col-icon, .app-col-checkbox) {
            @extend .app-pl-4;
          }
        }

        &:last-of-type {
          &:not(.app-col-icon, .app-col-checkbox) {
            @extend .app-pr-4;
          }
        }
      }
    }
  }

  tbody {
    .mat-mdc-row {
      &:hover {
        background: var(--app-table-color-bg-hover);
      }
  
      &.active {    
        &:hover {
          background: var(--app-table-color-bg-hover);
        }
      }

      &:last-child {
        .mat-cell {
          border-bottom: none;
        }
      }

      &.app-not-allowed {
        color: var(--app-color-disabled) !important; 
  
        .mat-cell, a, .mat-icon {
          color: var(--app-color-disabled) !important; 
        }

        .app-badge {
          background-color: var(--app-color-disabled) !important;
        }
      }

      .mat-mdc-cell {
        padding: 0;
        
        &:first-of-type {
          &:not(.app-col-icon, .app-col-checkbox) {
            @extend .app-pl-4;
          }
        }

        &:last-of-type {
          &:not(.app-col-icon, .app-col-checkbox) {
            @extend .app-pr-4;
          }
        }

        &.app-col-icon {
          width: 40px;
          text-align: center;

          /* @include mat.icon-button-density(-4);

          .mdc-icon-button {     
            .mat-icon {
              @include setIcon(20);
            }
          } */
        }

        @include mat.icon-button-density(-4);

        .mdc-icon-button {     
          .mat-icon {
            @include setIcon(20);
          }
        }

        &.mat-column-state {      
          .app-badge {
            min-width: 110px;
          }
        }

        .app-text-cutter-wrapper {
          position: relative;
          display: flex;
        }
  
        .app-text-cutter {
          @extend .app-pr-4;
          position: absolute;
          max-width: 100%;
          align-self: center;
        }

        .mat-form-field {
          &.mat-form-field-appearance-fill {
            &.mat-form-field-type-mat-select {
              .mat-form-field-wrapper {
                @extend .app-pb-0;
  
                .mat-form-field-flex,
                .mat-form-field-infix {
                  @extend .app-pt-0;
                }

                .mat-select-arrow-wrapper {
                  display: flex;
                  vertical-align: bottom;
                }

                .mat-form-field-underline {
                  bottom: 0;
                }
              }
            }
          }
        }

        .mat-mdc-icon-button {
          --mdc-icon-button-state-layer-size: var(--mat-table-row-item-container-height);
          padding: 0;

          .mat-icon {
            @include setIcon($position: text-top);
          }
        }
      } 
    }
  }
}

// PAGINATOR
.mat-mdc-paginator {
  .app-table-wrapper & {
    bottom: 0px;
    position: sticky;
    z-index: 10;
    border-top: 1px solid var(--app-table-color-border);
  }
}

// CHECKBOX
.mdc-checkbox {
  padding: calc((var(--mdc-checkbox-state-layer-size, 40px) - calc(var(--app-checkbox-default-size) + var(--app-checkbox-reduction))) / 2) !important;

  .mdc-checkbox__background {
    width: calc(var(--app-checkbox-default-size) - var(--app-checkbox-reduction));
    height: calc(var(--app-checkbox-default-size) - var(--app-checkbox-reduction));
  }
}

// CHIPLIST
.mat-mdc-chip-listbox {
  .mat-mdc-chip {
    @include setStateColor();

    &.mat-mdc-standard-chip {
      background-color: var(--app-badge-default-color);
      

      .mat-mdc-chip-action-label {
        color: var(--app-color-lightnes);
      }

      .mat-mdc-chip-remove {
        color: var(--app-color-lightnes);
      }
    }

    &.app-pid {
      background-color: var(--app-color-primary);

      .app-text-cutter {
        max-width: 200px;
      }
    }
  }   
}

// TABS
.mat-mdc-tab-nav-bar {
  &.mat-mdc-tab-header {
    @extend .app-clean-border;
  }

  .mat-mdc-tab-links {
    .mat-mdc-tab-link {
      opacity: unset;
    
      &:hover {
        text-decoration: none;
      }

      &.mdc-tab--active {
        font-weight: 900;

        .mdc-tab__text-label {
          color: black;
        }
      }

      &:not(.mdc-tab--active) {
        color: var(--app-gray-6);
        font-weight: normal;

        .mat-badge-content,
        .app-badge {
          background-color: var(--app-gray-5);
        }
      }

      .mat-icon {
        @extend .app-mr-2;
        @include setIcon(20);
      }

      .mat-badge {
        .mat-icon {
          @include setIcon($position: sub);
        }

        .mat-badge-content {
          right: -6px;
        }

        .app-push-right {
          margin-right: 24px;
        }
      }
    }
  }
}

// ICON
.mat-icon {
  @include setIconSize();
}

// DIALOG
.mat-mdc-dialog-panel {
  .mat-mdc-dialog-container {
    .mat-mdc-dialog-content {
      padding-top: 4px !important;
    }

    .mat-mdc-dialog-actions {
      padding-top: 8px;
     }
  }
}

// SELECT PANEL
.mat-mdc-select-panel {
  .mat-mdc-option {
    min-height: var(--app-select-option-min-height);

    .mat-icon {
      margin-right: 8px;
    }

    &.app-add {
      font-weight: 800;
      color: var(--app-color-primary);
    }
  }

  &.app-licenses {
    .mat-mdc-option {
      padding-top: 8px;
      padding-bottom: 8px;
      height: auto;
      line-height: normal;

      .app-license-desc {
        font-weight: 500;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--app-card-border-color);
      }

      &:not(.mat-mdc-option-active) {
        .app-license-desc {
          color: var(--app-gray-7);
        }
      }
    }
  }
}

// MENU
.mat-mdc-menu-panel {
  .mat-mdc-menu-item {
    min-height: var(--app-menu-item-min-height);
  }
}


// DENSITY - FORMS
.app-form-customize {

  @include mat.form-field-density(-6);
  @include mat.icon-button-density(-6);
  //@include mat.button-density(0);

  .mat-mdc-form-field-infix {
    display: flex;
  }

  .mat-mdc-form-field-icon-suffix {
    margin-right: 4px;
    display: flex;

    .mdc-icon-button {
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-icon {
        @include setIcon(18);
      }

      svg {
        --mdc-icon-button-icon-size: 18px;
      }
    }
  }
}

// angular override
:root {
  @include mat.slide-toggle-overrides((
    /* selected-handle-color: white,
    unselected-handle-color: var(--app-gray-6) */
  ));
  

  @include mat.radio-overrides((
    state-layer-size: calc(var(--app-radio-button-size) * 2)
  ));
  .mat-mdc-radio-group {
    .mat-mdc-radio-button {
      --mat-radio-state-layer-size: calc(var(--app-radio-button-size) * 2);
      margin-right: 8px;

      .mdc-radio__background::before {
        top: calc(-1 * (var(--mat-radio-state-layer-size, 40px) - var(--app-radio-button-size)) / 2) !important;
        left: calc(-1 * (var(--mat-radio-state-layer-size, 40px) - var(--app-radio-button-size)) / 2) !important;
      }
    
      .mdc-radio {
        display: flex !important;
        align-items: center;
        justify-content: center;
    
        .mdc-radio__background {
          height: var(--app-radio-button-size);
          width: var(--app-radio-button-size);
    
          .mdc-radio__inner-circle {
            border-width: calc(var(--app-radio-button-size) / 2);
          }
        }
      }
    }
  }
}

