// --- VARIABLES ---

// css variables
:root {
  @include mat.all-component-themes($app-theme);

  // colors
  --app-color-lightnes: #ffffff;
  --app-color-lightnes-rgb: 255, 255, 255;
  --app-color-darknes: #000000;
  --app-color-darknes-rgb: 0, 0, 0;
  --app-color-primary: #{mat.m2-get-color-from-palette($app-pprimary)};
  --app-color-warn: #{mat.m2-get-color-from-palette($app-pwarn)};
  --app-color-accent: #{mat.m2-get-color-from-palette($app-paccent)};
  --app-color-dev: #{mat.m2-get-color-from-palette($app-pdev)};

  --app-color-info: #{mat.m2-get-color-from-palette(mat.$m2-amber-palette, 900)};
  --app-color-success: #{mat.m2-get-color-from-palette(mat.$m2-green-palette, 800)};
  --app-color-disabled: var(--app-gray-4);

  // gray colors
  --app-gray-0: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-gray-palette, 50))};
  --app-gray-1: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-gray-palette, 100))};
  --app-gray-2: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-gray-palette, 200))};
  --app-gray-3: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-gray-palette, 300))};
  --app-gray-4: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-gray-palette, 400))};
  --app-gray-5: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-gray-palette, 500))};
  --app-gray-6: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-gray-palette, 600))};
  --app-gray-7: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-gray-palette, 700))};
  --app-gray-8: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-gray-palette, 800))};
  --app-gray-9: #{mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-gray-palette, 900))};

  --app-body-bg: var(--app-color-lightnes);
  --app-body-color: var(--app-color-darknes);

  --app-navbar-avatar-size: 40px;
  --app-navbar-avatar-bg-color: #{mat.m2-get-color-from-palette(mat.$m2-amber-palette, 900)};

  --app-footer-bg-color: var(--app-color-darknes);
  --app-footer-color: var(--app-gray-5);

  // home
  --app-home-card-gap: 32px;
  --app-home-card-width: 25%;
  --app-home-card-height: 260px;

  // global
  --app-card-view-header-height: 53px;
  --app-card-border-color: var(--mdc-outlined-card-outline-color);
  --app-card-bg-hover: var(--app-gray-1);

  --app-expansion-header-description-text-weight: 400;

  // MATERIAL

  // button
  --mdc-filled-button-container-height: 36px;

  // toogle botton
  --mat-standard-button-toggle-height: var(--mdc-filled-button-container-height);
  --mat-standard-button-toggle-selected-state-text-color: var(--app-color-lightnes);
  --mat-standard-button-toggle-selected-state-background-color: var(--app-color-primary);

  // card
  --mdc-outlined-card-container-shape: 0;
  --mat-card-title-text-weight: 500;;

  --mat-expansion-header-collapsed-state-height: 48px;
  --mat-expansion-header-expanded-state-height: var(--mat-expansion-header-collapsed-state-height);
  --mat-expansion-header-text-weight: 500;

  --mat-table-row-item-container-height: 48px;

  // checkbox
  --mdc-checkbox-state-layer-size: calc(40px - var(--app-checkbox-reduction));
  --mat-checkbox-label-text-size: 14px;
  --app-checkbox-default-size: 18px;
  --app-checkbox-reduction: 4px;
}
