// --- MATERIAL OVERRIDE ---

// card
.mat-card {
  &.app-card {
    @extend .app-clean-shadow, .app-clean-radius;
    color: $app-body-color !important;

    .mat-card-header {
      .mat-card-header-text {
        @extend .app-m-0;
      }

      .mat-card-title {
        .mat-icon {
          @extend .app-mr-1;
          @include setIcon(20, $position: bottom);
        }
      }
    }

    .mat-card-actions {
      @extend .app-m-0, .app-p-0;
    }
  }

  &.app-view-header {
    max-height: 53px;
  }

  &.app-view-border {
    border: 1px solid $app-card-border-color;
  }

  &.app-view-hover {
    &:hover {
      background-color: $app-card-bg-hover;
    }
  }

  &.app-view-item {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color:  $app-card-border-color;

    &:nth-of-type(1) {
      border-top: 1px solid $app-card-border-color !important;
    }
  }

  &.app-view-rights {
    @extend .app-clean-shadow, .app-clean-radius;
   
    &:not(:last-child) {
      border-bottom: 1px solid $app-card-border-color;
    }

    &.app-card-expanded {
      background-color: $app-card-bg-hover;
    }

    .mat-card-header {
      .app-left {
        .mat-card-title {
          font-size: 16px;
        }
    
        .mat-card-subtitle {
          @extend .app-mb-0;
        }
      }
    }

    .app-right {
      &.app-actions {
        a {
          @extend .app-ml-4;
          color: $app-color-primary;

          &:not(.app-ico-expand) {
            .mat-icon {
              @include setIcon(20);
            }
          }
        }
      }
    }
  }

  .app-button-wrapper {
    @extend .app-p-4;
    background-color: $app-card-bg-hover;
  }

  &.app-view-alert {
    @extend .app-clean-shadow;
    @include setAlertCard();
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;

    .mat-card-content {
      @extend .app-text-center;

      .mat-icon {
        @extend .app-mr-2;
      }
    }
  }
}

// button toogle
.mat-button-toggle-appearance-standard {
  color: $app-color-primary !important;
  
  &.mat-button-toggle-checked {
    background-color: $app-color-primary !important;
    color: $app-color-lightnes !important;
  }
  
  .mat-button-toggle-label-content {
    line-height: $app-button-height;
  }
}

// button
.mat-button-base {
  line-height: $app-button-height !important;

  &.mat-flat-button {
    &:not(.mat-primary, .mat-warn, .mat-accent) {
      background-color: $app-gray-0;
    }

    .mat-icon {
      @extend .app-mr-1, .app-ml-n2;

      @include setIcon(20);
    }
  }
}

// badge
.mat-badge {
  &.mat-badge-medium {
    &.mat-badge-after {
      .mat-badge-content {
        right: -30px;
      }
    }

    &.mat-badge-above {
      .mat-badge-content {
        top: 0;
        width: $app-badge-size;
        height: $app-badge-size;
        line-height: $app-badge-size;
      }
    }
  }
}

// form field
.mat-form-field {
  &.app-select {
    .mat-form-field-wrapper {
      margin-bottom: -1.34375em;

      .mat-form-field-infix,
      .mat-form-field-flex  {
        @extend .app-pt-0;

        .mat-select {
          .mat-select-arrow-wrapper {
            vertical-align: bottom;
          }
        }
      }
    }
  }

  &.app-download {
    textarea {
      &.mat-input-element {
        @extend .app-mt-4;
      }
    }

    .mat-form-field-suffix {
      position: absolute;
      top: 10px;
      right: 8px;
    }
  }
}

// tooltip
.mat-tooltip {
  font-size: 14px;
}