// --- MATERIAL OVERRIDE ---

// card
.mat-card {
  &.app-card {
    @extend .app-clean-shadow, .app-clean-radius;
    color: $app-body-color;

    .mat-card-header {
      .mat-card-header-text {
        @extend .app-m-0;
      }

      .mat-card-title {
        .mat-icon {
          @extend .app-mr-1;
          @include setIcon(20, $position: bottom);
        }
      }
    }

    .mat-card-actions {
      @extend .app-m-0, .app-p-0;
    }
  }

  &.app-view-header {
    max-height: 53px;
  }

  &.app-view-border {
    border: 1px solid $app-card-border-color;
  }

  &.app-view-hover {
    &:hover {
      background-color: $app-card-bg-hover;
    }
  }
  
  &.app-view-border-bottom {
    border-bottom: 1px solid $app-card-border-color;
  }

  &.app-view-item {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color:  $app-card-border-color;

    &:nth-of-type(1) {
      border-top: 1px solid $app-card-border-color !important;
    }

    &.app-selected {
      background-color: rgba($app-color-accent, .03);
    }

    .mat-card-header {
      .mat-card-title {
        font-size: 16px;

        .mat-icon {
          @include setIcon(16, $position: middle);
        }
      }
    }
  }

  &.app-view-rights {
    @extend .app-clean-shadow, .app-clean-radius;
   
    &:not(:last-child) {
      border-bottom: 1px solid $app-card-border-color;
    }

    &.app-card-expanded {
      //background-color: rgba($app-color-accent, .03);
    }

    .mat-card-header {
      .app-left {
        .mat-card-title {
          font-size: 16px;
        }
    
        .mat-card-subtitle {
          @extend .app-mb-0;
        }
      }
      
      img {
        //max-height: 60px;
        max-width: 60px;
      }
    }

    .app-right {
      &.app-actions {
        a {
          @extend .app-ml-4;
          color: $app-color-primary;

          &:not(.app-ico-expand) {
            .mat-icon {
              @include setIcon(20);
            }
          }
        }
      }
    }
  }

  &.app-view-alert {
    @extend .app-clean-shadow;
    @include setAlertCard();
    border: 1px solid;

    .mat-card-content {
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-icon {
        @extend .app-mr-2;
      }
    }
  }

  &.app-view-dev {
    position: relative;
    background-color: rgba($app-color-dev, .1) !important;
    border: 1px solid rgba($app-color-dev, .4);

    .app-marker {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $app-color-dev;
      color: $app-color-lightnes;
      font-size: 12px;
      padding: 1px 4px;
    }

    .mat-flat-button {
      background-color: $app-color-dev !important;
    }
  }

  &.app-not-allowed {
    color: $app-color-disabled !important; 

    .mat-card-header {
      .mat-card-title,
      .mat-card-subtitle {
        color: $app-color-disabled !important;
      }

      img {
        filter: grayscale(100%);
        opacity: .5;
      }
    }
  }

  .app-button-wrapper {
    @extend .app-p-4;
    background-color: $app-card-bg-hover;
  }
}

// button toogle
.mat-button-toggle-appearance-standard {
  color: $app-color-primary !important;
  
  &.mat-button-toggle-checked {
    background-color: $app-color-primary !important;
    color: $app-color-lightnes !important;
  }
  
  .mat-button-toggle-label-content {
    line-height: $app-button-height;
  }
}

// button
.mat-button-base {
  line-height: $app-button-height !important;

  &.mat-flat-button {
    &:not(.mat-primary, .mat-warn, .mat-accent) {
      background-color: $app-gray-0;
    }

    .mat-icon {
      @extend .app-mr-1, .app-ml-n2;

      @include setIcon(20);
    }
  }
}

// badge
.mat-badge {
  &.mat-badge-medium {
    &.mat-badge-after {
      .mat-badge-content {
        right: -30px;
      }
    }

    &.mat-badge-above {
      .mat-badge-content {
        top: 0;
        width: $app-badge-size;
        height: $app-badge-size;
        line-height: $app-badge-size;
      }
    }
  }
}

// form field
.mat-form-field {
  &.app-select {
    .mat-form-field-wrapper {
      margin-bottom: -1.34375em;

      .mat-form-field-infix,
      .mat-form-field-flex  {
        @extend .app-pt-0;

        .mat-select {
          .mat-select-arrow-wrapper {
            vertical-align: bottom;
          }
        }
      }
    }
  }

  &.app-download {
    textarea {
      &.mat-input-element {
        @extend .app-mt-4;
      }
    }

    .mat-form-field-suffix {
      position: absolute;
      top: 10px;
      right: 8px;
    }
  }
}

// tooltip
.mat-tooltip {
  font-size: 14px;

  &.app-alert-not-allowed {
    @extend .app-text-center;
    background-color: $app-color-warn;
    color: $app-color-lightnes;
  }
}

// table
.mat-table {
  &.app-view-border {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: $app-table-color-border;
  }

  tbody {
    .mat-row {
      &:hover {
        background: $app-table-color-bg-hover;
      }
  
      &.active {    
        &:hover {
          background: $app-table-color-bg-hover;
        }
      }

      &:last-child {
        .mat-cell {
          border-bottom: none;
        }
      }

      &.app-not-allowed {
        color: $app-color-disabled !important; 
  
        .mat-cell, a, .mat-icon {
          color: $app-color-disabled !important; 
        }

        .app-badge {
          background-color: $app-color-disabled !important;
        }
      }

      .mat-cell {
        &:first-of-type {
          @extend .app-pl-4;
        }

        &:last-of-type {
          @extend .app-pr-4;
        }

        .app-text-cutter-wrapper {
          position: relative;
          display: flex;
        }
  
        .app-text-cutter {
          @extend .app-pr-4;
          position: absolute;
          max-width: 100%;
          align-self: center;
        }
      } 
    }
  }
}

// paginator
.mat-paginator {
  .app-table-wrapper & {
    bottom: 0px;
    position: sticky;
    z-index: 10;
    border-top: 1px solid $app-table-color-border;
  }
}

// tab navbar
.mat-tab-nav-bar {
  &.mat-tab-header {
    @extend .app-clean-border;
  }

  .mat-tab-links {
    .mat-tab-link {
      opacity: unset;

      &.mat-tab-label-active {
        font-weight: 900;
      }

      &:not(.mat-tab-label-active) {
        color: $app-gray-6;
        font-weight: normal;

        .mat-badge-content {
          background-color: $app-gray-5;
        }
      }

      .mat-icon {
        @extend .app-mr-2;
        @include setIcon(20);
      }

      .mat-badge {
        .mat-icon {
          @include setIcon($position: sub);
        }

        .mat-badge-content {
          right: -6px;
        }

        .app-push-right {
          margin-right: 24px;
        }
      }
    }
  }
}

// slide toggle
.mat-slide-toggle {
  .mat-slide-toggle-content {
    font-size: 14px;
  }
}

// icon
.mat-icon {
  @include setIconSize();
}