// --- GLOBAL ---

@include setGap();

a {
  @extend .app-cursor-pointer;
}

// cleaners
.app-cleanfix {
  @include cleanfix();
}

.app-clean-bg {
  background-color: transparent !important;
}

.app-clean-radius {
  border-radius: 0 !important;
}

.app-clean-border {
  border: 0 !important;
}

.app-clean-shadow {
  box-shadow: none !important;
}

.app-dn {
  display: none;
}

.app-vh {
  visibility: hidden;
}


// common
.app-cursor-pointer {
  cursor: pointer;
}

.app-oh {
  overflow: hidden;
}

.app-oa-y {
  overflow-y: auto;
}

.app-oa-x {
  overflow-x: auto;
}

.app-w-100 {
  width: 100% !important;
}

.app-h-100 {
  height: 100% !important;
}

.app-rotate-up {
  .mat-icon {
    &:not(.app-no-rotate) {
      transition: all 0.4s ease;
      transform: rotateZ(180deg);
    }
  }
}

.app-rotate-down {
  .mat-icon {
    &:not(.app-no-rotate) {
      transition: all 0.4s ease;
      transform: rotateZ(0deg);
    }
  }
}

// pipe
.app-pipe {
  @extend .app-ml-2, .app-mr-2;
  border-left: 1px solid $app-gray-4;

  &:last-child {
    @extend .app-dn;
  }
}

// table
table {
  // standart table
  &.app-table {
    @extend .app-w-100;
    $app-tbc: $app-gray-1;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: $app-tbc;

    tr {
      td, th {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: $app-tbc;
        padding: 4px 8px;
        vertical-align: top;
        text-align: left;
      }
    }

    thead {
      tr {
        th {
          /* font-size: 12px;
          font-weight: 500;
          color: $app-gray-6; */
        }
      }
    }

    tbody {
      tr {
        td {
          &.app-col-action {
            width: 30px;
            color: $app-color-primary;

            .mat-icon {
              @include setIcon(18, $position: sub)
            }
          }
        }

        &:hover {
          td {
            background-color: $app-gray-0;
          }
        }
        &:nth-child(odd) {
          background-color: rgba($app-gray-0, .5);
        }

        .app-input {
          width: calc(100% - 4px);
        }
      }
    }
  }
}


// table - hozna
.app-table {
  margin: 0;
  background: $app-table-color-bg;
  padding: 0;
  
  .app-row {
    border-bottom-color: rgba(0,0,0,.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 24px;
    display: flex;
    height: 48px;
    line-height: 48px;
    color: $app-table-color-fg;
    text-decoration: none;
    overflow: hidden;
    font-size: 14px;

    &:hover {
      background: $app-action-transparent;
    }

    &.app-header {
      // color: rgba(0,0,0,.63);
      font-size: 12px;
      height: 54px;
      line-height: 54px;
      &:hover {
        background: $app-table-color-bg;
      }
      .app-sortable {
        cursor: pointer;
        display: inline-block;
        user-select: none;
        mat-icon {
          vertical-align: middle;
        }
      }
    }

    &.active {
      background: $app-table-color-bg-active;

      &:hover {
        background: $app-table-color-bg-hover;
      }
    }
  }
}