// --- THEME ---

// @import '~@angular/material/theming';
// @include mat-core();

// $app-primary: mat-palette($mat-light-blue, 800);
// $app-accent: mat-palette($mat-pink, 500, 900, A100);
// $app-warn: mat-palette($mat-red, 600);
// $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// @include angular-material-theme($app-theme);


@use '@angular/material' as mat;
@include mat.core();

$app-pprimary: mat.m2-define-palette(mat.$m2-light-blue-palette, 800);
$app-primary: mat.m2-get-color-from-palette($app-pprimary); 

$app-paccent: mat.m2-define-palette(mat.$m2-pink-palette, 500, 900, A100);
$app-accent: mat.m2-get-color-from-palette($app-paccent);

$app-pwarn: mat.m2-define-palette(mat.$m2-red-palette, 600);
$app-warn: mat.m2-get-color-from-palette($app-pwarn);

$app-pdev: mat.m2-define-palette(mat.$m2-teal-palette);
$app-dev: mat.m2-get-color-from-palette($app-pdev);

$app-theme: mat.m2-define-light-theme((
 color: (
   theme-type: light,
   primary: $app-pprimary,
   accent: $app-paccent,
   warn: $app-pwarn,
 )
 //density: 0,
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($app-theme);
}