// --- MATERIAL OVERRIDE UPGRADE ---

.mat-mdc-card {
  &.app-hover{
    &:hover {
      background-color: var(--app-card-bg-hover);
    }
  }
  
  &.app-view-alert {
    @include setAlertCard();

    .mat-mdc-card-content {
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-icon {
        @extend .app-mr-2;
      }
    }
  }

  &.app-view-header {
    @extend .app-p-4;
    max-height: var(--app-card-view-header-height);
  }

  &.app-view-item {
    @extend .app-p-4, .app-cursor-pointer;
    
    &:not(:first-child) {
      border-top: 0;
    }

    &:hover {
      background-color: var(--app-card-bg-hover);
    }

    .mat-mdc-card-header {
      @extend .app-p-0;
    }

    .app-right {
      &.app-actions {
        a {
          @extend .app-ml-4;
          color: $app-color-primary;

          .mat-icon {
            @include setIcon(20);
          }
        }
      }
    }
  }

  .app-mark-rounded {
    @include setDashboardColor();
  }
}

.mat-accordion {
  &.app-view-default {
    .mat-expansion-panel {
      @extend .app-clean-shadow, .app-clean-radius, .app-m-0;
      border: 1px solid var(--app-card-border-color);
      
      &:not(:first-child) {
        border-top: 0;
      }

      &.mat-expanded {
        background-color: var(--app-gray-0)
      }

      .mat-expansion-panel-header {
        @extend .app-pl-4, .app-pr-4;

        .mat-expansion-panel-header-description {
          font-weight: var(--app-expansion-header-description-text-weight);
        }
      }

      .mat-expansion-panel-content {
        .mat-expansion-panel-body {
          @extend .app-pl-4, .app-pr-4;
        }

        .mat-action-row {
          @extend .app-clean-border, .app-p-4;
          padding-top: 0 !important;
        }
      }
    }
  }
}

.mat-mdc-form-field {
  background-color: var(--app-color-lightnes);

  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }
}