.app-root {
    padding: 16px;
}

.app-form-field {
    margin-right: 16px;
    width: 350px;
}

.app-update-property-btn {
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 16px;
}

.app-subhead {
    margin-bottom: 24px;
    margin-top: -8px;
    font-size: 90%;
}
