
.app-collection {
  padding: 20px;
  height: calc(100% - 50px);
  overflow: auto;
  .app-name {
    font-size: 20px;
    color: #333;
  }
  .app-description {
    margin-top:8px;
    font-size: 15px;
    color: #555;
  }
  .app-standalone {
    margin-top:8px;
    font-size: 15px;
    color: #555;
  }
  .app-content {
    margin-top:25px;
    font-size: 14px;
    color: #666;
  }
}
