<div class="app-container app-collection app-h-100">
  <div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center" class="app-mb-4">
      <mat-button-toggle-group>
        <mat-button-toggle (click)="changeView('detail')" [class.mat-button-toggle-checked]="view == 'detail'">Detail
        </mat-button-toggle>
        <mat-button-toggle (click)="changeView('edit')" [class.mat-button-toggle-checked]="view == 'edit'">Úprava
        </mat-button-toggle>
        <mat-button-toggle (click)="changeView('content')" [class.mat-button-toggle-checked]="view == 'content'">Obsah
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div fxFlex class="app-oh" *ngIf="collection">
      <mat-progress-bar mode="indeterminate" *ngIf="state=='loading'" class="app-mn-4"></mat-progress-bar>
      <mat-card fxLayout="column" *ngIf="view == 'detail'"
        class="app-card app-view-border app-maxh-100 app-p-0 app-oa-y">
        <div class="app-p-4">
          <div fxLayout="row" fxLayoutGap="16px" class="app-mb-4">
            <mat-card fxFlex class="app-card app-view-border">
              <mat-card-header>
                <mat-card-subtitle class="app-mb-2">Název sbírky</mat-card-subtitle>
                <mat-card-title class="app-m-0">{{ collection.name_cze }}</mat-card-title>
              </mat-card-header>
            </mat-card>
            <mat-card fxFlex class="app-card app-view-border">
              <mat-card-header>
                <mat-card-subtitle class="app-mb-2">Název sbírky (anglický)</mat-card-subtitle>
                <mat-card-title class="app-m-0">{{ collection.name_eng }}</mat-card-title>
              </mat-card-header>
            </mat-card>
            <mat-card fxFlex class="app-card app-view-border">
              <mat-card-header>
                <mat-card-subtitle class="app-mb-2">Samostatná sbírka</mat-card-subtitle>
                <mat-card-title class="app-m-0">{{ collection.standalone ? "Ano" : "Ne" }}</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
          <div fxLayout="row" fxLayoutGap="16px" class="app-mb-4">
            <mat-card fxFlex class="app-card app-view-border">
              <mat-card-header>
                <mat-card-subtitle class="app-mb-2">Krátky popis sbírky</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>{{ collection.description_cze }}</mat-card-content>
            </mat-card>
            <mat-card fxFlex class="app-card app-view-border">
              <mat-card-header>
                <mat-card-subtitle class="app-mb-2">Krátky popis sbírky (anglický)</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>{{ collection.description_eng }}</mat-card-content>
            </mat-card>
          </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-card fxFlex class="app-card app-view-border">
              <mat-card-header>
                <mat-card-subtitle class="app-mb-2">Úplný popis sbírky</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content [innerHTML]="collection.content_cze"></mat-card-content>
            </mat-card>
            <mat-card fxFlex class="app-card app-view-border">
              <mat-card-header>
                <mat-card-subtitle class="app-mb-2">Úplný popis sbírky (anglický)</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content [innerHTML]="collection.content_eng"></mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card>

      <mat-card fxLayout="column" *ngIf="view == 'edit'" class="app-card app-view-border app-maxh-100 app-p-0 app-oa-y">
        <app-edit-collection (delete)="onDelete()" (updated)="onUpdated()" [colId]="collection.id">
        </app-edit-collection>
      </mat-card>

      <div class="app-right app-actions" style="margin: 8px;">
        <!-- TODO: zarovnat doprava -->
        <a (click)="onAddItemsToCollection()" matTooltip="Přidat do této sbírky">
          <mat-icon>add</mat-icon>
        </a>
      </div>

      <mat-card fxLayout="column" *ngIf="view === 'content' && collection.items"
        class="app-card app-view-border app-maxh-100 app-p-0 app-oa-y">
        <mat-progress-bar mode="indeterminate" *ngIf="state=='loading'"></mat-progress-bar>

        <!-- sbirky -->
        <mat-card class="app-view-rights app-view-hover item-collection" *ngFor="let item of filterCollections(items)">
          <a class="app-row" [routerLink]="['/collections', item['pid']]">
            <mat-card-header fxLayout="row" fxLayoutGap="16px">
              <div>
                <img [src]="getThumb(item['pid'])" />
              </div>
              <div fxFlex class="app-left">
                <mat-card-title>{{ getName(item) }} <ng-container *ngIf="item['title.search'] != item['root.title']">({{
                    item['root.title'] }})</ng-container>
                </mat-card-title>
                <mat-card-subtitle>{{ getModel(item['model']) }}</mat-card-subtitle>
              </div>
              <div class="app-right app-actions">
                <a (click)="onRemoveItemFromCollection(item['pid'])" matTooltip="Odstranit ze sbírky">
                  <mat-icon>cancel</mat-icon>
                </a>
              </div>
            </mat-card-header>
          </a>
        </mat-card>

        <!-- ostatni -->
        <mat-card class="app-view-rights app-view-hover" *ngFor="let item of filterNonCollections(items)"
          [ngClass]="{'item-collection':item['model'] == 'collection'}">
          <mat-card-header fxLayout="row" fxLayoutGap="16px">
            <div>
              <img [src]="getThumb(item['pid'])" />
            </div>
            <div fxFlex class="app-left">
              <mat-card-title>{{ getName(item) }} <ng-container *ngIf="item['title.search'] != item['root.title']">({{
                  item['root.title'] }})</ng-container>
              </mat-card-title>
              <mat-card-subtitle>{{ getModel(item['model']) }}</mat-card-subtitle>
            </div>
            <div class="app-right app-actions">
              <a (click)="onRemoveItemFromCollection(item['pid'])" matTooltip="Odstranit ze sbírky">
                <mat-icon>cancel</mat-icon>
              </a>
            </div>
          </mat-card-header>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>


<!--
<mat-menu #collectionsMenu="matMenu" xPosition="before" class="app-collections-menu">
  <ng-template matMenuContent ngFor>
    <div class="app-collections">
      <div *ngFor="let collection of availableCollections" class="app-collection"
        (click)="addThisToCollection(collection)">
        {{ collection['title.search'] }}
      </div>
    </div>
  </ng-template>
</mat-menu> -->