
.app-collection {
  padding: 20px;
  height: calc(100% - 50px);
  overflow: auto;
  .app-label {
    font-size: 12px;
    color: #666666;
  }
  .app-name {
    font-size: 20px;
    color: #333;
    margin: 10px 0 20px;
  }
  .app-description {
    font-size: 15px;
    color: #333;
    margin: 6px 0 20px;
  }
  .app-standalone {
    font-size: 15px;
    color: #333;
    margin: 6px 0 20px;
  }
  .app-content {
    font-size: 15px;
    color: #333;
  }
}
