<div class="breadcrumb-nav">
  <div class="app-actions" *ngIf="collection">
    <a class="action-btn" mat-icon-button color="default" matTooltip="Upravit sbírku"
      [routerLink]="['/collections', collection.id, 'edit']">
      <mat-icon>edit</mat-icon>
    </a>
    <a class="action-btn" mat-icon-button color="default" matTooltip="Odstranit sbírku" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </a>
  </div>
  <div class="app-nav">
    <a [routerLink]="['/collections']">Sbírky</a>
    <ng-container *ngIf="collection">
      <mat-icon>chevron_right</mat-icon>
      <span>{{ collection.name }}</span>
    </ng-container>
  </div>
</div>

<div class="app-collection" *ngIf="collection">
  <div class="app-name">
    {{ collection.name }}
  </div>
  <div class="app-description">
    {{ collection.description }}
  </div>
  <div class="app-content" [innerHTML]="collection.content"></div>

  <!-- TODO: udelat poradne seznam polozek -->
  <div *ngIf="collection.items">
    <div>Položky ve sbírce</div>
    <ng-container *ngFor="let item of collection.items">
      {{item}}
      <button (click)="onRemoveItemFromCollection(item)">Odstranit ze sbírky</button>
    </ng-container>
  </div>

</div>

<mat-spinner *ngIf="state === 'loading'" [strokeWidth]="5" [diameter]="60" class="center-spinner">
</mat-spinner>