


.app-process-logs-wrapper {
  height: 100%;
  .app-process-logs-data {
    height: calc(100% - 60px);
    overflow: auto;
    background-color: #fff;
    padding: 0 16px;
    .app-process-logs-line {
      white-space: pre;
      color: #333;
      line-height: 20px;
      font-size: 15px;
    }
  }
}