<div fxLayout="column" fxFlexFill>
	<div fxLayout="row">
		<div fxFlex fxLayoutAlign="start center">
			<a mat-flat-button color="primary" [href]="urlOutUrl">
				<mat-icon>download</mat-icon>
				{{ logType === 'out' ?  'Stáhnout celý standarní výstup' : 'Stáhnout celý chybový výstup' }}
			</a>
		</div>
		<div>
			<mat-paginator [length]="resultCount" hidePageSize="true" [pageIndex]="pageIndex" [pageSize]="pageSize" [showFirstLastButtons]="true" (page)="onPageChanged($event)"></mat-paginator>
		</div>
	</div>
	<div fxFlex class="app-oa-y">
		<div *ngFor="let line of lines">{{ line }}</div>
	</div>
</div>