<div class="app-root">

    <h2>Nastavení licencí</h2>
    <div>
        <button class="app-btn" mat-raised-button (click)="openChangePolicyDialog()" color="primary">
            Změnit viditelnost</button>
        <br>
        <button class="app-btn" mat-raised-button (click)="todo()" disabled color="primary">
            Nastavit licenci (DNNT)</button>
        <br>
        <button class="app-btn" mat-raised-button (click)="todo()" disabled color="primary">
            Nastavit licenci (DNNT 2)</button>
        <br>
    </div>

</div>