<ng-container *ngIf="!errorState">
  <mat-progress-bar mode="indeterminate" *ngIf="state=='loading'"></mat-progress-bar>
  <mat-accordion class="app-view-default" *ngIf="state=='success'"><!--multi-->
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" *ngFor="let param of params">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ param.description }}<span class="app-badge app-count">{{ param.values.length }}</span></mat-panel-title>
        <div class="app-actions">
          <a (click)="onEditParam(param); $event.stopPropagation();" [matTooltip]="'button.editParameter' | translate"><mat-icon>edit</mat-icon></a>
          <a (click)="onRemoveParam(param); $event.stopPropagation();" [matTooltip]="'button.deleteParameter' | translate"><mat-icon>delete</mat-icon></a>
        </div>
      </mat-expansion-panel-header>
        <table [cellPadding]="0" [cellSpacing]="0" class="app-table">
          <thead>
            <tr>
              <th>{{ 'desc.value' | translate }}</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let value of param.values; let index = index">
              <td> {{ value }}</td>
              <td class="app-col-action">
                <a (click)="onEditValue(param, index)" [matTooltip]="'button.editValue' | translate"><mat-icon>edit</mat-icon></a>
              </td>
              <td class="app-col-action">
                <a (click)="onRemoveValue(param, index)" [matTooltip]="'button.deleteValue' | translate"><mat-icon>delete</mat-icon></a>
              </td>
            </tr>
          </tbody>
        </table>
        <mat-action-row>
          <button mat-flat-button (click)="onNewValue(param)" color="primary">{{ 'button.addValue' | translate }}</button>
        </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="app-text-right app-pt-4">
    <button mat-flat-button (click)="onNewParam()" color="primary">{{ 'button.addParameter' | translate }}</button>
  </div>
</ng-container>

<mat-card appearance="outlined" *ngIf="errorState" class="app-view-alert app-warn">
  <mat-card-content>
    <mat-icon>error</mat-icon>{{ errorMessage }}
  </mat-card-content>
</mat-card>