@if (!errorState) {
  @if (state=='loading') {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  @if (state=='success') {
    <mat-accordion class="app-view-default"><!--multi-->
      @for (param of params; track param) {
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ param.description }}<span class="app-badge app-count">{{ param.values.length }}</span></mat-panel-title>
            <div class="app-actions">
              <a (click)="onEditParam(param); $event.stopPropagation();" [matTooltip]="'button.editParameter' | translate"><mat-icon>edit</mat-icon></a>
              <a (click)="onRemoveParam(param); $event.stopPropagation();" [matTooltip]="'button.deleteParameter' | translate"><mat-icon>delete</mat-icon></a>
            </div>
          </mat-expansion-panel-header>
          <table [cellPadding]="0" [cellSpacing]="0" class="app-table">
            <thead>
              <tr>
                <th>{{ 'desc.value' | translate }}</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              @for (value of param.values; track value; let index = $index) {
                <tr>
                  <td> {{ value }}</td>
                  <td class="app-col-action">
                    <a (click)="onEditValue(param, index)" [matTooltip]="'button.editValue' | translate"><mat-icon>edit</mat-icon></a>
                  </td>
                  <td class="app-col-action">
                    <a (click)="onRemoveValue(param, index)" [matTooltip]="'button.deleteValue' | translate"><mat-icon>delete</mat-icon></a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
          <mat-action-row>
            <button mat-flat-button (click)="onNewValue(param)" color="primary">{{ 'button.addValue' | translate }}</button>
          </mat-action-row>
        </mat-expansion-panel>
      }
    </mat-accordion>
  }
  <div class="app-text-right app-pt-4">
    <button mat-flat-button (click)="onNewParam()" color="primary">{{ 'button.addParameter' | translate }}</button>
  </div>
}

@if (errorState) {
  <mat-card appearance="outlined" class="app-view-alert app-warn">
    <mat-card-content>
      <mat-icon>error</mat-icon>{{ errorMessage }}
    </mat-card-content>
  </mat-card>
}