.app-footer {
  padding: 16px;
  background-color: var(--app-footer-bg-color);
  color: var(--app-footer-color);
  font-size: 14px;

  .app-left {
    .app-pipe {
      opacity: .5;
    }
  }

  .app-right {
    img {
      margin-left: 4px;
      height: 15px;
      vertical-align: middle;
    }
  }
}