<footer class="app-footer" fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="center center">
  <div fxFlex class="app-left">
    <strong>K7 Admin © {{ currentYear }}</strong>
    <span class="app-pipe"></span>
    {{ 'desc.tokenExpiresAt' | translate }}: <strong>{{ getTokenDeadline() }}</strong> <!-- {{getTokenDeadline() +" ("+ tokenHours+":"+tokenMinutes+":"+tokenSeconds+")"}}-->
  </div>
  <div class="app-right">Developed by <a href="https://www.inovatika.cz" title="Inovatika" target="_blank"><img src="assets/img/logo-inovatika.png" alt="Inovatika" /></a></div>
</footer>