.mat-toolbar {
  z-index: 10;

  .mat-mdc-button{
    --mat-text-button-horizontal-padding: 12px;
    color: var(--app-color-lightnes);

    &:hover {
      &:not(.app-avatar) {
        background-color: rgba(var(--app-color-lightnes-rgb), .2);
      }
    }

    &.active {
      background-color: rgba(var(--app-color-lightnes-rgb), .2);
    }
  }

  .app-avatar {
    div {
      width: var(--app-navbar-avatar-size);
      height: var(--app-navbar-avatar-size);
      border-radius: 50%;
      font-size: 16px;
      font-weight: 900;
      text-transform: uppercase;
      background-color: var(--app-navbar-avatar-bg-color);
    }
  }
}