.mat-mdc-table {
  .mat-mdc-row {
    .mat-column-code {
      width: 100px;
    }
  }
}

.clickable {
  cursor: pointer; /* Změna kurzoru při najetí */
  transition: background-color 0.2s ease-in-out;
}

.clickable:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Jemný hover efekt */
}

.clickable:active {
  transform: scale(0.95); /* Jemný efekt při kliknutí */
}