<div class="app-fxLayout app-column app-fill">
  <mat-card appearance="outlined" class="app-view-header app-fxLayout app-row app-center-v app-clean-border-b app-form-customize">
    <div class="app-fxFlex app-fxLayout app-row app-center-v app-gap-2">
      <!-- <mat-form-field appearance="outline" *ngIf="pid">
        <mat-label>PID</mat-label>
        <input matInput [(ngModel)]="pid" (keyup)="onIdentKeyUp($event.target)">
        <button matSuffix mat-icon-button aria-label="Clear" color="warn">
          <mat-icon (click)="onDeletePidClick()">close</mat-icon>
        </button>
      </mat-form-field> -->
      <mat-chip-listbox>
        <mat-chip-row *ngIf="pid" class="app-pid">
          <div class="app-text-cutter" [matTooltip]="pid">{{ pid }}</div>
          <button matChipRemove class="app-pr-0" [matTooltip]="'button.copyTheTextToTheClipboard' | translate" (click)="copyTextToClipboard(pid)"><mat-icon>content_copy</mat-icon></button>
          <button matChipRemove (click)="onDeletePidClick()"><mat-icon>cancel</mat-icon></button>
        </mat-chip-row>
        <mat-chip-row *ngFor="let filter of filters" [ngClass]="'app-' + filter.split(':')[1]">
          {{ 'field.' + filter.split(':')[1] | translate }}<button matChipRemove (click)="onFilterRemoveClick(filter)"><mat-icon>cancel</mat-icon></button>
        </mat-chip-row>
      </mat-chip-listbox>
    </div>

    <div>
      <button mat-flat-button color="primary" (click)="reloadReharvests()" class="app-mr-2">{{ 'button.reload' | translate }}</button>
      <button mat-flat-button (click)="openScheduledReHarvestSpecificPidsDialog()" color="primary">{{ 'button.reHarvestSpecificPids' | translate }}</button>
    </div>
  </mat-card>

  <div class="app-fxFlex app-table-wrapper app-view-border app-maxh-100 app-oa-y">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource" class="app-w-100">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.date' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element.indexed | date:'dd.MM.yyy HH:mm:ss'}}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="pid">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.pid' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <div class="app-fxLayout app-row app-center-v app-gap-1">
            <button mat-icon-button color="primary" [matTooltip]="'button.copyTheTextToTheClipboard' | translate" (click)="copyTextToClipboard(element.pid)">
              <mat-icon>content_copy</mat-icon>
            </button>
            <a [href]="clientLink(element.pid)" target="_blank">{{ element.pid }}</a>
            <button mat-icon-button color="primary" (click)="onPidClick(element.pid)">
              <mat-icon>filter_list</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.code' | translate }}</th>
        <td  mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.libraries">
            <div  matTooltip="{{ element.libraries.join(', ') }}" class="app-text-cutter-wrapper">
              <div class="app-text-cutter">
                <strong>{{(element.libraries.join(", ") )}}</strong>
              </div>
            </div> 
          </ng-container>
          <ng-container *ngIf="!element.libraries">
            {{ 'desc.none' | translate }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.type' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container  [ngSwitch]="element.type">
            <div *ngSwitchCase="'root'" class="app-badge app-cursor-pointer" (click)="onTypeClick(element.type)">{{  'field.root'  | translate }}</div>
            <div *ngSwitchCase="'children'" class="app-badge app-cursor-pointer" (click)="onTypeClick(element.type)">{{ 'field.children'   | translate }}</div>
            <div *ngSwitchCase="'new_root'" class="app-badge app-cursor-pointer" (click)="onTypeClick(element.type)">{{ 'field.new_root'   | translate }}</div>
            <div *ngSwitchCase="'only_pid'" class="app-badge app-cursor-pointer" (click)="onTypeClick(element.type)">{{ 'field.only_pid'   | translate }}</div>
            <div *ngSwitchCase="'delete_pid'" class="app-badge app-cursor-pointer" (click)="onTypeClick(element.type)">{{ 'field.delete_pid'   | translate }}</div>
            <div *ngSwitchCase="'delete_tree'" class="app-badge app-cursor-pointer" (click)="onTypeClick(element.type)">{{ 'field.delete_tree'   | translate }}</div>
            <div *ngSwitchCase="'delete_root'" class="app-badge app-cursor-pointer" (click)="onTypeClick(element.type)">{{ 'field.delete_root'   | translate }}</div>
          </ng-container>
        </td>
      </ng-container>
        
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.state' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container  [ngSwitch]="element.state">
            <div *ngSwitchCase="'harvesting'" class="app-badge app-running app-cursor-pointer"  (click)="onStateClick(element.state)">{{ 'field.' + element.state | translate }}</div>
            <div *ngSwitchCase="'running'" class="app-badge app-running app-cursor-pointer"  (click)="onStateClick(element.state)">{{ 'field.' + element.state | translate }}</div>
            <div *ngSwitchCase="'harvested'" class="app-badge app-finished app-cursor-pointer"  (click)="onStateClick(element.state)">{{ 'field.' + element.state | translate }}</div>
            <div *ngSwitchCase="'closed'" class="app-badge app-closed app-cursor-pointer"  (click)="onStateClick(element.state)">{{ 'field.' + element.state | translate }}</div>
            <div *ngSwitchCase="'open'" class="app-badge app-planned app-cursor-pointer"  (click)="onStateClick(element.state)">{{ 'field.' + element.state | translate }}</div>
            <div *ngSwitchCase="'too_big'" class="app-badge app-warning app-cursor-pointer"  (click)="onStateClick(element.state)">{{ 'field.' + element.state | translate }}</div>
            <div *ngSwitchCase="'waiting_for_approve'" class="app-badge app-waiting_for_approve app-cursor-pointer"  (click)="onStateClick(element.state)">{{ 'field.' + element.state | translate }}</div>
            <div *ngSwitchCase="'cancelled'" class="app-badge app-canceled app-cursor-pointer"  (click)="onStateClick(element.state)">{{ 'field.' + element.state | translate }}</div>
            <div *ngSwitchCase="'failed'" class="app-badge app-failed app-cursor-pointer"  (click)="onStateClick(element.state)">{{ 'field.' + element.state | translate }}</div>
          </ng-container>
      </ng-container>

      <ng-container matColumnDef="pod">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.pod' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element.pod }}<ng-container *ngIf="!element.pod">---</ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef><!-- {{ 'desc.description' | translate }} --></th>
        <td mat-cell *matCellDef="let element" class="app-col-icon">
          <button mat-icon-button color="primary">
            <mat-icon 
            [color]="element.conflict_id ? 'warn' : 'primary'" 
            [matTooltip]="element.name">
              {{ element.conflict_id ? 'report_problem' : 'info_outline' }}
            </mat-icon>

          </button>   
        </td>
      </ng-container>

      <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="app-col-icon">
          <button *ngIf="element.state == 'waiting_for_approve'" mat-icon-button color="primary" (click)="approveState(element)" [matTooltip]="('button.approve' | translate) + ' reharvest'">
            <mat-icon>done</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="app-col-icon">
          <button *ngIf="element.state == 'waiting_for_approve'" mat-icon-button color="warn" (click)="closedState(element)" [matTooltip]="('button.cancel' | translate) + ' reharvest'">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="app-col-icon">
          <button mat-icon-button color="primary" (click)="deleteRow(element)" [matTooltip]="('button.delete' | translate) + ' reharvest'">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let last = last; let first = first" [class.app-last]="last" [class.app-first]="first" [ngClass]="isReharvestFromCore(row) ? 'app-is-reharvest-from-core' : 'app-is-reharvest-from-admin'"></tr>
    </table>
    
    <mat-paginator *ngIf="!loading" hidePageSize="false" (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" showFirstLastButtons></mat-paginator>

  </div>
</div>

