<mat-progress-bar mode="indeterminate" *ngIf="state=='loading'"></mat-progress-bar>
<mat-card class="app-card app-view-border-bottom">
	<strong>{{ 'desc.collectionsContainingThisCollection' | translate }}:</strong>
</mat-card>
<mat-card class="app-view-rights app-view-hover app-cursor-pointer" *ngFor="let superCollection of superCollections" [routerLink]="allowEdit(superCollection['id'])  ?  ['/collections', superCollection['id']] : null " [ngClass]="!allowEdit(superCollection['id']) ? 'app-not-allowed' : null" [matTooltip]="!allowEdit(superCollection['id']) ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowEdit(superCollection['id']) ? 'app-alert-not-allowed' : null">
	<mat-card-header fxLayout="row" fxLayoutGap="16px">
		<div *ngIf="getThumb(superCollection['id'])">
			<img [src]="getThumb(superCollection['id'])" />
		</div>
		<div fxFlex class="app-left">
			<mat-card-title>
				<mat-icon *ngIf="allowEdit(superCollection['id'])">link</mat-icon>{{ superCollection.getName() }}
			</mat-card-title>
			<mat-card-subtitle>{{ superCollection.getDescription() }}</mat-card-subtitle>
		</div>
		<div class="app-right app-actions">
			<!-- <a (click)="onRemoveItemFromCollection(superCollection['id'], superCollection.getName(), collection.id, collection.getName()); $event.preventDefault(); $event.stopPropagation()" [matTooltip]="'button.removeFromCollection' | translate" class="app-btn-warn"> -->
			<a (click)="allowEdit(superCollection['id']) ? removeItemFromAnotherCollection(superCollection, collection, $event) : null" [matTooltip]="allowEdit(superCollection['id']) ? ('button.removeFromCollection' | translate) : null" class="app-btn-warn" [ngClass]="!allowEdit(superCollection['id']) ? 'app-not-allowed' : null" >	
				<mat-icon>cancel</mat-icon>
			</a>
		</div>
	</mat-card-header>
</mat-card>

<mat-card *ngIf="superCollections?.length === 0" class="app-card app-color-info app-text-center">
	<mat-card-content fxLayout="row" fxLayoutAlign="center center">
		<mat-icon class="app-mr-1">info</mat-icon>{{ 'alert.collections.noData.context' | translate }}
	</mat-card-content>
</mat-card>