@use '@angular/material' as mat;
@include mat.core();

@import '../../../../sass/app-variables.scss';
@import '../../../../sass/app-mixins.scss';
@import '../../../../sass/app-global.scss';

.mat-table {
  .mat-column-action {
    width: 60px;
  }

  .mat-column-icon {
    @extend .app-text-center;
    width: 400px;
  }
  
  .mat-column-license,
  .mat-column-licenseEuro {
    width: 400px;
  }
  
  .mat-column-licenseLink {
    //@extend .app-pr-4;
    min-width: 110px;

    a {
      display: block;
      background-color: #008CC8;
      padding: 8px;
      width: 90px;
    }
  }
}