.app-table {
  thead {
    tr {
      th {
        &.app-first {
          width: 180px;
        }

        &.app-last {
          width: 140px;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        &:not(.app-col-detail) {
          div {
            line-height: 20px;
          }
        }       
      }
    }
  }
}