<div class="app-statistics app-h-100">
	<div fxLayout="column" fxFlexFill>
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <ng-container *ngIf="isPageStatistics">
          <a routerLink="/">home</a>
          <span class="app-separator">/</span>
          <span class="app-last">{{ 'sites.statistics.title' | translate }}</span>
        </ng-container>
        <ng-container *ngIf="!isPageStatistics">
          <span class="app-last">home</span>
        </ng-container>
      </div>
      <div>
        <nav mat-tab-nav-bar>
          <a mat-tab-link (click)="changeView('graphs')" [active]="view == 'graphs'"><mat-icon class="material-icons-outlined">bar_chart</mat-icon>{{ 'sites.statistics.graphs.title' | translate }}</a>
          <!-- <a mat-tab-link (click)="changeView('most-viewed-documents')"  [active]="view == 'most-viewed-documents'"><mat-icon class="material-icons-outlined">preview</mat-icon>{{ 'sites.statistics.most-viewed-documents.title' | translate }}</a> -->
					<a mat-tab-link (click)="changeView('generating-logs-for-nk')"  [active]="view == 'generating-logs-for-nk'"><mat-icon class="material-icons-outlined">fitbit</mat-icon>{{ 'sites.statistics.generating-logs-for-nk.title' | translate }}</a>
        </nav>
      </div>
    </div>
    <div fxFlex class="app-oa-y">
			<div class="app-container">
				<ng-container *ngIf="!errorState && view !== 'generating-logs-for-nk'">
					<div fxLayout="row" fxLayoutAlign="start baseline">
						<div fxFlex>
							<mat-form-field class="app-mr-2">
								<mat-label>{{ 'desc.dateFrom' | translate }}</mat-label>
								<input matInput [matDatepicker]="from" [(ngModel)]="dateFrom" (dateChange)="changeEvent('change', $event)">
								<mat-datepicker-toggle matSuffix [for]="from" ></mat-datepicker-toggle>
								<mat-datepicker #from></mat-datepicker>
							</mat-form-field>
							<mat-form-field class="app-mr-2">
								<mat-label>{{ 'desc.dateTo' | translate }}</mat-label>
								<input matInput [matDatepicker]="to" [(ngModel)]="dateTo" (dateChange)="changeEvent('change', $event)">
								<mat-datepicker-toggle matSuffix [for]="to" ></mat-datepicker-toggle>
								<mat-datepicker #to></mat-datepicker>
							</mat-form-field>
							<!-- redady to implement for each filter same as is in processes-->
							<!-- <a mat-icon-button [matTooltip]="'button.deselect' | translate" class="app-clear-filter app-mr-2">
								<mat-icon>cancel</mat-icon>
							</a> -->
							<!--
							<mat-form-field class="app-mr-2">
								<mat-label>{{ 'desc.license' | translate }}</mat-label>
								<mat-select  [(ngModel)]="license" (selectionChange)="changeEvent('change', $event)">
									<mat-option *ngFor="let l of allLicenses" [value]="l"  >{{ l }}</mat-option>
								</mat-select>
							</mat-form-field>
							-->
							<!-- redady to implement for each filter same as is in processes-->
							<!-- <a mat-icon-button [matTooltip]="'button.deselect' | translate" class="app-clear-filter app-mr-2">
								<mat-icon>cancel</mat-icon>
							</a> -->
							<mat-form-field>
								<mat-label>Pid / Čnb / Issn / Issbn</mat-label>
								<input matInput placeholder="Pid / Čnb / Issn / Issbn" [(ngModel)]="identifier"  (keyup)="onIdentKeyUp($event.target)">
							</mat-form-field>
							<a mat-icon-button [matTooltip]="'button.deselect' | translate" class="app-clear-filter app-mr-2" *ngIf="identifier" (click)="clearIdentifier($event.target)">
								<mat-icon>cancel</mat-icon>
							</a>
						</div>
						<div>
							<button mat-flat-button [matMenuTriggerFor]="menuAnnualReport" color="primary">{{ 'button.annualReport' | translate }}<mat-icon class="app-menu">keyboard_arrow_down</mat-icon></button>
							<mat-menu #menuAnnualReport="matMenu">
								<button mat-menu-item>2023</button>
								<button mat-menu-item>2022</button>
								<button mat-menu-item>2021</button>
							</mat-menu>
						</div>
					</div>

					<div class="app-mb-4" *ngIf="filters && filters.length > 0">
						<mat-chip-list>
						  <mat-chip *ngFor="let filter of filters" (removed)="toggleFilter(filter)" [ngStyle]="{'background-color': filter.color}" class="app-color-lightnes">
								{{ filter.name }}<mat-icon matChipRemove>cancel</mat-icon>
						  </mat-chip>
						</mat-chip-list>
					</div>

					<ng-container *ngIf="view == 'graphs'">
						<div fxLayout="row" fxLayoutGap="16px" class="app-mb-4">
							<!-- top level models -->
							<mat-card fxFlex class="app-card app-view-border" fxLayout="column">
								<mat-card-header>
									<mat-card-title>{{ 'desc.topLevelmodelStatistics' | translate }}</mat-card-title>
								</mat-card-header>
								<mat-card-content fxFlex *ngIf="isResultModel">
									<div echarts [options]="modelsOpts" style="height: 350px;"  (chartClick)="toggleFilter($event)"></div>
								</mat-card-content>
								<mat-card-actions>
									<button mat-flat-button  (click)="csvModels()" color="primary" class="app-mr-2">CSV</button>
								</mat-card-actions>
								<mat-card *ngIf="!isResultModel" class="app-view-alert app-info">
									<mat-card-content><mat-icon class="material-icons-outlined">info</mat-icon>{{ 'alert.statistics.noData' | translate }}.</mat-card-content>
								</mat-card>
							</mat-card>
							
							<mat-card fxFlex class="app-card app-view-border" fxLayout="column">
								<mat-card-header>
									<mat-card-title>{{ 'desc.statisticsOfUsedLanguages' | translate }}</mat-card-title>
								</mat-card-header>
								<mat-card-content fxFlex *ngIf="isResultLang">
									<div echarts [options]="langOpts" style="height: 350px;" (chartClick)="toggleFilter($event)"></div>
								</mat-card-content>
								<mat-card-actions>
									<button mat-flat-button  (click)="csvLang()" color="primary"  class="app-mr-2">CSV</button>
								</mat-card-actions>
								<mat-card *ngIf="!isResultLang" class="app-view-alert app-info">
									<mat-card-content><mat-icon class="material-icons-outlined">info</mat-icon>{{ 'alert.statistics.noData' | translate }}.</mat-card-content>
								</mat-card>
							</mat-card>

							<mat-card fxFlex class="app-card app-view-border" fxLayout="column">
								<mat-card-header>
									<mat-card-title>{{ 'desc.authorStatistics' | translate }}</mat-card-title>
								</mat-card-header>
								<mat-card-content fxFlex *ngIf="isResultAuthor">
									<div echarts [options]="authorOpts" style="height: 350px;" (chartClick)="toggleFilter($event)"></div>
								</mat-card-content>
								<mat-card-actions>
									<button mat-flat-button  (click)="csvAuthor()" color="primary"  class="app-mr-2">CSV</button>
								</mat-card-actions>
								<mat-card *ngIf="!isResultAuthor" class="app-view-alert app-info">
									<mat-card-content><mat-icon class="material-icons-outlined">info</mat-icon>{{ 'alert.statistics.noData' | translate }}.</mat-card-content>
								</mat-card>
							</mat-card>

							<mat-card fxFlex class="app-card app-view-border" fxLayout="column">
								<mat-card-header>
									<mat-card-title>{{ 'desc.providedByLicense' | translate }}</mat-card-title>
								</mat-card-header>
								<mat-card-content fxFlex *ngIf="isProvidedByLicense">
									<div echarts [options]="providedByLicensesOpts"  (chartClick)="toggleFilter($event)" style="height: 350px;"></div>
								</mat-card-content>
								<mat-card-actions>
									<button mat-flat-button  (click)="csvAuthor()" color="primary"  class="app-mr-2">CSV</button>
								</mat-card-actions>
								<mat-card *ngIf="!isProvidedByLicense" class="app-view-alert app-info">
									<mat-card-content><mat-icon class="material-icons-outlined">info</mat-icon>{{ 'alert.statistics.noData' | translate }}.</mat-card-content>
								</mat-card>
							</mat-card>

							<mat-card fxFlex class="app-card app-view-border" fxLayout="column">
								<mat-card-header>
									<mat-card-title>{{ 'desc.viewedCollections' | translate }}</mat-card-title>
								</mat-card-header>
								<mat-card-content fxFlex *ngIf="isCollections">
									<div echarts [options]="collectionsOpts" (chartClick)="toggleFilter($event)" style="height: 350px;"></div>
								</mat-card-content>
								<mat-card-actions>
									<button mat-flat-button  (click)="csvAuthor()" color="primary"  class="app-mr-2">CSV</button>
								</mat-card-actions>
								<mat-card *ngIf="!isCollections" class="app-view-alert app-info">
									<mat-card-content><mat-icon class="material-icons-outlined">info</mat-icon>{{ 'alert.statistics.noData' | translate }}.</mat-card-content>
								</mat-card>
							</mat-card>
						</div>

						<ng-container *ngFor="let item of table | keyvalue; let last = last">
							<div class="app-mb-4">
								<ng-container *ngIf="item.value.length > 0">
									<h3 class="app-mt-0 app-mb-2">{{ 'field.' + item.key | translate }}</h3>
									<table class="app-table" [cellPadding]="0" [cellSpacing]="0">
										<thead>
											<tr>
												<th class="app-first">{{ 'desc.numberOfImpressions' | translate }}</th>
												<th>{{ 'desc.work' | translate }}</th>
												<th class="app-last"></th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let v of item.value;">
												<td>{{v.count}}</td>
												<td [class.app-detail-expanded]="selection[v.pid]"> 
													<div [class.app-text-cutter-wrapper]="!selection[v.pid]">
														<div [class.app-text-cutter]="!selection[v.pid]">
															<a href="{{appSettings.userClientBaseUrl}}/uuid/{{v.pid}}" target="_blank" [matTooltip]="v.title">{{ v.title }}</a>
														</div>
													</div>
													<div *ngIf="selection[v.pid]" class="app-metadata">
														<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['author']"><label class="app-label">{{ 'desc.author' | translate }}:</label> {{descriptions[v.pid]['author']}}</div>
														<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['origininfo']"><label class="app-label">{{ 'desc.publishingData' | translate }}:</label> {{descriptions[v.pid]['origininfo']}}</div>
														<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['keywords'] && descriptions[v.pid]['keywords'].length > 0"><label class="app-label">{{ 'desc.keywords' | translate }}:</label> 
															<span *ngFor="let k of descriptions[v.pid]['keywords']; let isLast=last">
																{{k}}{{isLast ? '' : ', '}}
															</span>
														</div>
														<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['langs'] && descriptions[v.pid]['langs'].length > 0"><label class="app-label">{{ 'desc.language' | translate }}:</label> 
															<ng-container *ngFor="let l of descriptions[v.pid]['langs']; let isLast=last">
																<span *ngIf="l && l!==''">
																	{{ 'lang.'+ l | translate }}{{isLast ? '' : ', '}}
																</span>
															</ng-container>
														</div>
														<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['location'] && descriptions[v.pid]['location'].length>0"><label class="app-label">{{ 'desc.storageLocation' | translate }}:</label> 
															<ng-container *ngFor="let l of descriptions[v.pid]['location']; ; let isLast=last">
																<span *ngIf="l && l!==''">
																	{{  'sigla.'+ l | translate }}{{isLast ? '' : ', '}}
																</span>
															</ng-container>
														</div>
														<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['physicalDescription']"><label class="app-label">{{ 'desc.physicalDescription' | translate }}:</label> {{descriptions[v.pid]['physicalDescription']}}</div>
														<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['abstract']"><label class="app-label">{{ 'desc.abstract' | translate }}:</label> {{descriptions[v.pid]['abstract']}}</div>
														<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['note']"><label class="app-label">{{ 'desc.comment' | translate }}:</label> {{descriptions[v.pid]['note']}}</div>
														<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['isbn']"><label class="app-label">{{ 'Isbn' | translate }}:</label> {{descriptions[v.pid]['isbn']}}</div>
														<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['issn']"><label class="app-label">{{ 'Isbn' | translate }}:</label> {{descriptions[v.pid]['issn']}}</div>
														<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['barcode']"><label class="app-label">{{ 'desc.barcode' | translate }}:</label> {{descriptions[v.pid]['barcode']}}</div>
													</div>
												</td>
												<td class="app-col-detail">
													<a (click)="showMore(v.pid)" fxLayout="row" fxLayoutAlign="start center" class="app-tdn" [ngClass]="selection[v.pid] ? 'app-rotate-up' : 'app-rotate-down'">
														<mat-icon>expand_more</mat-icon>
														{{ selection[v.pid] ? ('button.hideDetail' | translate) : ('button.showDetail' | translate) }}
													</a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="app-text-right app-mt-4">
										<button mat-flat-button  (click)="csvAuthor()" color="primary">CSV</button>
									</div>
								</ng-container>
							</div>
						</ng-container>
					</ng-container>
					
					<ng-container  *ngIf="view == 'most-viewed-documents'">
						<mat-card  *ngIf="isResultModel" class="app-card app-view-border">
							<mat-card-content>
								<ng-container *ngFor="let item of table | keyvalue; let last = last">
									<div class="app-mb-4" [class.app-mb-n4]="last">
										<ng-container *ngIf="item.value.length > 0">
											<h3 class="app-mt-0 app-mb-2">{{ 'field.' + item.key | translate }}</h3>
											<table class="app-table" [cellPadding]="0" [cellSpacing]="0">
												<thead>
													<tr>
														<th class="app-first">{{ 'desc.numberOfImpressions' | translate }}</th>
														<th>{{ 'desc.work' | translate }}</th>
														<th class="app-last"></th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let v of item.value;">
														<td>{{v.count}}</td>
														<td [class.app-detail-expanded]="selection[v.pid]"> 
															<div [class.app-text-cutter-wrapper]="!selection[v.pid]">
																<div [class.app-text-cutter]="!selection[v.pid]">
																	<a href="{{appSettings.coreBaseUrl}}/../view/{{v.pid}}" target="_blank" [matTooltip]="v.title">{{ v.title }}</a>
																</div>
															</div>
															<div *ngIf="selection[v.pid]" class="app-metadata">
																<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['author']"><label class="app-label">{{ 'desc.author' | translate }}:</label> {{descriptions[v.pid]['author']}}</div>
																<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['origininfo']"><label class="app-label">{{ 'desc.publishingData' | translate }}:</label> {{descriptions[v.pid]['origininfo']}}</div>
																<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['keywords'] && descriptions[v.pid]['keywords'].length > 0"><label class="app-label">{{ 'desc.keywords' | translate }}:</label> 
																	<span *ngFor="let k of descriptions[v.pid]['keywords']; let isLast=last">
																		{{k}}{{isLast ? '' : ', '}}
																	</span>
																</div>
																<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['langs'] && descriptions[v.pid]['langs'].length > 0"><label class="app-label">{{ 'desc.language' | translate }}:</label> 
																	<ng-container *ngFor="let l of descriptions[v.pid]['langs']; let isLast=last">
																		<span *ngIf="l && l!==''">
																			{{ 'lang.'+ l | translate }}{{isLast ? '' : ', '}}
																		</span>
																	</ng-container>
																</div>
																<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['location'] && descriptions[v.pid]['location'].length>0"><label class="app-label">{{ 'desc.storageLocation' | translate }}:</label> 
																	<ng-container *ngFor="let l of descriptions[v.pid]['location']; ; let isLast=last">
																		<span *ngIf="l && l!==''">
																			{{  'sigla.'+ l | translate }}{{isLast ? '' : ', '}}
																		</span>
																	</ng-container>
																</div>
																<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['physicalDescription']"><label class="app-label">{{ 'desc.physicalDescription' | translate }}:</label> {{descriptions[v.pid]['physicalDescription']}}</div>
																<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['abstract']"><label class="app-label">{{ 'desc.abstract' | translate }}:</label> {{descriptions[v.pid]['abstract']}}</div>
																<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['note']"><label class="app-label">{{ 'desc.comment' | translate }}:</label> {{descriptions[v.pid]['note']}}</div>
																<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['isbn']"><label class="app-label">{{ 'Isbn' | translate }}:</label> {{descriptions[v.pid]['isbn']}}</div>
																<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['issn']"><label class="app-label">{{ 'Isbn' | translate }}:</label> {{descriptions[v.pid]['issn']}}</div>
																<div *ngIf="descriptions[v.pid] && descriptions[v.pid]['barcode']"><label class="app-label">{{ 'desc.barcode' | translate }}:</label> {{descriptions[v.pid]['barcode']}}</div>
															</div>
														</td>
														<td class="app-col-detail">
															<a (click)="showMore(v.pid)" fxLayout="row" fxLayoutAlign="start center" class="app-tdn" [ngClass]="selection[v.pid] ? 'app-rotate-up' : 'app-rotate-down'">
																<mat-icon>expand_more</mat-icon>
																{{ selection[v.pid] ? ('button.hideDetail' | translate) : ('button.showDetail' | translate) }}
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</ng-container>
									</div>
								</ng-container>

							</mat-card-content>
						</mat-card>
						<mat-card *ngIf="!isResultModel && !errorState" class="app-view-alert app-info">
							<mat-card-content><mat-icon class="material-icons-outlined">info</mat-icon>{{ 'alert.statistics.noData' | translate }}.</mat-card-content>
						</mat-card>
					</ng-container>
				</ng-container>
				<ng-container  *ngIf="view == 'generating-logs-for-nk'">
					<mat-card fxLayout="column" class="app-card app-view-border">
						<mat-card-content>
							<span [matTooltip]="!allowedGlobalAction('a_generate_nkplogs') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_generate_nkplogs')  ? 'app-alert-not-allowed' : null">
								<button [disabled]="!allowedGlobalAction('a_generate_nkplogs')" mat-flat-button color="primary" class="app-mr-2" (click)="openNkpLogyDialog()">{{ 'button.generateNkpLogs' | translate }}</button>
							</span>
							<span [matTooltip]="!allowedGlobalAction('a_statistics_edit') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_statistics_edit')  ? 'app-alert-not-allowed' : null">
								<button [disabled]="!allowedGlobalAction('a_statistics_edit')" mat-flat-button color="primary" class="app-mr-2" (click)="openDeleteStatisticsDialog()">{{ 'button.deleteStatistics' | translate }}</button><!--od do-->
							</span>

							<h3>{{ 'desc.listOfGeneratedLogsInDirectories' | translate }}</h3>
							<table class="app-table" [cellPadding]="0" [cellSpacing]="0">
								<thead>
									<tr>
										<th>{{ 'desc.fileName' | translate }}</th>
										<th>{{ 'desc.creationDate' | translate }}</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let logfile of logfiles">
										<td><a (click)="download(logfile)">{{ logfile.name }}</a></td>
										<td>{{modifiedLogFile(logfile)}}</td>
										<td class="app-col-action"><a (click)="download(logfile)" [matTooltip]="'desc.download' | translate"><mat-icon>file_download</mat-icon></a></td>
									</tr>
								</tbody>
							</table>
						</mat-card-content>
					</mat-card>
				</ng-container>

				<mat-card *ngIf="errorState" class="app-view-alert app-warn">
					<mat-card-content>
						<mat-icon>error</mat-icon>{{ errorMessage }}
					</mat-card-content>
				</mat-card>
			</div>
		</div>
  </div>
</div>