<div class="app-actions">

  <mat-spinner *ngIf="state=='loading'"
    [strokeWidth]="3" 
    [diameter]="30">
  </mat-spinner>

  <ng-container *ngIf="state=='success'">
    <div class="app-action" *ngFor="let action of actions">
      <mat-icon (click)="selectedAction = action" *ngIf="selectedAction != action">expand_more</mat-icon>
      <mat-icon (click)="selectedAction = null" *ngIf="selectedAction == action">expand_less</mat-icon>

      <!--  <mat-icon (click)="onRemoveRole(role)">delete</mat-icon> -->
      <div class="app-action-name">{{ action.code }} <span> {{ action.rights.length }}</span></div>
      <div class="app-action-description">{{ action.description }}</div>
      <div class="app-rights" *ngIf="selectedAction == action">
        <div class="app-right app-right-header">
          <div class="app-right-role">Role</div>
          <div class="app-right-condition">Podmínka</div>
          <div class="app-right-param">Parametr</div>
          <div class="app-right-license">Licence</div>
        </div>
        <div class="app-right" *ngFor="let right of action.rights">
          <div class="app-right-role">
            {{ right.role.name }}
          </div>
          <div class="app-right-condition">
            {{ right.condition ? right.condition.name : "-"}}
          </div>
          <div class="app-right-condition">
            {{ right.condition && right.condition.params && right.condition.params.description ? right.condition.params.description : "-"}}
          </div>
          <div class="app-right-license">
            {{ right.hasLicense() ? right.condition.license : "-"}}
          </div>
          <div class="app-right-actions">
            <mat-icon (click)="onRemoveRight(action, right)">delete</mat-icon>      
            <mat-icon (click)="onEditRight(right)" style="margin-right: 3px;">edit</mat-icon>
          </div>
        </div>
        <div class="app-new-right app-button" (click)="onNewRight(action)">Přidat právo</div>
      </div>
    </div>
  </ng-container>


</div>