<div class="app-collection-new app-h-100">
  <div fxLayout="column" fxFlexFill>
    <div class="app-topbar">
      <div fxLayout="row" class="app-mb-4">
        <div fxFlex class="app-breadcrumbs">
          <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
          <a routerLink="/">home</a>
          <span class="app-separator">/</span>
          <a routerLink="/collections">{{ 'sites.collections.title' | translate }}</a>
          <span class="app-separator">/</span>
          <span class="app-last">{{ 'desc.newCollection' | translate }}</span>
        </div>
        <div>
          <button mat-stroked-button [matMenuTriggerFor]="menuLang" class="app-bg-white app-pr-1" [matTooltip]="'button.languageForEditing' | translate"><span class="app-mr-2">{{ 'lang.' + lang | translate }}</span><mat-icon>arrow_drop_down</mat-icon></button>
          <mat-menu #menuLang="matMenu">
            <button mat-menu-item *ngFor="let language of languages" (click)="setLang(language)">{{ 'lang.' + language | translate  }}</button>
          </mat-menu>
        </div>
      </div>   
    </div>
    <div fxFlex class="app-oa-y">
      <div class="app-container">
        <mat-card class="app-card app-view-border app-p-0">
          <mat-card-content>
            <app-collection-edit [lang]="lang"></app-collection-edit>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>