<div class="app-object app-h-100">
  <div fxLayout="row" fxFlexFill fxLayoutAlign="center center" *ngIf="!correctPid() && !checkingPid">
    <mat-card class="app-card app-view-border app-p-8" fxFlex="600px">
      <mat-card-content>
        <mat-form-field appearance="fill" class="app-mb-n4 app-w-100">
          <mat-label>{{ 'desc.enterTheUuidOfTheObject' | translate }}</mat-label>
          <input matInput [(ngModel)]="inputPid" placeholder="{{pid}}" (keyup.enter)="assignUuid()" type="text">
          <mat-icon (click)="assignUuid()" matSuffix color="primary" class="app-cursor-pointer" [matTooltip]="'button.send' | translate">send</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="!!errorMessage">
          {{ errorMessage }}
        </mat-error>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="checkingPid"></mat-progress-bar>

  <div fxLayout="column" fxFlexFill *ngIf="correctPid()">
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <a routerLink="/object">{{ 'sites.object.title' | translate }}</a>
        <span class="app-separator">/</span>
        <span class="app-last app-text-cutter">
          <span [matTooltip]="title">{{ title }}</span>
        </span>
      </div>
      <div>
        <nav mat-tab-nav-bar>
          <a *ngIf="specificAuthorizedActions.indexOf('a_rights_edit')>=0"  mat-tab-link (click)="changeView('actions')" [active]="view == 'actions'">
            <mat-icon class="material-icons-outlined">admin_panel_settings</mat-icon>{{ 'sites.object.actions.title' | translate }}
          </a>
          <a *ngIf="specificAuthorizedActions.indexOf('a_set_accessibility')>=0" mat-tab-link (click)="changeView('accessibility')" [active]="view == 'accessibility'">
            <mat-icon class="material-icons-outlined">accessibility</mat-icon>{{ 'sites.object.accessibility.title' | translate }}
          </a>
          <!-- musi mit prava pro vsechny sbirky --> 
          <a mat-tab-link (click)="changeView('in-collections')" [active]="view == 'in-collections'">
            <mat-icon class="material-icons-outlined">collections</mat-icon>{{ 'sites.object.in-collections.title' | translate }}<span class="app-push-right"></span>
            <span class="app-badge app-count">{{ superCollections?.length }}</span>
          </a>
          <a mat-tab-link (click)="changeView('others')" [active]="view == 'others'">
            <mat-icon class="material-icons-outlined">settings</mat-icon>{{ 'sites.object.others.title' | translate }}
          </a>
          <a mat-tab-link (click)="changeView('editing')" [active]="view == 'editing'" *ngIf="proarcServers?.length > 0">
            <mat-icon class="material-icons-outlined">edit</mat-icon>{{ 'sites.object.editing.title' | translate }}
          </a>
        </nav>
      </div>
    </div>

    <div fxFlex class="app-oh app-oa-y">
      <div class="app-container">
        <mat-card class="app-card app-view-border app-view-header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
          <div fxFlex class="app-text-cutter">
            <a (click)="copyTextToClipboard(inputPid)" [matTooltip]="'button.copyTheTextToTheClipboard' | translate">
              <mat-icon class="app-16 app-va-sub app-mr-2">content_copy</mat-icon>
            </a>
            <span class="app-desc">{{ inputPid }}</span>
            <span class="app-pipe" *ngIf="collection && collection.getDescription('cze')"></span>
            <span *ngIf="collection && collection.getDescription('cze')" [matTooltip]="collection.getDescription('cze')" class="app-desc">{{ collection.getDescription('cze') }}</span>
          </div>
          <div *ngIf="view === 'collections'">
            <a mat-flat-button color="primary" (click)="onAddThisToACollection()">
              <mat-icon>add_circle</mat-icon>{{ 'button.addToACollection' | translate }}
            </a>
          </div>
        </mat-card>

        <mat-card *ngIf="view == 'actions'" fxLayout="column" class="app-card app-view-border app-p-0">
          <app-rights [pid]="pid"></app-rights>
        </mat-card>

        <ng-container *ngIf="view == 'accessibility'">
          <mat-progress-bar mode="indeterminate" *ngIf="loadingLicenses"></mat-progress-bar>
          <mat-card fxLayout="column" class="app-card app-view-border" *ngIf="!loadingLicenses">
            <mat-card-content>
              <div class="app-mb-4">
                <h3 class="app-mt-0">{{ 'desc.availability' | translate }}</h3>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="app-20 app-mr-2">{{ policy === 'public' ? 'lock_open' : 'lock' }}</mat-icon>
                  <strong>{{ 'field.' + policy | translate }}</strong>
                  <button mat-flat-button color="primary" (click)="onChangePolicy()" class="app-ml-4">{{ 'button.changeAvailability' | translate }}</button>
                </div>
              </div>
              <mat-divider [inset]="true"></mat-divider>
              <div class="app-mt-4 app-mb-4">
                <h3 class="app-mt-0">{{ 'desc.license' | translate }}</h3>
                <table class="app-table" *ngIf="licenses?.length > 0">
                  <tbody>
                    <tr *ngFor="let license of licenses" class="app-mb-1">
                      <th>{{ license }}</th>
                      <td class="app-col-action">
                        <a class="app-btn-warn" (click)="onRemoveLicense(license)"
                          [matTooltip]="'button.removeLicense' | translate">
                          <mat-icon>cancel</mat-icon>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button mat-flat-button color="primary" (click)="onAddLicense()">{{ 'button.addLicense' | translate
                }}</button>
            </mat-card-content>
          </mat-card>
        </ng-container>

        <ng-container *ngIf="view === 'in-collections'">
          <mat-progress-bar mode="indeterminate" *ngIf="loadingCollections"></mat-progress-bar>
          <mat-card fxLayout="column" *ngIf="!loadingCollections" class="app-card app-view-border app-p-0">
            <mat-card class="app-card app-view-border-bottom">
              <strong>{{ 'desc.collectionsContainingThisCollection' | translate }}:</strong>
            </mat-card>
            <mat-card class="app-view-rights app-view-hover app-cursor-pointer" *ngFor="let superCollection of superCollections" (click)="allowCollectionEdit(superCollection['id']) ? setRouterLink('/collections/context', collection['id'], 'collection', 'context') : null" [ngClass]="!allowCollectionEdit(superCollection['id']) ? 'app-not-allowed' : null" [matTooltip]="!allowCollectionEdit(superCollection['id']) ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowCollectionEdit(superCollection['id']) ? 'app-alert-not-allowed' : null">
              <mat-card-header fxLayout="row" fxLayoutGap="16px">
                <div *ngIf="getThumb(superCollection['id'])">
                  <img [src]="getThumb(superCollection['id'])" />
                </div>
                <div fxFlex class="app-left">
                  <mat-card-title>
                    <mat-icon *ngIf="allowCollectionEdit(superCollection['id'])">link</mat-icon>{{ superCollection.getName() }}
                  </mat-card-title>
                  <mat-card-subtitle>{{ superCollection.getDescription() }}</mat-card-subtitle>
                </div>
                <div class="app-right app-actions">
                  <a (click)="allowCollectionEdit(superCollection['id']) ? removeItemFromAnotherCollection(superCollection, collection, $event) : null" [matTooltip]="allowCollectionEdit(superCollection['id']) ? ('button.removeFromCollection' | translate) : null" class="app-btn-warn" [ngClass]="!allowCollectionEdit(superCollection['id']) ? 'app-not-allowed' : null">
                    <mat-icon>cancel</mat-icon>
                  </a>
                </div>
              </mat-card-header>
            </mat-card>
            <!-- TODO: sbírky, co ho obsahují nepřímo od rodiče (z indexu)? Jen pro informaci, nebo proklik na sbírku-->

            <mat-card *ngIf="superCollections?.length === 0" class="app-card app-color-info app-text-center">
              <mat-card-content fxLayout="row" fxLayoutAlign="center center">
                <mat-icon class="app-mr-1">info</mat-icon>{{ 'alert.collections.noData.context' | translate }}
              </mat-card-content>
            </mat-card>
          </mat-card>
        </ng-container>

        <mat-card fxLayout="column" class="app-card app-view-border" *ngIf="view == 'others'">
          <mat-card-content>
            <div class="app-mb-4">
              <h3 class="app-mt-0">{{ 'desc.synchronization' | translate }}</h3>
              <span [matTooltip]="specificAuthorizedActions.indexOf('a_index') < 0 ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="specificAuthorizedActions.indexOf('a_index') < 0 ? 'app-alert-not-allowed' : null">
                <button [disabled]="specificAuthorizedActions.indexOf('a_index') < 0" mat-flat-button (click)="indexObjectWithProcess()" color="primary" class="app-mr-2" >{{ 'button.reindexSearchIndex' | translate }}</button>
              </span>
              <span [matTooltip]="specificAuthorizedActions.indexOf('a_rebuild_processing_index') < 0 ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="specificAuthorizedActions.indexOf('a_rebuild_processing_index') < 0 ? 'app-alert-not-allowed' : null">
                <button [disabled]="specificAuthorizedActions.indexOf('a_rebuild_processing_index') < 0" mat-flat-button (click)="rebuildProcessingIndexForObject()" color="primary">{{ 'button.rebuildTheProcessingIndexForTheObject' | translate }}</button>
              </span>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="app-mt-4 app-mb-4">
              <h3 class="app-mt-0">{{ 'desc.deleting' | translate }}</h3>
              <span [matTooltip]="specificAuthorizedActions.indexOf('a_delete') < 0 ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="specificAuthorizedActions.indexOf('a_delete') < 0 ? 'app-alert-not-allowed' : null">
                <button [disabled]="specificAuthorizedActions.indexOf('a_delete') < 0" mat-flat-button (click)="deleteObjectSmart()" color="warn" class="app-mr-2">{{'button.deleteObjectSmart' | translate }}</button>
              </span>
              <span [matTooltip]="specificAuthorizedActions.indexOf('a_delete') < 0 ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="specificAuthorizedActions.indexOf('a_delete') < 0 ? 'app-alert-not-allowed' : null">
                <button [disabled]="specificAuthorizedActions.indexOf('a_delete') < 0" mat-flat-button (click)="deleteObjectLowLevel()" color="warn">{{ 'button.deleteObjectLowLevel' | translate }}</button>
              </span>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card fxLayout="column" class="app-card app-view-border" *ngIf="view == 'editing' && proarcServers?.length > 0">
          <mat-card-content>
            <div>
              <h3 class="app-mt-0">{{ 'desc.editingAnObjectInTheProarcApplication' | translate }}</h3>
              <mat-form-field class="app-w-100">
                <mat-label>{{ 'desc.selectServer' | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedProarcServer">
                  <mat-option *ngFor="let server of proarcServers" [value]="server">
                    <strong>{{ server.name }}</strong> - {{ server.domain }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-flat-button color="primary" (click)="openObjectInProarc(selectedProarcServer.domain, selectedProarcServer.krameriusInstance)" [disabled]="!selectedProarcServer.domain">{{ 'button.editObject' | translate }}</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>