<h2 mat-dialog-title>{{ 'modal.addCutting.title' | translate }}</h2>
<mat-dialog-content class="app-fxLayout app-column app-gap-4 app-form-customize">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'desc.cuttingName' | translate }}</mat-label>
    <input type="text" matInput [(ngModel)]="name" [placeholder]="'desc.cuttingName' | translate">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'desc.cuttingDesc' | translate }}</mat-label>
    <textarea matInput [(ngModel)]="description" [placeholder]="'desc.cuttingDesc' | translate"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'desc.cuttingUrl' | translate }}</mat-label>
    <input type="text" matInput  [(ngModel)]="url" [placeholder]="'desc.cuttingUrl' | translate">
    @if (!isClipUrl()) {
      <mat-icon matPrefix class="app-mr-2 app-va-text-botttom">link</mat-icon>
    }
    @if (isClipUrl()) {
      <mat-icon matPrefix class="app-mr-2 app-va-text-botttom material-icons-outlined">cut</mat-icon>
    }
    @if (urlFormControl.hasError('pattern') && urlFormControl.dirty) {
      <div>
        Neplatná URL adresa
      </div>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton="filled" [disabled]="disableAddButton()" color="primary" type="submit" (click)="onSave()">{{ 'button.add' | translate }}</button>
  <button matButton mat-dialog-close="cancel">{{ 'button.cancel' | translate }}</button>
</mat-dialog-actions>