<h2 mat-dialog-title>{{ 'modal.scheduleChangeOrderDocumentsInCollection.title' | translate }}</h2>
<mat-dialog-content>
  <mat-card class="app-view-alert app-info app-mb-4">
    <mat-card-content>
      <mat-icon>info</mat-icon>
      {{ 'modal.scheduleChangeOrderDocumentsInCollection.alert' | translate }}
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button (click)="scheduleChangeOrderDocumentsInCollection('processes')"  color="primary">{{ 'modal.scheduleChangeOrderDocumentsInCollection.button.process' | translate }}</button>
  <button mat-flat-button (click)="scheduleChangeOrderDocumentsInCollection('collections')" color="primary">{{ 'modal.scheduleChangeOrderDocumentsInCollection.button.collection' | translate }}</button>
  <button mat-flat-button mat-dialog-close>{{ 'button.cancel' | translate }}</button>
</mat-dialog-actions>