<div class="app-container app-h-100">
	<div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
		<mat-card class="app-card app-view-border app-mb-4 app-mt-4">
			<mat-card-content>	
				<strong class="app-mr-2">k7Admin</strong>
				<span class="app-badge app-version app-mr-2">verze {{getVersion()}}</span>
				<span>commit <a href="https://github.com/ceskaexpedice/kramerius-admin-client/commit/{{getLastCommitHash()}}" target="_blank">{{getLastCommitHash()}}</a></span>
				<span class="app-pipe"></span>
				<strong class="app-mr-2">Připojená instance: </strong>  <a href="{{appSettings.coreBaseUrl}}">{{appSettings.coreBaseUrl}}</a>
			</mat-card-content>
		</mat-card>
		<mat-card class="app-view-alert app-warn app-mb-4" *ngIf="errorMessage">
			<mat-card-content>{{ errorMessage }}</mat-card-content>
		</mat-card>
		<button mat-flat-button (click)="login()" color="primary">Přihlásit se <span *ngIf="errorMessage">znovu</span></button>
	</div>
</div>