<ng-container *ngIf="!errorState">
  <mat-progress-bar mode="indeterminate" *ngIf="state=='loading'"></mat-progress-bar>
  <ng-container *ngIf="state=='success'">
    <mat-card class="app-view-rights app-view-hover" *ngFor="let param of params" [class.app-card-expanded]="selectedParam == param">
      <mat-card-header fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex class="app-left">
          <mat-card-title class="app-m-0 app-p-0"><span [matBadge]="param.values.length" matBadgeOverlap="false" matBadgeColor="primary">{{ param.description }}</span></mat-card-title>
        </div>
        <div class="app-right app-actions">
          <a (click)="onEditParam(param)" [matTooltip]="'button.editParameter' | translate"><mat-icon>edit</mat-icon></a>
          <a (click)="onRemoveParam(param)" [matTooltip]="'button.deleteParameter' | translate"><mat-icon>delete</mat-icon></a>
          <a (click)="selectedParam = param" *ngIf="selectedParam != param" class="app-ico-expand"><mat-icon>expand_more</mat-icon></a>
          <a (click)="selectedParam = null" *ngIf="selectedParam == param" class="app-ico-expand"><mat-icon>expand_less</mat-icon></a>
        </div>
      </mat-card-header>
      <ng-container *ngIf="selectedParam == param">
        <mat-card-content>
          <table [cellPadding]="0" [cellSpacing]="0" class="app-table app-mt-4">
            <thead>
              <tr>
                <th>{{ 'desc.value' | translate }}</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let value of param.values; let index = index">
                <td> {{ value }}</td>
                <td class="app-col-action">
                  <a (click)="onEditValue(param, index)" [matTooltip]="'button.editValue' | translate"><mat-icon>edit</mat-icon></a>
                </td>
                <td class="app-col-action">
                  <a (click)="onRemoveValue(param, index)" [matTooltip]="'button.deleteValue' | translate"><mat-icon>delete</mat-icon></a>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button (click)="onNewValue(param)" color="primary">
            {{ 'button.addValue' | translate }}
          </button>
        </mat-card-actions> 
      </ng-container>
    </mat-card>
    <button mat-flat-button (click)="onNewParam()" color="primary" class="app-m-4">
      {{ 'button.addParameter' | translate }}
    </button>
  </ng-container>
</ng-container>

<mat-card *ngIf="errorState" class="app-view-alert app-warn">
  <mat-card-content>
    <mat-icon>error</mat-icon>{{ errorMessage }}
  </mat-card-content>
</mat-card>