<div class="app-repository app-fxLayout app-column app-fill app-form-customize">
  <div class="app-fxLayout app-column app-fill">
		<div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'sites.repository.title' | translate }}</span>
      </div>
      <div>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false">
          <a mat-tab-link (click)="changeView('repository-management')" [active]="view == 'repository-management'"><mat-icon class="material-icons-outlined">admin_panel_settings</mat-icon>{{ 'sites.repository.repository-management.title' | translate }}</a>
          <a *ngIf="!notAllowed" mat-tab-link (click)="changeView('exports')" [active]="view == 'exports'"><mat-icon class="material-icons-outlined">import_export</mat-icon>{{ 'sites.repository.exports.title' | translate }}</a>
          <a mat-tab-link (click)="changeView('bulk-data-editing')"  [active]="view == 'bulk-data-editing'"><mat-icon class="material-icons-outlined">edit_note</mat-icon>{{ 'sites.repository.bulk-data-editing.title' | translate }}</a>
					<a mat-tab-link (click)="changeView('oai')"  [active]="view == 'oai'"><mat-icon class="material-icons-outlined">api</mat-icon>{{ 'sites.repository.oai.title' | translate }}</a>
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      </div>
    </div>
		<div class="app-fxFlex app-oa-y">
			<div class="app-container">
				<mat-card appearance="outlined" *ngIf="view == 'repository-management'">
					<mat-card-content>
						<span [matTooltip]="!allowedGlobalAction('a_rebuild_processing_index') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_rebuild_processing_index')  ? 'app-alert-not-allowed' : null">
							<button [disabled]="!allowedGlobalAction('a_rebuild_processing_index')" mat-flat-button (click)="openscheduleProcessingIndexRebuildDialog()" color="primary" class="app-mr-2" >{{ 'button.buildProcessingIndex' | translate }}</button>
						</span>
						<span [matTooltip]="!allowedGlobalAction('a_rebuild_processing_index') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_rebuild_processing_index')  ? 'app-alert-not-allowed' : null">
							<button [disabled]="!allowedGlobalAction('a_rebuild_processing_index')" mat-flat-button (click)="openscheduleProcessingIndexRebuildForPidDialog()" color="primary" class="app-mr-2">{{ 'button.rebuildTheProcessingIndexForTheObject' | translate }}</button>
						</span>										
					</mat-card-content>
				</mat-card>

				<ng-container *ngIf="view == 'bulk-data-editing'">
					<mat-accordion class="app-view-default" multi>
						<mat-expansion-panel expanded="true">
							<mat-expansion-panel-header>
								<mat-panel-title>{{ 'desc.basedOnEmbeddedPids' | translate }}</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="app-fxLayout app-row app-gap-2">
								<button mat-flat-button  color="primary" disabled="true" [matTooltip]="'button.thisFlagUnsupported' | translate">{{ 'button.setPublicPrivate' | translate }}</button>
								<span [matTooltip]="!allowedGlobalAction('a_set_accessibility') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_set_accessibility')  ? 'app-alert-not-allowed' : null">
									<button [disabled]="!allowedGlobalAction('a_set_accessibility')" mat-flat-button (click)="openAddLicenceDialog()" color="primary">{{ 'button.addLicense' | translate }}</button>
								</span>
								<span [matTooltip]="!allowedGlobalAction('a_set_accessibility') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_set_accessibility')  ? 'app-alert-not-allowed' : null">
									<button [disabled]="!allowedGlobalAction('a_set_accessibility')" mat-flat-button (click)="openRemoveLicenceDialog()" color="primary">{{ 'button.removeLicense' | translate }}</button>
								</span>
							</div>
						</mat-expansion-panel>
						<mat-expansion-panel expanded="true">
							<mat-expansion-panel-header>
								<mat-panel-title>{{ 'desc.deleting' | translate }}</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="app-fxLayout app-row app-gap-2">
								<span [matTooltip]="!allowedGlobalAction('a_delete') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_delete')  ? 'app-alert-not-allowed' : null">
									<button [disabled]="!allowedGlobalAction('a_delete')" mat-flat-button (click)="openScheduleDeleteObjectsSmartDialog()" color="warn">{{ 'button.deleteObjectsSmart' | translate }}</button>
								</span>
								<span [matTooltip]="!allowedGlobalAction('a_delete') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_delete')  ? 'app-alert-not-allowed' : null">
									<button [disabled]="!allowedGlobalAction('a_delete')" mat-flat-button (click)="openDeleteObjectsLowLevelDialog()" color="warn">{{ 'button.deleteObjectsLowLevel' | translate }}</button>
								</span>
							</div>
						</mat-expansion-panel>
						<mat-expansion-panel expanded="true">
							<mat-expansion-panel-header>
								<mat-panel-title>{{ 'desc.licenseSynchronizationFetch' | translate }}</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="app-fxLayout app-row app-gap-2">
								<span [matTooltip]="!allowedGlobalAction('a_index') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_index')  ? 'app-alert-not-allowed' : null">
									<button [disabled]="!allowedGlobalAction('a_index')" mat-flat-button (click)="openScheduleStartTheSdnntReviewProcessDialog()" color="primary">{{ 'button.startSynchronizationWithSDNNT' | translate }}</button>
								</span>
								<span [matTooltip]="!allowedGlobalAction('a_index') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_delete')  ? 'app-alert-not-allowed' : null">
									<button [disabled]="!allowedGlobalAction('a_index')" mat-flat-button (click)="openScheduleSyncWithSdnntDialog()" color="primary">{{ 'button.showSynchronzationResults' | translate }}</button>
								</span>
							</div>
						</mat-expansion-panel>
						<mat-expansion-panel expanded="true">
							<mat-expansion-panel-header>
								<mat-panel-title>{{ 'desc.changeFlagOnLicense' | translate }}</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="app-fxLayout app-row app-gap-2">
								<span [matTooltip]="!allowedGlobalAction('a_index') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_index')  ? 'app-alert-not-allowed' : null">
									<button [disabled]="!allowedGlobalAction('a_index')" mat-flat-button (click)="openScheduleChangeFlagOnLicenseDialog()" color="primary">{{ 'button.changeFlagOnLicense' | translate }}</button>
								</span>
							</div>
						</mat-expansion-panel>
						<mat-expansion-panel expanded="true">
							<mat-expansion-panel-header>
								<mat-panel-title>{{ 'desc.migrationOfCollectionsFromK5' | translate }}</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="app-fxLayout app-row app-gap-2">
								<span [matTooltip]="!allowedGlobalAction('a_index') ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="!allowedGlobalAction('a_index')  ? 'app-alert-not-allowed' : null">
									<button [disabled]="!allowedGlobalAction('a_index')" mat-flat-button (click)="openScheduleMigrateCollectionsDialog()" color="primary">{{ 'button.migrateCollections' | translate }}</button>
								</span>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				</ng-container>

				<mat-card appearance="outlined" *ngIf="view == 'oai'">
					<mat-card-content>
						<div class="app-fxLayout app-row app-gap-2 app-mb-4">
							<mat-form-field appearance="outline" class="app-fxFlex">
								<mat-label>{{ 'desc.implicitSet' | translate }}
									<ng-container *ngIf="defaultSet">
										 {{ "  ("+ defaultSet.numberDocs +" dokumentů)"}}
									</ng-container>
								</mat-label>
								<input matInput [placeholder]="'desc.implicitSet' | translate" [(ngModel)]="deafultSetQuery">
							</mat-form-field>
							<div>
								<button mat-flat-button color="primary" [disabled]="!isDefaultSetQueryChanged()" (click)="saveImplicitSet()" class="app-mr-2">{{ 'button.save' | translate }}</button>
								<button mat-flat-button color="primary" (click)="openAddNewSetDialog()">{{ 'button.addNewSet' | translate }}</button>
							</div>
						</div>
						<h3 class="app-mt-0 app-mb-2">{{ 'desc.listOfSets' | translate }}</h3>
						<table class="app-table">
							<thead>
								<tr>
									<th>{{ 'desc.id' | translate }}</th>
									<th>{{ 'desc.name' | translate }}</th>
									<th>{{ 'desc.description' | translate }}</th>
									<th>{{ 'desc.filter' | translate }}</th>
									<th>{{ 'desc.count' | translate }}</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let oaiSet of getOAISets()" >
									<td> <i> {{oaiSet.setSpec}} </i></td>
									<td>{{oaiSet.setName}}</td>
									<td>{{oaiSet.setDescription}}</td>
									<td>{{oaiSet.filterQuery}}</td>
									<td>{{oaiSet.numberDocs}}</td>
									<td class="app-col-action"><a (click)="openEditSetDialog(oaiSet)" [matTooltip]="'button.edit' | translate"><mat-icon>edit</mat-icon></a></td>
									<td class="app-col-action"><a (click)="deleteSet(oaiSet)" [matTooltip]="'button.delete' | translate"><mat-icon>delete</mat-icon></a></td>
								</tr>
							</tbody>
						</table>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>