<div class="app-access app-fxLayout app-column app-fill">
  <div class="app-fxLayout app-column app-fill">
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'sites.access.title' | translate }}</span>
      </div>
      <div>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false">
          <a mat-tab-link (click)="changeView('actions')" [active]="view == 'actions'"><mat-icon class="material-icons-outlined">admin_panel_settings</mat-icon>{{ 'sites.access.actions.title' | translate }}</a>
          <a mat-tab-link (click)="changeView('roles')" [active]="view == 'roles'"><mat-icon class="material-icons-outlined">manage_accounts</mat-icon>{{ 'sites.access.roles.title' | translate }}</a>
          <a mat-tab-link (click)="changeView('licenses')" [active]="view == 'licenses'"><mat-icon class="material-icons-outlined">policy</mat-icon>{{ 'sites.access.licenses.title' | translate }}</a>
          <a mat-tab-link (click)="changeView('params')" [active]="view == 'params'"><mat-icon class="material-icons-outlined">rule_folder</mat-icon>{{ 'sites.access.parameters.title' | translate }}</a>
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      </div>
    </div>
    <div class="app-fxFlex app-oa-y">
      <div class="app-container">
        <app-rights *ngIf="view == 'actions'"></app-rights>
        <app-roles *ngIf="view == 'roles'"></app-roles>
        <app-licenses *ngIf="view == 'licenses'"></app-licenses>
        <app-params *ngIf="view == 'params'"></app-params>
      </div>
    </div>
  </div>
</div>