<h2 mat-dialog-title>{{ mode == 'new' ? "Nová licence" : "Úprava licence" }}</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="fill" class="app-w-100">
    <mat-label>Role</mat-label>
    <mat-select [(value)]="right.role">
      <mat-option *ngFor="let role of roles" (click)="right.role = role" [value]="role">
        {{ role ? role.name : '-'  }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="app-w-100">
    <mat-label>Podmínka</mat-label>
    <mat-select [(value)]="right.condition">
      <mat-option value="-" (click)="selectCondition(null)">-</mat-option>
      <mat-option *ngFor="let condition of conditions" (click)="selectCondition(condition)" [value]="condition">
        {{ condition ? condition.name : '-' }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="app-w-100" *ngIf="right.condition && right.condition.paramsNecessary">
    <mat-label>Parametr</mat-label>
    <mat-select [(value)]="right.condition.params">
      <mat-option value="-" (click)="selectParam(null)">-</mat-option>
      <mat-option *ngFor="let param of params" (click)="selectParam(param)" [value]="param">
        {{ param.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="app-w-100" *ngIf="right.condition && right.condition.isLabelAssignable">
    <mat-label>Licence</mat-label>
    <mat-select [(value)]="right.condition.license">
      <mat-option value="-" (click)="selectLicense(null)">-</mat-option>
      <mat-option *ngFor="let license of licenses" (click)="selectLicense(license)" [value]="license.name">
        {{ license.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" *ngIf="mode == 'new'" (click)="onSave()">Vytvořit</button>
  <button mat-flat-button color="primary" *ngIf="mode == 'edit'" (click)="onSave()">Upravit</button>
  <button mat-flat-button color="warn" (click)="onCancel()"><mat-icon>clear</mat-icon>Zrušit</button>
</mat-dialog-actions>



<!-- <div mat-dialog-content>
  <div class="app-dialog-title">{{ mode == 'new' ? "Nová licence" : "Úprava licence" }}</div>
  

  <div class="app-dialog-content">
    
    <div class="app-property">
      <div class="app-label">Role</div>
      <div class="app-value" [matMenuTriggerFor]="roleMenu"> {{ right.role ? right.role.name : '-' }}</div>
    </div>

    <div class="app-property">
      <div class="app-label">Podmínka</div>
      <div class="app-value" [matMenuTriggerFor]="conditionMenu"> {{ right.condition ? right.condition.name : '-' }}</div>
    </div>

    <div class="app-property" *ngIf="right.condition && right.condition.paramsNecessary">
      <div class="app-label">Parametr</div>
      <div class="app-value" [matMenuTriggerFor]="paramMenu">
        {{ right.condition.params ? right.condition.params.description : '-' }}
      </div>
    </div>

    <div class="app-property" *ngIf="right.condition && right.condition.isLabelAssignable">
      <div class="app-label">Licence</div>
      <div class="app-value" [matMenuTriggerFor]="licenseMenu">
        {{ right.condition.license ? right.condition.license : '-' }}
      </div>
    </div>


  </div>
        
  <div class="app-dialog-actions">
    <div *ngIf="mode == 'new'" class="app-button" (click)="onSave()">Vytvořit</div>
    <div *ngIf="mode == 'edit'" class="app-button" (click)="onSave()">Upravit</div>
    <div class="app-button app-button-light" (click)="onCancel()">Zrušit</div>
  </div>

</div>



<mat-menu #roleMenu="matMenu" xPosition="after" class="app-dropdown-menu">
  <ng-template matMenuContent ngFor>
    <div>
      <div *ngFor="let role of roles" class="app-item" (click)="right.role = role">
        <div class="app-item-name">{{ role.name }}</div>
      </div>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #conditionMenu="matMenu" xPosition="after" class="app-dropdown-menu">
  <ng-template matMenuContent ngFor>
    <div>
      <div class="app-item" (click)="selectCondition(null)">
        <div class="app-item-name">-</div>
      </div>
      <div *ngFor="let condition of conditions" class="app-item" (click)="selectCondition(condition)">
        <div class="app-item-name">{{ condition.name }}</div>
      </div>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #licenseMenu="matMenu" xPosition="after" class="app-dropdown-menu">
  <ng-template matMenuContent ngFor>
    <div>
      <div class="app-item" (click)="selectLicense(null)">
        <div class="app-item-name">-</div>
      </div>
      <div *ngFor="let license of licenses" class="app-item" (click)="selectLicense(license)">
        <div class="app-item-name">{{ license.name }}</div>
      </div>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #paramMenu="matMenu" xPosition="after" class="app-dropdown-menu">
  <ng-template matMenuContent ngFor>
    <div class="app-item" (click)="selectParam(null)">
      <div class="app-item-name">-</div>
    </div>
    <div *ngFor="let param of params" class="app-item" (click)="selectParam(param)">
      <div class="app-item-name">{{ param.description }}</div>
    </div>
  </ng-template>
</mat-menu> -->
