@import './src/sass/app-variables.scss';
.mat-dialog-content {
  max-width: 1200px;
  min-width: 400px;
  .app-dialog-actions {
    margin-top: 20px;
    .app-button {
      &.app-button-warn {
        float: right;
      }
    }
  }
}


::ng-deep {
  .app-dropdown-menu {
    max-width: 1300px !important;
    .app-item {
      overflow: hidden;
      padding: 5px 8px;
      width: 400px;
      cursor: pointer;
      .app-item-name {
        line-height: 28px;
      }
      &:hover {
        background: #e5e5e5;
      }
    }
  }

}