<div class="app-import app-h-100">
  <div fxLayout="column" fxFlexFill>
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'sites.import.title' | translate }}</span>
      </div>
      <div>
        <nav mat-tab-nav-bar>
          <a mat-tab-link (click)="changeType('foxml')" [active]="type == 'foxml'"><mat-icon class="material-icons-outlined">code</mat-icon>FOXML</a>
          <a mat-tab-link (click)="changeType('ndk')" [active]="type == 'ndk'"><mat-icon class="material-icons-outlined">code</mat-icon>NDK METS</a>
        </nav>
      </div>
    </div>
    <div fxFlex fxLayout="column" fxFlexFill class="app-container">
      <ng-container *ngIf="!this.inputDirError[this.type]">
        <div fxLayout="row" fxLayoutAlign="start end" class="app-mb-4">
          <div fxFlex>
            <mat-checkbox [disableRipple]="true" [disabled]="!imports.selectedTree" [(ngModel)]="scheduleIndexations" color="primary" class="app-mr-4">{{ 'desc.scheduleSubsequentIndexing' | translate }}</mat-checkbox>
            <mat-checkbox [disableRipple]="true" [disabled]="!imports.selectedTree" *ngIf="type == 'ndk'" [(ngModel)]="ndkPublic" color="primary">{{ 'desc.post' | translate }}</mat-checkbox>
          </div>
          <div>
            <button mat-flat-button color="primary" (click)="submit()" [disabled]="!imports.selectedTree">{{ 'button.startImport' | translate }}</button>
          </div>
        </div>
        <div fxFlex class="app-oh">
          <mat-card fxLayout="column" fxFlexFill *ngIf="!this.inputDirError[this.type]" class="app-p-0 app-card app-view-border">
            <div fxLayout="row" fxLayoutAlign="start center" class="app-path-bar app-mb-2">
              <div fxFlex class="app-left">
                <ng-container *ngIf="imports.selectedTree">
                  <a (click)="clearPath()" class="app-clear-filter app-mr-2" [matTooltip]="'button.deselect' | translate">
                    <mat-icon>cancel</mat-icon>
                  </a>
                  <strong class="app-mr-2">{{ 'desc.selectedPath' | translate }}:</strong>
                </ng-container>
                <span class="app-path">{{ imports.selectedTree ? imports.selectedTree.getFullPath() : '' }}</span>
              </div>
              <div class="app-right">
                <a (click)="showHelpDialog()" [matTooltip]="'button.showHelp' | translate"><mat-icon>help</mat-icon></a>
              </div>
            </div>
            <div fxFlex class="app-oa-y app-pl-2 app-pr-2 app-pb-2">
              <app-tree [tree]="tree"></app-tree>
            </div>
          </mat-card>
        </div>
      </ng-container>
      
      <mat-card *ngIf="this.inputDirError[this.type]" class="app-view-alert app-warn">
        <mat-card-content>
          <mat-icon>error</mat-icon>{{ this.inputDirError[this.type] }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>