<div class="app-home app-h-100">
	<div fxLayout="column" fxFlexFill>
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-7">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <span class="app-last">home</span>
      </div>
     <!--  <div>
        <nav mat-tab-nav-bar>
          <a mat-tab-link (click)="changeView('statistics')" [active]="view == 'statistics'"><mat-icon class="material-icons-outlined">bar_chart</mat-icon>{{ 'tabnav.statistics' | translate }}</a>
          <a mat-tab-link (click)="changeView('mostViewedDocuments')"  [active]="view == 'mostViewedDocuments'"><mat-icon class="material-icons-outlined">preview</mat-icon>{{ 'tabnav.mostViewedDocuments' | translate }}</a>
        </nav>
      </div> -->
    </div>
    <div fxFlex class="app-oa-y app-pt-8">
			<div class="app-container">
				<div fxLayout="row wrap" fxLayoutAlign="center" class="app-cards-wrapper">
					<ng-container *ngFor="let item of dashBoard">
						<mat-card *ngIf="item.display" class="app-card app-view-border" fxLayout="column" fxLayoutAlign="start center">
							<mat-card-header>
								<mat-card-title>{{ 'homeDashboard.' + item.type + '.title' | translate }}</mat-card-title>
								<mat-card-subtitle>{{ 'homeDashboard.' + item.type + '.' + item.subtype + '.subtitle' | translate }}</mat-card-subtitle>
							</mat-card-header>
							<mat-card-content>
								<div class="app-mark-rounded" [ngClass]="'app-' + item.type + '-' + item.subtype">
									<mat-icon>{{ 'homeDashboard.' + item.type + '.' + item.subtype + '.icon' | translate }}</mat-icon>
								</div>
								<div class="app-desc">
									{{ 'homeDashboard.' + item.type + '.' + item.subtype + '.desc' | translate }}
								</div>
							</mat-card-content>
							<mat-card-actions>
								<button mat-flat-button color="accent" [routerLink]="'/' + item.type + '/' + item.subtype">
									<span>Přejít</span>
									<mat-icon>arrow_forward</mat-icon>
								</button>
							</mat-card-actions>
						</mat-card>
					</ng-container>
					





					<!-- <mat-card class="app-card app-view-border" fxLayout="column" fxLayoutAlign="start center">
						<mat-card-header>
							<mat-card-title>Indexace</mat-card-title>
							<mat-card-subtitle>Objekt</mat-card-subtitle>
						</mat-card-header>
						<mat-card-content>
							<div class="app-mark-rounded">
								<mat-icon>data_object</mat-icon>
							</div>
							<div class="app-desc">
								Indexace objektu, nebo stromu, jehož je objekt kořenem. Na základě PIDu, nebo seznamu PIDů vloženého do formuláře, nebo načteného ze souboru.
							</div>
						</mat-card-content>
						<mat-card-actions>
							<button mat-flat-button color="accent">
								<span>Přejít</span>
								<mat-icon>arrow_forward</mat-icon>
							</button>
						</mat-card-actions>
					</mat-card>

					<mat-card class="app-card app-view-border" fxLayout="column" fxLayoutAlign="start center">
						<mat-card-header>
							<mat-card-title>Indexace</mat-card-title>
							<mat-card-subtitle>Model</mat-card-subtitle>
						</mat-card-header>
						<mat-card-content>
							<div class="app-mark-rounded" style="background-color: #FF6D00">
								<mat-icon>category</mat-icon>
							</div>
							<div class="app-desc">
								Indexace objektů (a jejich stromů), které mají vybraný model.
							</div>
						</mat-card-content>
						<mat-card-actions>
							<button mat-flat-button color="accent">
								<span>Přejít</span>
								<mat-icon>arrow_forward</mat-icon>
							</button>
						</mat-card-actions>
					</mat-card>

					<mat-card class="app-card app-view-border" fxLayout="column" fxLayoutAlign="start center">
						<mat-card-header>
							<mat-card-title>Repozitář</mat-card-title>
							<mat-card-subtitle>Hromadné úpravy dat</mat-card-subtitle>
						</mat-card-header>
						<mat-card-content>
							<div class="app-mark-rounded" style="background-color: #AA00FF">
								<mat-icon>edit_note</mat-icon>
							</div>
							<div class="app-desc">
								Na základě vložených PIDů, na základě dat, smazání.
							</div>
						</mat-card-content>
						<mat-card-actions>
							<button mat-flat-button color="accent">
								<span>Přejít</span>
								<mat-icon>arrow_forward</mat-icon>
							</button>
						</mat-card-actions>
					</mat-card>

					<mat-card class="app-card app-view-border" fxLayout="column" fxLayoutAlign="start center">
						<mat-card-header>
							<mat-card-title>Sbírky</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<div class="app-mark-rounded" style="background-color: #00B8D4">
								<mat-icon>library_books</mat-icon>
							</div>
							<div class="app-desc">
								Atlas zahrnuje zobrazení zemí, které podléhaly bezprostředně habsburským vladařům, další potom přináší materiál k suverénním říšským ...
							</div>
						</mat-card-content>
						<mat-card-actions>
							<button mat-flat-button color="accent">
								<span>Přejít</span>
								<mat-icon>arrow_forward</mat-icon>
							</button>
						</mat-card-actions>
					</mat-card>

					<mat-card class="app-card app-view-border" fxLayout="column" fxLayoutAlign="start center">
						<mat-card-header>
							<mat-card-title>Sbírky</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<div class="app-mark-rounded" style="background-color: #00B8D4">
								<mat-icon>library_books</mat-icon>
							</div>
							<div class="app-desc">
								Atlas zahrnuje zobrazení zemí, které podléhaly bezprostředně habsburským vladařům, další potom přináší materiál k suverénním říšským ...
							</div>
						</mat-card-content>
						<mat-card-actions>
							<button mat-flat-button color="accent">
								<span>Přejít</span>
								<mat-icon>arrow_forward</mat-icon>
							</button>
						</mat-card-actions>
					</mat-card> -->
				</div>				
			</div>
		</div>
  </div>
</div>