<div class="app-import app-h-100">
  <div fxLayout="column" fxFlexFill>
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-8">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'sites.cdkProxy.title' | translate }}</span>
      </div>
    </div>
    <div fxFlex class="app-container-fluid app-oh">
      <div class="app-table-wrapper app-maxh-100 app-view-border app-oa-y">

        <table mat-table [dataSource]="dataSource" class="app-w-100">

          <ng-container matColumnDef="logo">
            <th mat-header-cell *matHeaderCellDef>{{ 'Logo'}}</th>
            <td mat-cell *matCellDef="let lib">
              <img style="width:24px; height:24px;" src="{{logo(lib.code)}}"/>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.code' | translate }}</th>
            <td mat-cell *matCellDef="let lib"><strong>{{ lib.code }}</strong></td>
          </ng-container>
          
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.name' | translate }}</th>
            <td mat-cell *matCellDef="let lib">{{ register.get(lib.code) != null ? register.get(lib.code).name : '' }}</td>
          </ng-container>

          <ng-container matColumnDef="online">
            <th mat-header-cell *matHeaderCellDef class="app-text-right" >{{ 'desc.state' | translate }}</th>
            <td mat-cell *matCellDef="let lib">
              <span *ngIf="register.get(lib.code) && register.get(lib.code)['alive']">{{ 'online' }} </span>
              <span *ngIf="!register.get(lib.code) || !register.get(lib.code)['alive']">{{ 'offile' }} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="stateduration">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.stateduration' | translate }}</th>
            <td mat-cell *matCellDef="let lib">{{ formatDuration(lib.code) }}</td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef class="app-text-right" >{{ 'Přepinač'  }}</th>
            <td mat-cell *matCellDef="let lib" class="app-text-right">
              <mat-slide-toggle [checked]="lib.status" (change)="toggle(lib.code, $event)" [matTooltip]="lib.status ? ('desc.state' | translate) + ': ' + 'Zapnuto' : ('desc.state' | translate) + ': ' + 'Vypnuto'"></mat-slide-toggle>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>