<div class="app-import app-h-100">
  <div fxLayout="column" fxFlexFill>
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-8">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'sites.cdkProxy.title' | translate }}</span>
      </div>
    </div>
    <div fxFlex fxLayout="column" fxFlexFill class="app-container">
      cdk proxy
    </div>
  </div>
</div>