<div class="app-object app-h-100">
  <div fxLayout="row" fxFlexFill fxLayoutAlign="center center" *ngIf="!correctPid() && !checkingPid">
    <mat-card class="app-card app-view-border app-p-8" fxFlex="600px">
      <mat-card-content>
        <mat-form-field appearance="fill" class="app-mb-n4 app-w-100">
          <mat-label>{{ 'desc.enterTheUuidOfTheObject' | translate }}</mat-label>
          <input matInput [(ngModel)]="inputPid" placeholder="{{pid}}" (keyup.enter)="assignUuid()" type="text">
        </mat-form-field>
        <mat-error *ngIf="!!errorMessage">
          {{ errorMessage }}
        </mat-error>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="checkingPid"></mat-progress-bar>

  <div fxLayout="column" fxFlexFill *ngIf="correctPid()">
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <a routerLink="/object">{{ 'navbar.object' | translate }}</a>
        <span class="app-separator">/</span>
        <span class="app-last app-text-cutter">
          <span [matTooltip]="title">{{ title }}</span>
          <!-- {{ getCurrentRoute('string') }} --> 
        </span>
      </div>
      <div>
        <nav mat-tab-nav-bar>
          <a mat-tab-link (click)="changeView('collections')" [active]="view == 'collections'">
            <mat-icon class="material-icons-outlined">collections</mat-icon>{{ 'tabnav.inCollections' | translate }}
          </a>
          <a mat-tab-link (click)="changeView('rights')" [active]="view == 'rights'">
            <mat-icon class="material-icons-outlined">admin_panel_settings</mat-icon>{{ 'tabnav.rights' | translate }}
          </a>
          <a mat-tab-link (click)="changeView('accessibility')" [active]="view == 'accessibility'">
            <mat-icon class="material-icons-outlined">accessibility</mat-icon>{{ 'tabnav.accessibility' | translate }}
          </a>
          <a mat-tab-link (click)="changeView('other')" [active]="view == 'other'">
            <mat-icon class="material-icons-outlined">settings</mat-icon>{{ 'tabnav.others' | translate }}
          </a>
        </nav>
      </div>
    </div>
    <div fxFlex class="app-oh app-oa-y">
      <div class="app-container">

        <!-- tab RIGHTS -->
        <mat-card fxLayout="column" class="app-card app-view-border app-p-0" *ngIf="view == 'rights'">
          <app-rights [pid]="pid"></app-rights>
        </mat-card>

        <!-- tab ACCESSIBILITY -->
        <mat-card fxLayout="column" class="app-card app-view-border app-p-0" *ngIf="view == 'accessibility'">
          <mat-progress-bar mode="indeterminate" *ngIf="loadingLicenses"></mat-progress-bar>
          <div *ngIf="!loadingLicenses">
            <!-- TODO: nastylovat -->
            <div>policy: {{policy}}
              <button (click)="onChangePolicy()">Změnit</button>
            </div>
            <h3>Licence</h3>
            <div *ngFor="let license of licenses">
              {{license}}
              <button (click)="onRemoveLicense(license)">Odebrat</button>
            </div>
            <br>
            <button (click)="onAddLicense()">Přidat licenci</button>
          </div>  
        </mat-card>

        <!-- tab OTHER -->
        <mat-card fxLayout="column" class="app-card app-view-border app-p-0" *ngIf="view == 'other'">
          <h4>Synchronizace</h4>
          <div>
            <button mat-raised-button (click)="indexObjectWithProcess()" color="primary">Reindexovat (vyhledávací
              index)</button>
          </div>
          <br>
          <div>
            <button mat-flat-button (click)="rebuildProcessingIndexForObject()" color="primary">{{
              'button.rebuildTheProcessingIndexForTheObject' | translate }}</button>
          </div>
          <br>
          <h4>Mazání</h4>
          <div>
            <button mat-raised-button disabled (click)="deleteObjectTreeWithProcess()" color="primary">Smazat celý
              strom
              (chytře)</button>
          </div>
          <br>
          <div>
            <button mat-raised-button (click)="deleteObjectFromRepo()" color="warn">Smazat z repozitáře (jen
              objekt)</button>
          </div>

          <h4>Exporty</h4>
          <div>
            <button mat-raised-button disabled color="primary">Export PDF</button>
          </div>
          <div>
            <br>
            <button mat-raised-button disabled color="primary">Export FOXML</button>
          </div>

          <!-- <ul>
            <li>TODO: export PDF?</li>
            <li>TODO: export FOXML?</li>
          </ul> -->
        </mat-card>




        

        <mat-card class="app-card app-view-border app-view-header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px" *ngIf="view === 'collections'">
          <div fxFlex>
            {{ getCurrentRoute('string') }}
          </div>
          <div>
            <a mat-flat-button color="primary" (click)="onAddThisToSuperCollection()">
              <mat-icon>add_circle</mat-icon>{{ 'button.addToThisCollection' | translate }}
            </a>
          </div>
        </mat-card>
        <mat-card fxLayout="column" *ngIf="view === 'collections'" class="app-card app-view-border app-maxh-100 app-p-0 app-oa-y">
          <!-- TODO: nastylovat, pro testovani odkomentovat .pipe(delay(3000)); v AdminApiService.getCollectionsContainingItem() -->
          <mat-progress-bar mode="indeterminate" *ngIf="loadingCollections"></mat-progress-bar>
          <ng-container *ngIf="!loadingCollections">
            <mat-card class="app-view-rights app-view-hover app-cursor-pointer" *ngFor="let superCollection of superCollections">
              <mat-card-header fxLayout="row" fxLayoutGap="16px">
                <div>
                  <img [src]="getThumb(superCollection['id'])" />
                </div>
                <div fxFlex class="app-left">
                  <mat-card-title>
                    <mat-icon>link</mat-icon>{{ getCollectionName(superCollection) }}
                  </mat-card-title>
                  <mat-card-subtitle>{{ getCollectionDescription(superCollection) }}</mat-card-subtitle>
                </div>
                <div class="app-right app-actions">
                  <a (click)="onRemoveItemFromCollection(superCollection['id'], getCollectionName(superCollection), pid, title); $event.preventDefault(); $event.stopPropagation()" [matTooltip]="'button.removeFromCollection' | translate" class="app-btn-warn">
                    <mat-icon>cancel</mat-icon>
                  </a>
                </div>
              </mat-card-header>
            </mat-card>
            <!-- TODO: sbírky, co ho obsahují nepřímo od rodiče (z indexu)? Jen pro informaci, nebo proklik na sbírku-->
          </ng-container>
        </mat-card>

      </div>
    </div>
  </div>
</div>