<div class="app-object app-h-100">
  <div fxLayout="row" fxFlexFill fxLayoutAlign="center center" *ngIf="!pid">
    <mat-card class="app-card app-view-border app-p-8" fxFlex="600px">
      <mat-card-content>
        <mat-form-field appearance="fill" class="app-mb-n4 app-w-100">
          <mat-label>{{ 'desc.enterTheUuidOfTheObject' | translate }}</mat-label>
          <input matInput [(ngModel)]="inputPid" placeholder="Zadejte UUID objektu" (keyup.enter)="assignUuid()" type="text">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="column" fxFlexFill *ngIf="pid">
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <a routerLink="/object">{{ 'breadcrumbs.object' | translate }}</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ getCurrentRoute('string') }}</span>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'breadcrumbs.' + view | translate }}</span>
      </div>
      <div>
        <nav mat-tab-nav-bar>
          <a mat-tab-link (click)="changeView('rights')" [active]="view == 'rights'"><mat-icon class="material-icons-outlined">admin_panel_settings</mat-icon>{{ 'tabnav.rights' | translate }}</a>
          <a mat-tab-link (click)="changeView('accessibility')"  [active]="view == 'accessibility'"><mat-icon class="material-icons-outlined">accessibility</mat-icon>{{ 'tabnav.accessibility' | translate }}</a>
        </nav>
      </div>
    </div>
    <div fxFlex class="app-oh app-oa-y">
      <div class="app-container">
        <mat-card fxLayout="column" class="app-card app-view-border app-p-0">
          <app-rights *ngIf="view == 'rights'" [pid]="pid"></app-rights>
        </mat-card>
      </div>
    </div>
  </div>
</div>