<div class="app-process">
  <!-- Process {{ processId }} -->

  <div *ngIf="process">
    <h2 class="app-process-title">{{process.name}}</h2>
    
    <div fxLayout="row">
      <!-- karta procesu -->
      <mat-card class="app-card">
        <div class="app-card-header">Proces</div>
        <div class="app-state">
          <div class="app-state-label" [style.backgroundColor]="process.getStateColor()">{{ process.getStateLabel() }}
          </div>
        </div>
        <div *ngIf="process.planned">
          <div class="app-card-content-label">Naplánován</div>
          <div class="app-card-content-value">{{process.planned | appDatetime}}</div>
        </div>
        <div *ngIf="process.started">
          <div class="app-card-content-label">Spuštěn</div>
          <div class="app-card-content-value">{{process.started | appDatetime}}</div>
        </div>
        <div *ngIf="process.finished">
          <div class="app-card-content-label">Ukončen</div>
          <div class="app-card-content-value">{{process.finished | appDatetime}}</div>
        </div>
        <div *ngIf="process.getDuration()">
          <div class="app-card-content-label">Trvání</div>
          <div class="app-card-content-value">{{process.getDuration() | appDuration}}</div>
        </div>
      </mat-card>
      <!-- karta davky -->
      <mat-card class="app-card">
        <div class="app-card-header">Dávka</div>
        <div class="app-state">
          <div class="app-state-label" [style.backgroundColor]="batch.getStateColor()">{{ batch.getStateLabel() }}
          </div>
        </div>
        <div *ngIf="batch.planned">
          <div class="app-card-content-label">Naplánována</div>
          <div class="app-card-content-value">{{batch.planned | appDatetime}}</div>
        </div>
        <div *ngIf="batch.started">
          <div class="app-card-content-label">Spuštěna</div>
          <div class="app-card-content-value">{{batch.started | appDatetime}}</div>
        </div>
        <div *ngIf="batch.finished">
          <div class="app-card-content-label">Ukončena</div>
          <div class="app-card-content-value">{{batch.finished | appDatetime}}</div>
        </div>
        <div *ngIf="batch.getDuration()">
          <div class="app-card-content-label">Trvání</div>
          <div class="app-card-content-value">{{batch.getDuration() | appDuration}}</div>
        </div>
        <mat-card-actions>
          <!-- TODO: akce a filtrovani podle stavu procesu -->
          <button mat-button>Zastavit</button>
          <button mat-button>Smazat</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <h2>Logy procesu</h2>
    <mat-tab-group>
      <mat-tab label="Standardní">
        <app-process-logs [process]="process" [logType]="'out'"></app-process-logs>
      </mat-tab>
      <mat-tab label="Chybové">
        <app-process-logs [process]="process" [logType]="'err'"></app-process-logs>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>