.app-process {
  padding: 16px;
}

.app-process-title {
  margin: 8px;
}

.app-card {
  margin: 16px; 
  min-width: 220px;
}

.app-card-header {
  font-size: 140%;
}

.app-state {
  width: 110px;
  margin-bottom: 16px;
  .app-state-label {
    color: #fff;
    text-align: center;
    height: 21px;
    line-height: 22px;
    margin-top: 13px;
    border-radius: 8px;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.app-card-content-label {
  font-style: italic;
  color: #999;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 85%;
}

.app-card-content-value {
  margin-left: 16px;
}

