.app-process {
  padding: 20px;
  height: 100%;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 17px;
  color: #222;
  font-weight: 400;
}

.app-card {
  margin: 16px 0; 
  width: 180px;
}

.app-card-header {
  font-size: 18px;
}

.app-state {
  width: 110px;
  margin-bottom: 16px;
  .app-state-label {
    color: #fff;
    text-align: center;
    height: 21px;
    line-height: 22px;
    margin-top: 13px;
    border-radius: 8px;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.app-card-content-label {
  color: #999;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 85%;
}

.app-cards-left {
  float: left;
  width: 200px;
  height: calc(100% - 14px);
  overflow-y: auto;
}

.app-tabs {
  float: left;
  margin-top: -30px;
  width: calc(100% - 200px);
  height: calc(100% + 20px);
  overflow: hidden;
  .app-tabs-headers {
    height: 48px;
    position: relative;
    .app-tabs-header {
      top: 50px;
      height: 48px;
      padding: 0 24px;
      cursor: pointer;
      box-sizing: border-box;
      opacity: .6;
      min-width: 160px;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      position: relative;
      border-bottom: 2px solid transparent;
      &.app-tabs-active {
        border-bottom: 2px solid black;
      }
      &:hover {
        color: #000;
      }
    }
  }
  .app-tabs-content {
    height: calc(100% - 48px);
  }
}

