<div class="app-process">
  <!-- Process {{ processId }} -->

  <div *ngIf="process">
    <h2 class="app-process-title">{{process.name}}</h2>
    <br>

    <mat-card style="width:500px">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Proces</mat-card-title>
        <!-- <mat-card-subtitle><div class="app-state-label" [style.backgroundColor]="process.getStateColor()">{{ process.getStateLabel() }}
        </div></mat-card-subtitle> -->
        <mat-card-subtitle>{{process.getStateLabel()}}</mat-card-subtitle>
        <!-- <mat-card-subtitle>{{process.name}}</mat-card-subtitle> -->
      </mat-card-header>

      <!-- <h1>Proces</h1> -->
      <mat-card-content>
        <!-- <div class="app-process-state">
          <div class="app-state-label" [style.backgroundColor]="process.getStateColor()">{{ process.getStateLabel() }}
          </div>
        </div> -->
        <p *ngIf="process.planned">
          Naplánováno: {{process.planned | appDatetime}}
        </p>
        <p *ngIf="process.started">
          Spuštěno: {{process.started | appDatetime}}
        </p>
        <p *ngIf="process.finished">
          Ukončeno: {{process.finished | appDatetime}}
        </p>
        <p *ngIf="process.getDuration()">
          Trvání: {{process.getDuration() | appDuration}}
        </p>
      </mat-card-content>
    </mat-card>

    <br>
    
    <mat-card style="width:500px">
      <h1>Dávka</h1>
      <div>{{batch.name}}</div>
      <div class="app-process-state">
        <div class="app-state-label" [style.backgroundColor]="batch.getStateColor()">{{ batch.getStateLabel() }}
        </div>
      </div>
      <div *ngIf="batch.planned">
        Naplánováno: {{batch.planned | appDatetime}}
      </div>
      <div *ngIf="batch.started">
        Spuštěno: {{batch.started | appDatetime}}
      </div>
      <div *ngIf="batch.finished">
        Ukončeno: {{batch.finished | appDatetime}}
      </div>
      <div *ngIf="batch.getDuration()">
        Trvání: {{batch.getDuration() | appDuration}}
      </div>
    </mat-card>


    <h2>Logy procesu</h2>
    <mat-tab-group>
      <mat-tab label="Standardní">
        <app-process-logs [process]="process" [logType]="'out'"></app-process-logs>
      </mat-tab>
      <mat-tab label="Chybové">
        <app-process-logs [process]="process" [logType]="'err'"></app-process-logs>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>