
.app-edit-collection {
  padding: 20px;
  height: 100%;
  overflow: hidden;


  .app-page-dialog {
    height: 100%;
    overflow: hidden;
    .app-dialog-content-wrapper {
      max-height: calc(100% - 100px);
      overflow: auto;
  }
  }

}
