<mat-progress-bar mode="indeterminate" *ngIf="state!='success'"></mat-progress-bar>
<div class="app-p-4">
  <mat-form-field class="app-w-100">
    <mat-label>{{ 'desc.collectionName'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
    <input matInput [(ngModel)]="name" (ngModelChange)="onModelLangChange('names',$event)" >
  </mat-form-field>
  <div fxLayout="row" fxLayoutGap="24px">
    <!--
    <div>
      <img onerror="this.src='assets/img/no-image.png'" src="https://k7.inovatika.dev/search/api/client/v7.0/items/uuid:e6283a8b-59d7-11ed-a39a-001b63bd97ba/image/thumb" class="app-representative-page" [matTooltip]="'button.representativePage' | translate">
    </div>
    -->
    <div fxFlex>
      <mat-form-field class="app-w-100">
        <mat-label>{{ 'desc.shortDescriptionOfTheCollection'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
        <textarea matInput [(ngModel)]="description" rows="4" (ngModelChange)="onModelLangChange('descriptions',$event)"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center">
    <mat-form-field fxFlex="300px">
      <mat-label>{{ 'desc.keywords'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
      <input matInput>
      <button matSuffix mat-icon-button color="accent" [matTooltip]="'desc.addKeyword' | translate" [matTooltipPosition]="'above'">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
    <div fxFlex>
      <span class="app-badge app-mr-1">zlin</span><span class="app-badge app-mr-1">bratislava</span><span class="app-badge app-mr-1">myslivost a berani rohy</span>
    </div>
  </div>
  <mat-form-field class="app-w-100">
    <mat-label>{{ 'desc.author'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
    <input matInput>
  </mat-form-field>
  <div class="app-w-100 app-mb-4">
    <div class="app-label app-mb-2">{{ 'desc.separateCollection'  | translate }}</div>
    <mat-checkbox [disableRipple]="true" color="primary" [(ngModel)]="standalone" (ngModelChange)="onStandaloChange($event)">{{ 'desc.yes' | translate }}</mat-checkbox>
  </div>
  <div class="app-w-100 app-mb-4">
    <div class="app-label app-mb-2">{{ 'desc.fullDescriptionOfTheCollection'  | translate }} ({{ 'lang.' + lang | translate }})</div>
    <ckeditor [config]="editorConfig" [editor]="editorCze" required [ngModel]="content" (ngModelChange)="onModelLangChange('contents', $event)" data="" name="text"></ckeditor>
  </div>
  <div>
    <button mat-flat-button color="primary" *ngIf="mode === 'new'" (click)="onSave()" class="app-mr-2">{{ 'button.create'  | translate }}</button>
    <button mat-flat-button color="primary" *ngIf="mode === 'edit'" (click)="onUpdate()" class="app-mr-2">{{ 'button.edit'  | translate }}</button>
    <button mat-flat-button color="warn" *ngIf="mode === 'edit'" (click)="onDelete()" class="app-mr-2">{{ 'button.remove'  | translate }}</button>
  </div>
</div>