<mat-progress-bar mode="indeterminate" *ngIf="state!='success'"></mat-progress-bar>
<mat-card-content class="app-fxLayout app-column app-gap-4">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'desc.collectionName'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
    <input matInput [(ngModel)]="name" (ngModelChange)="onModelLangChange('names',$event)" >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'desc.shortDescriptionOfTheCollection'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
    <textarea matInput [(ngModel)]="description" rows="4" (ngModelChange)="onModelLangChange('descriptions',$event)"></textarea>
  </mat-form-field>

  <div class="app-fxLayout app-row app-gap-4">
    <img onerror="this.src='assets/img/no-image.png'" [src]="getThumb(collection)" class="app-representative-page" [matTooltip]="'button.representativePage' | translate">
    <div>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput class="app-dn">
      <button mat-flat-button color="primary" (click)="fileInput.click()">
        {{ 'button.changeRepresentativeView' | translate }}
      </button>
    </div>
  </div>

  <div class="app-fxLayout app-row app-gap-4 app-center-v">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'desc.keywords'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
      <input matInput [(ngModel)]="keyword">
      <button mat-icon-button matSuffix color="primary" (click)="newKeyword()" class="app-action app-cursor-pointer" [matTooltip]="'desc.addKeyword' | translate" [matTooltipPosition]="'above'">
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-form-field>
    <div *ngIf="getKeywords()" class="app-fxFlex">
      <span *ngFor="let keyword of getKeywords()" (mouseover)="keywordToDelete = keyword" (mouseleave)="keywordToDelete = '' " (click)="deleteKeyword( keyword)" class="app-badge app-mr-1 app-cursor-pointer" [ngClass]="keywordToDelete === keyword ? 'app-failed' : 'app-keyword'" [matTooltip]="'button.delete' | translate" [matTooltipPosition]="'above'">
        {{ keyword }}<mat-icon class="app-ml-1" (click)="deleteKeyword( keyword)">close</mat-icon>
      </span>
    </div>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'desc.author'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
    <input matInput [(ngModel)]="author" (ngModelChange)="onAuthorChange($event)">
  </mat-form-field>

  <div>
    <div class="app-label app-mb-2">{{ 'desc.separateCollection'  | translate }}</div>
    <mat-checkbox [disableRipple]="true" color="primary" [(ngModel)]="standalone" (ngModelChange)="onStandaloChange($event)">{{ 'desc.yes' | translate }}</mat-checkbox>
  </div>

  <div>
    <div class="app-label app-mb-2">{{ 'desc.fullDescriptionOfTheCollection'  | translate }} ({{ 'lang.' + lang | translate }})</div>
    <ckeditor [config]="editorConfig" 
   
    [editor]="Editor"

    required [ngModel]="content" (ngModelChange)="onModelLangChange('contents', $event)" data="" name="text"></ckeditor>
  </div>

  <div class="app-fxLayout app-row app-gap-2">
    <button mat-flat-button color="primary" *ngIf="mode === 'new'" (click)="onSave()">{{ 'button.create'  | translate }}</button>
    <button mat-flat-button color="primary" *ngIf="mode === 'edit'" (click)="onUpdate()">{{ 'button.edit'  | translate }}</button>
    <button mat-flat-button color="warn" *ngIf="mode === 'edit'" (click)="onDelete()">{{ 'button.remove'  | translate }}</button>
  </div>
</mat-card-content>





