<ng-container *ngIf="!errorState">
  <mat-progress-bar mode="indeterminate" *ngIf="state=='loading'"></mat-progress-bar>
  <ng-container *ngIf="state=='success'">
    <mat-card class="app-view-rights app-view-hover" *ngFor="let role of roles">
      <mat-card-header fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex class="app-left">
          <mat-card-title class="app-p-0 app-m-0">{{ role.name }}</mat-card-title>
        </div>
        <div class="app-right app-actions">
          <a (click)="onEditRole(role)" class="app-btn" [matTooltip]="'button.editRole' | translate"><mat-icon>edit</mat-icon></a>
          <a (click)="onRemoveRole(role)" class="app-btn" [matTooltip]="'button.deleteRole' | translate"><mat-icon>delete</mat-icon></a>     
        </div>
      </mat-card-header>
    </mat-card>
    <button mat-flat-button (click)="onNewRole()" color="primary" class="app-m-4">
      {{ 'button.addRole' | translate }}
    </button>
  </ng-container>
</ng-container>

<mat-card *ngIf="errorState" class="app-view-alert app-warn">
  <mat-card-content>
    <mat-icon>error</mat-icon>{{ errorMessage }}
  </mat-card-content>
</mat-card>