@import './src/variables.scss';
.app-roles {
    max-width: 800px;
    margin: 10px auto;
    .app-role {
        background: #fff;
        padding: 10px;
        margin-bottom: 10px;
        line-height: 24px;
        .app-role-name {
            font-size: 14px;
            color: #111;
        }
        mat-icon {
            font-size: 20px;
            padding: 2px;
            color: $app-action-transparent;
            float: right;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
                color: $app-action-color;
            }
        }
    }
}
.app-new-role {
    margin-top: 5px;
}

mat-spinner {
    margin: 20px auto 0;
}