<h2 mat-dialog-title>{{ mode == 'new' ? ('modal.newRight.titleNew' | translate) : ('modal.newRight.titleEdit' | translate) }}</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="fill" class="app-w-100">
    <mat-label>{{ 'desc.role' | translate }}</mat-label>
    <mat-select [(value)]="right.role">
      <mat-option *ngFor="let role of roles" (click)="right.role = role" [value]="role" >
        {{ role ? role.name : '-'  }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="app-w-100">
    <mat-label>{{ 'desc.condition' | translate }}</mat-label>
    <mat-select [(value)]="right.condition">
      <mat-option value="-" (click)="selectCondition(null)">-</mat-option>
      <mat-option *ngFor="let condition of conditions" (click)="selectCondition(condition)" [value]="condition">
        {{ condition ? condition.name : '-' }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="app-w-100" *ngIf="right.condition && right.condition.paramsNecessary">
    <mat-label>{{ 'desc.parameter' | translate }}</mat-label>
    <mat-select [(value)]="right.condition.params">
      <mat-option (click)="openAddNewParamDialog()" class="app-add">
        <mat-icon>add_circle</mat-icon>{{ 'Přidat nový parametr' | translate }}
      </mat-option>
      <mat-divider></mat-divider>
      <mat-option value="-" (click)="selectParam(null)">-</mat-option>
      <mat-option *ngFor="let param of params" (click)="selectParam(param)" [value]="param">
        {{ param.description }}
      </mat-option>
    </mat-select>
    <!-- alternativ to add new parameter
    <div matSuffix class="app-ml-2">
      <mat-icon (click)="openNewParamDialog()" color="primary">add_circle</mat-icon>
    </div> -->
  </mat-form-field>

  <mat-form-field appearance="fill" class="app-w-100" *ngIf="right.condition && right.condition.isLabelAssignable">
    <mat-label>{{ 'desc.license' | translate }}</mat-label>
    <mat-select [(value)]="right.condition.license">
      <mat-option value="-" >-</mat-option>
      <mat-option *ngFor="let license of licenses" [value]="license">
        {{ license }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" *ngIf="mode == 'new'" (click)="onSave()">{{ 'button.create' | translate }}</button>
  <button mat-flat-button color="primary" *ngIf="mode == 'edit'" (click)="onSave()">{{ 'button.edit' | translate }}</button>
  <button mat-flat-button (click)="onCancel()">{{ 'button.cancel' | translate }}</button>
</mat-dialog-actions>
