<div class="app-indexing app-h-100">
  <div fxLayout="column" fxFlexFill>
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'sites.indexing.title' | translate }}</span>
      </div>
      <div>
        <nav mat-tab-nav-bar>
          <a mat-tab-link (click)="changeView('object')" [active]="view == 'object'"><mat-icon class="material-icons-outlined">data_object</mat-icon>{{ 'sites.indexing.object.title' | translate }}</a>
          <a mat-tab-link (click)="changeView('model')"  [active]="view == 'model'"><mat-icon class="material-icons-outlined">category</mat-icon>{{ 'sites.indexing.model.title' | translate }}</a>
        </nav>
      </div>
    </div>	
		<div fxFlex fxLayout="column" fxFlexFill class="app-container-fluid app-oh">
			<ng-container *ngIf="view == 'object'">
				<mat-card class="app-card app-view-border" fxLayout="row">
					<div fxFlex>
						<mat-card-header>
							<mat-card-title>{{ 'desc.object' | translate }}</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							{{ 'comment.indexationObject' | translate }}.
						</mat-card-content>
						<mat-card-actions>
							<button mat-flat-button color="primary" (click)="openIndexationByPidDialog()">
								{{ 'button.indexTheObject' | translate }}
							</button>
						</mat-card-actions>
					</div>
					<div>
						<span class="app-badge app-version app-mr-2">{{ 'batch.currentVersionOfTheIndexer' | translate }}:&#160;<strong>{{ currentIndexerVersion }}</strong></span>
					</div>
				</mat-card>
			</ng-container>
			<ng-container *ngIf="view == 'model'">
				<mat-card class="app-card app-view-border app-mb-4" fxLayout="row">
					<div fxFlex>
						<mat-card-header>
							<mat-card-title>{{ 'desc.model' | translate }}</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							{{ 'comment.indexationModel' | translate }}.
						</mat-card-content>
						<mat-card-actions>
							<mat-form-field class="app-mr-2 app-mb-n4">
								<mat-select [placeholder]="'desc.selectModel' | translate" [(value)]="selectedModel" (selectionChange)="onSelectModel($event)" [disabled]="loading">
									<mat-option *ngFor="let model of models; let i = index" [value]="model">{{ 'desc.' + model | translate }}</mat-option>
								</mat-select>
							</mat-form-field>
							<button mat-flat-button color="primary" (click)="openIndexationByModelDialog()" [disabled]="loading || !selectedModel">
								{{ 'button.indexTheModel' | translate }}
							</button>
						</mat-card-actions>
					</div>
					<div>
						<span class="app-badge app-version app-mr-2">{{ 'batch.currentVersionOfTheIndexer' | translate }}:&#160;<strong>{{ currentIndexerVersion }}</strong></span>
					</div>
				</mat-card>
				<div fxLayout="row" fxLayoutAlign="start center" class="app-mb-4">
					<div fxFlex>
						<mat-button-toggle-group [(ngModel)]="stateFilter" [disabled]="loading">
							<mat-button-toggle value="all" (change)="onChangeStateFilter($event.value)" [class.mat-button-toggle-checked]="stateFilter == 'all'">{{ 'button.all' | translate }}</mat-button-toggle>
							<mat-button-toggle value="not_indexed" (change)="onChangeStateFilter($event.value)" [matTooltip]="'comment.indexationNotIndexed' | translate" matTooltipPosition="above">{{ 'button.notIndexed' | translate }}</mat-button-toggle>
							<mat-button-toggle value="in_progress" (change)="onChangeStateFilter($event.value)" [matTooltip]="'comment.indexationInProgressError' | translate" matTooltipPosition="above">{{ 'button.inProgressError' | translate }}</mat-button-toggle>
							<mat-button-toggle value="indexed_current" (change)="onChangeStateFilter($event.value)" [matTooltip]="'comment.indexationIndexed' | translate" matTooltipPosition="above">{{ 'button.indexed' | translate }}</mat-button-toggle>
							<mat-button-toggle value="indexed_old" (change)="onChangeStateFilter($event.value)" [matTooltip]="'comment.indexationIndexedObsolete' | translate" matTooltipPosition="above">{{ 'button.indexedObsolete' | translate }}</mat-button-toggle>
						</mat-button-toggle-group>
					</div>
					<!-- to delete after test <div>
						<button mat-flat-button color="primary" (click)="openIndexationsByMultiplePidsDialog()" matTooltip="Indexovat všechny aktuálně zobrazené objekty - každý ve vlastním procesu" [disabled]="loading || !selectedModel || noCurrentItems()">
							<mat-icon>play_arrow</mat-icon>{{ 'button.indexInBulk' | translate }}
						</button>
					</div> -->
				</div>
				<div class="app-mb-4 app-oh">
					<div class="app-table-wrapper app-view-border app-maxh-100 app-oa-y">
						<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
						<table mat-table [dataSource]="dataSource" class="app-w-100" matSort>
							<ng-container matColumnDef="select">
								<th mat-header-cell *matHeaderCellDef>
									<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()" [matTooltip]="'desc.selectAllObjects' | translate"></mat-checkbox>
								</th>
								<td mat-cell *matCellDef="let row">
									<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" [matTooltip]="'desc.selectAnObject' | translate"></mat-checkbox>
								</td>
							</ng-container>
							<ng-container matColumnDef="pid">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>PID</th>
								<td mat-cell *matCellDef="let element">{{ element.pid }}</td>
							</ng-container>
							<ng-container matColumnDef="title">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.name' | translate }}</th>
								<td mat-cell *matCellDef="let element" [matTooltip]="element.title">
									<div class="app-text-cutter-wrapper">
										<div class="app-text-cutter">
											{{ element.title }}
										</div>
									</div>
								</td>
							</ng-container>
							<ng-container matColumnDef="indexerVersion">
								<th mat-header-cell *matHeaderCellDef matTooltip="Verze indexeru, kterou byl dokument indexován" >{{ 'desc.version' | translate }}</th>
								<td mat-cell *matCellDef="let element">	{{ element.indexerVersion != undefined ? element.indexerVersion : 'n/a' }}</td>
							</ng-container>
							<ng-container matColumnDef="disclaimer">
								<td mat-footer-cell *matFooterCellDef colspan="4" class="app-text-center app-color-info">
									{{ 'desc.noRecordFound' | translate }}
								</td>
							</ng-container>
							<!-- to delete after testing <ng-container matColumnDef="action">
								<th mat-header-cell *matHeaderCellDef ></th>
								<td mat-cell *matCellDef="let element">
									<button (click)="openIndexationByPidDialog(element); $event.preventDefault(); $event.stopPropagation()" mat-icon-button [matTooltip]="'button.index' | translate" matTooltipPosition="below" color="primary">
										<mat-icon>play_arrow</mat-icon>
									</button>
								</td>
							</ng-container> -->
							<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="[buildUserClientUrl(row.pid)]" (click)="selection.toggle(row)"></tr>
							<tr mat-footer-row *matFooterRowDef="['disclaimer']" [hidden]="!noCurrentItems()"></tr>
						</table>
						<mat-paginator [length]="100"[pageSize]="10"[pageSizeOptions]="[5, 10, 25, 100]" *ngIf="!noCurrentItems()"></mat-paginator>
					</div>
				</div>
				<div fxLayout="row">
					<div fxFlex>
						<div *ngIf="repoNextOffset" class="app-desc" [innerHtml]="'comment.indexationProcessedObjects' | translate : {value: repoNextOffset}"></div>
						<div *ngIf="scheduledIndexationsCounter" class="app-desc" [innerHtml]="'comment.indexationScheduledByIndexing' | translate : {value: scheduledIndexationsCounter}"></div>
					</div>
					<div>
						<!-- <button mat-flat-button (click)="loadNextBatchOfItems()" [disabled]="loading || !selectedModel || !stateFilter"	[matTooltip]="'comment.indexationLoadMore' | translate" class="app-mr-2">
							{{ 'button.loadMore' | translate }}
						</button> -->
						<button mat-flat-button color="primary" (click)="openIndexationsByMultiplePidsDialog()" [disabled]="loading || !selectedModel || !stateFilter || noCurrentItems() || !selection.hasValue()" [matTooltip]="'comment.indexationIndexInBulk' | translate">
							{{ 'button.indexSelectedObjects' | translate }}
						</button>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>