<mat-progress-bar mode="indeterminate" *ngIf="state=='loading'" class="app-mn-4"></mat-progress-bar>
<div class="app-p-4">
  <mat-form-field class="app-w-100">
    <mat-label>{{ 'desc.collectionName'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
    <input matInput [(ngModel)]="name" disabled>
  </mat-form-field>
  <mat-form-field class="app-w-100">
    <mat-label>{{ 'desc.shortDescriptionOfTheCollection'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
    <textarea matInput [(ngModel)]="description" rows="4" disabled></textarea>
  </mat-form-field>
  <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center">
    <mat-form-field fxFlex="300px">
      <mat-label>{{ 'desc.keywords'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
      <input matInput disabled>
    </mat-form-field>
    <div fxFlex>
      <span class="app-badge app-mr-1">zlin</span><span class="app-badge app-mr-1">bratislava</span><span class="app-badge app-mr-1">myslivost a berani rohy</span>
    </div>
  </div>
  <mat-form-field class="app-w-100">
    <mat-label>{{ 'desc.author'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
    <input matInput disabled>
  </mat-form-field>
  <div class="app-w-100 app-mb-4">
    <div class="app-label app-mb-2">{{ 'desc.separateCollection'  | translate }}</div>
    <mat-checkbox [disableRipple]="true" color="primary" [(ngModel)]="collection.standalone" disabled>{{ 'desc.yes' | translate }}</mat-checkbox>
  </div>
  <div class="app-w-100">
    <div class="app-label app-mb-2">{{ 'desc.fullDescriptionOfTheCollection'  | translate }} ({{ 'lang.' + lang | translate }})</div>
    <div [innerHTML]="content" class="app-color-disabled"></div>
  </div>
</div>