<mat-progress-bar mode="indeterminate" *ngIf="state=='loading'" class="app-mn-4"></mat-progress-bar>
<div class="app-p-4">
  <mat-form-field class="app-w-100">
    <mat-label>{{ 'desc.collectionName'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
    <input matInput [(ngModel)]="lang === 'cs' ? collection.name_cze : collection.name_eng" disabled>
  </mat-form-field>
  <mat-form-field class="app-w-100">
    <mat-label>{{ 'desc.shortDescriptionOfTheCollection'  | translate }} ({{ 'lang.' + lang | translate }})</mat-label>
    <textarea matInput [(ngModel)]="lang === 'cs' ? collection.description_cze : collection.description_eng" rows="4" disabled></textarea>
  </mat-form-field>
  <div class="app-w-100 app-mb-4">
    <div class="app-label app-mb-2">{{ 'desc.separateCollection'  | translate }}</div>
    <mat-checkbox [disableRipple]="true" color="primary" [(ngModel)]="collection.standalone" disabled>{{ 'desc.yes' | translate }}</mat-checkbox>
  </div>
  <div class="app-w-100">
    <div class="app-label app-mb-2">{{ 'desc.fullDescriptionOfTheCollection'  | translate }} ({{ 'lang.' + lang | translate }})</div>
    <div [innerHTML]="lang === 'cs' ? collection.content_cze : collection.content_eng" class="app-color-disabled"></div>
  </div>
</div>

<!-- to delete after testing
<div class="app-p-4">
  <div fxLayout="row" fxLayoutGap="16px" class="app-mb-4">
    <mat-card fxFlex class="app-card app-view-border">
      <mat-card-header>
        <mat-card-subtitle class="app-mb-2">{{ 'desc.collectionName'  | translate }}</mat-card-subtitle>
        <mat-card-title class="app-m-0">{{ collection.name_cze }}</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card fxFlex class="app-card app-view-border">
      <mat-card-header>
        <mat-card-subtitle class="app-mb-2">{{ 'desc.collectionName'  | translate }} ({{ 'desc.english'  | translate }})</mat-card-subtitle>
        <mat-card-title class="app-m-0">{{ collection.name_eng }}</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card fxFlex class="app-card app-view-border">
      <mat-card-header>
        <mat-card-subtitle class="app-mb-2">{{ 'desc.separateCollection'  | translate }}</mat-card-subtitle>
        <mat-card-title class="app-m-0">{{ collection.standalone ? "Ano" : "Ne" }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutGap="16px" class="app-mb-4">
    <mat-card fxFlex class="app-card app-view-border">
      <mat-card-header>
        <mat-card-subtitle class="app-mb-2">{{ 'desc.shortDescriptionOfTheCollection'  | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{ collection.description_cze }}</mat-card-content>
    </mat-card>
    <mat-card fxFlex class="app-card app-view-border">
      <mat-card-header>
        <mat-card-subtitle class="app-mb-2">{{ 'desc.shortDescriptionOfTheCollection'  | translate }} ({{ 'desc.english'  | translate }})</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{ collection.description_eng }}</mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-card fxFlex class="app-card app-view-border">
      <mat-card-header>
        <mat-card-subtitle class="app-mb-2">{{ 'desc.fullDescriptionOfTheCollection'  | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content [innerHTML]="collection.content_cze"></mat-card-content>
    </mat-card>
    <mat-card fxFlex class="app-card app-view-border">
      <mat-card-header>
        <mat-card-subtitle class="app-mb-2">{{ 'desc.fullDescriptionOfTheCollection'  | translate }} ({{ 'desc.english'  | translate }})</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content [innerHTML]="collection.content_eng"></mat-card-content>
    </mat-card>
  </div>
</div> -->