<h2 mat-dialog-title>{{ 'desc.securedChannelHealth' | translate }}: <span class="app-text-uppercase">{{ data.code }}</span></h2>
<mat-dialog-content class="mat-typography">
  <h3 class="app-mb-1">{{ 'desc.securedChannel' | translate }}:</h3>
  <table class="app-table app-mb-4">
    <thead>
      <tr>
        <th>{{ 'desc.api' | translate}}</th>
        <th>{{ 'desc.securedChannelEnabled' | translate}}</th>
        <th>{{ 'desc.securedChannelSolr' | translate}}</th>
        <th>{{ 'desc.securedChannelUser' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>{{config?.api}}</strong></td>
        <td class="app-col-icon">
          @if (channel?.channel.enabled) {
            <mat-icon color="primary">check_circle</mat-icon>
          } @else {
            <mat-icon color="warn">error</mat-icon>
          }
        </td>
        <td class="app-col-icon">
          @if (channel?.channel.solr) {
            <mat-icon color="primary">check_circle</mat-icon>
          } @else {
            <mat-icon color="warn">error</mat-icon>
          }
        </td>
        <td class="app-col-icon">
          @if (channel?.channel.user) {
            <mat-icon color="primary">check_circle</mat-icon>
          } @else {
            <mat-icon color="warn">error</mat-icon>
          }
        </td>
      </tr>
    </tbody>
  </table>

  <h3 class="app-mb-1">{{ 'desc.usersInfo' | translate }}:</h3>
  <table class="app-table">
    <thead>
      <tr>
        <th>{{ 'desc.users'| translate }}</th>
        <th>{{ 'desc.roles' | translate }}</th>
        <th>{{ 'desc.licenses' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (userKey of getUserKeys(); track userKey) {
        <tr>
          <th>
            @switch (userKey) {
              @case ('notLogged') {
                {{ 'desc.notLogged' | translate }}
              }
              @case ('dnnt') {
                {{ 'desc.dnnt' | translate }}
              }
              @default {
                {{ userKey }}
              }
            }
          </th>
          <td>
            @for (role of getRoles(userKey); track role; let i = $index; let last = $last) {
              <span>{{ role }}</span>
              @if (!last) {
                ,
              }
            }
          </td>
          <td>
            @for (lic of getLicenses(userKey); track lic; let i = $index; let last = $last) {
              @if (lic.startsWith(acronym)) {
                <span>{{ lic }}</span>
              } @else {
                <a [href]="getLinkForLicense()" target="_blank">{{ lic }}</a>
              }
              @if (!last) {
                ,
              }
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton matDialogClose>{{ 'button.close' | translate }}</button>
</mat-dialog-actions>