<h2 mat-dialog-title>{{ 'modal.cancelScheduledProcesses.title' | translate }}</h2>
<mat-progress-bar mode="indeterminate" *ngIf="fetchingBatches"></mat-progress-bar>
<mat-dialog-content class="mat-typography">
	<ng-container *ngIf="!fetchingBatches && !fetchingErrorMsg && isSomethingToCancel()">
		<div class="app-desc app-mb-4" [ngSwitch]="true">
			<span *ngSwitchCase="batches.length === 1" [innerHtml]="'modal.cancelScheduledProcesses.message1.1' | translate: {value: batches.length}"></span>
			<span *ngSwitchCase="batches.length > 1 && batches.length <= 4" [innerHtml]="'modal.cancelScheduledProcesses.message1.2-4' | translate: {value: batches.length}"></span>
			<span *ngSwitchDefault [innerHtml]="'modal.cancelScheduledProcesses.message1.more' | translate: {value: batches.length}"></span>
		</div>
	</ng-container>
	<ng-container *ngIf="!fetchingBatches && !fetchingErrorMsg && !isSomethingToCancel()">
		<div class="app-desc app-mb-4">{{ 'modal.cancelScheduledProcesses.message2' | translate }}</div>
		<div class="app-desc app-mb-4">{{ 'modal.cancelScheduledProcesses.message3' | translate }}</div>
	</ng-container>
</mat-dialog-content>
<mat-card class="app-view-alert app-warn" *ngIf="fetchingErrorMsg">
	<mat-card-content>{{ 'desc.error' | translate }}: {{ fetchingErrorMsg }}</mat-card-content>
</mat-card>
<mat-dialog-actions align="end">
	<button mat-flat-button *ngIf="isSomethingToCancel()" [disabled]="fetchingBatches || fetchingErrorMsg || cancelingBatches" (click)="onCancelAll()" color="warn" [ngSwitch]="true">
		<span *ngSwitchCase="batches.length === 1">{{ 'modal.cancelScheduledProcesses.button.1' | translate: {value: batches.length} }}</span>
		<span *ngSwitchCase="batches.length > 1 && batches.length <= 4">{{ 'modal.cancelScheduledProcesses.button.2-4' | translate: {value: batches.length} }}</span>
		<span *ngSwitchDefault>{{ 'modal.cancelScheduledProcesses.button.more' | translate: {value: batches.length} }}</span>
	</button>
	<button mat-flat-button (click)="onClose()" [disabled]="fetchingBatches || cancelingBatches">{{ 'button.close' | translate }}</button>
</mat-dialog-actions>