<h2 mat-dialog-title>{{ 'modal.cancelScheduledProcesses.title' | translate }}</h2>
@if (fetchingBatches) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<mat-dialog-content class="mat-typography">
  @if (!fetchingBatches && !fetchingErrorMsg && isSomethingToCancel()) {
    <div class="app-desc app-mb-4">
      @switch (true) {
        @case (batches.length === 1) {
          <span [innerHtml]="'modal.cancelScheduledProcesses.message1.1' | translate: {value: batches.length}"></span>
        }
        @case (batches.length > 1 && batches.length <= 4) {
          <span [innerHtml]="'modal.cancelScheduledProcesses.message1.2-4' | translate: {value: batches.length}"></span>
        }
        @default {
          <span [innerHtml]="'modal.cancelScheduledProcesses.message1.more' | translate: {value: batches.length}"></span>
        }
      }
    </div>
  }
  @if (!fetchingBatches && !fetchingErrorMsg && !isSomethingToCancel()) {
    <div class="app-desc app-mb-4">{{ 'modal.cancelScheduledProcesses.message2' | translate }}</div>
    <div class="app-desc app-mb-4">{{ 'modal.cancelScheduledProcesses.message3' | translate }}</div>
  }
</mat-dialog-content>
@if (fetchingErrorMsg) {
  <mat-card class="app-view-alert app-warn">
    <mat-card-content>{{ 'desc.error' | translate }}: {{ fetchingErrorMsg }}</mat-card-content>
  </mat-card>
}
<mat-dialog-actions align="end">
  @if (isSomethingToCancel()) {
    <button matButton="filled" [disabled]="fetchingBatches || fetchingErrorMsg || cancelingBatches" (click)="onCancelAll()" color="warn">
      @switch (true) {
        @case (batches.length === 1) {
          <span>{{ 'modal.cancelScheduledProcesses.button.1' | translate: {value: batches.length} }}</span>
        }
        @case (batches.length > 1 && batches.length <= 4) {
          <span>{{ 'modal.cancelScheduledProcesses.button.2-4' | translate: {value: batches.length} }}</span>
        }
        @default {
          <span>{{ 'modal.cancelScheduledProcesses.button.more' | translate: {value: batches.length} }}</span>
        }
      }
    </button>
  }
  <button matButton (click)="onClose()" [disabled]="fetchingBatches || cancelingBatches">{{ 'button.close' | translate }}</button>
</mat-dialog-actions>