<div class="app-container app-access app-h-100">
  <div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center" class="app-mb-4">
      <mat-button-toggle-group>
        <mat-button-toggle (click)="changeView('actions')" [class.mat-button-toggle-checked]="view == 'actions'">Práva</mat-button-toggle>
        <mat-button-toggle (click)="changeView('roles')"  [class.mat-button-toggle-checked]="view == 'roles'">Role</mat-button-toggle>
        <mat-button-toggle (click)="changeView('licenses')"  [class.mat-button-toggle-checked]="view == 'licenses'">Licence</mat-button-toggle>
        <mat-button-toggle (click)="changeView('params')"  [class.mat-button-toggle-checked]="view == 'params'">Parametry</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div fxFlex class="app-oh">
      <mat-card fxLayout="column" fxFlexFill class="app-card app-view-border app-p-0 app-oa-y">
        <app-actions *ngIf="view == 'actions'"></app-actions>
        <app-roles *ngIf="view == 'roles'"></app-roles>
        <app-licenses *ngIf="view == 'licenses'"></app-licenses>
        <app-params *ngIf="view == 'params'"></app-params>
      </mat-card>
    </div>
  </div>
</div>