.app-access {
    height: 100%;
    padding-top: 20px;
    .app-view-toggle {
        text-align: center;
        height: 50px;
        .app-toggle-button {
            min-width: 80px;
        }
    }
    .app-view-content {
        height: calc(100% - 50px);
        overflow: auto;
    }
}
