<div class="app-access app-h-100">
  <div fxLayout="column" fxFlexFill>
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'navbar.rightOfAdministration' | translate }}</span>
      </div>
      <div>
        <nav mat-tab-nav-bar>
          <a mat-tab-link (click)="changeView('rights')" [active]="view == 'rights'"><mat-icon class="material-icons-outlined">admin_panel_settings</mat-icon>{{ 'tabnav.actions' | translate }}</a>
          <a mat-tab-link (click)="changeView('roles')"  [active]="view == 'roles'"><mat-icon class="material-icons-outlined">manage_accounts</mat-icon>{{ 'tabnav.roles' | translate }}</a>
          <a mat-tab-link (click)="changeView('licenses')"  [active]="view == 'licenses'"><mat-icon class="material-icons-outlined">policy</mat-icon>{{ 'tabnav.licenses' | translate }}</a>
          <a mat-tab-link (click)="changeView('params')"  [active]="view == 'params'"><mat-icon class="material-icons-outlined">rule_folder</mat-icon>{{ 'tabnav.parameters' | translate }}</a>
        </nav>
      </div>
    </div>
    <div fxFlex class="app-oa-y">
      <div class="app-container">
        <mat-card fxLayout="column" class="app-card app-view-border app-p-0">
          <app-rights *ngIf="view == 'rights'"></app-rights>
          <app-roles *ngIf="view == 'roles'"></app-roles>
          <app-licenses *ngIf="view == 'licenses'"></app-licenses>
          <app-params *ngIf="view == 'params'"></app-params>
        </mat-card>
      </div>
    </div>
  </div>
</div>