<h2 mat-dialog-title>{{ mode == 'new' ? "Nová role" : "Úprava role" }}</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field class="app-w-100">
    <mat-label>Název</mat-label>
    <input matInput placeholder="Název"  name="note" [(ngModel)]="role.name" autocomplete="off">
  </mat-form-field>
</mat-dialog-content>
<mat-card class="app-view-alert app-warn" *ngIf="errorMessage">
  <mat-card-content>
    {{ errorMessage }}
  </mat-card-content>
</mat-card>
<mat-dialog-actions align="end">
  <button mat-flat-button *ngIf="mode == 'new'" (click)="onSave()" color="primary">Vytvořit</button>
  <button mat-flat-button *ngIf="mode == 'edit'" (click)="onSave()" color="primary">Upravit</button>
  <button mat-flat-button (click)="onCancel()">Zrušit</button>
</mat-dialog-actions>