@import './src/sass/app-variables.scss';
.mat-dialog-content {
  max-width: 1200px;
  min-width: 400px;
  .app-dialog-actions {
    margin-top: 20px;
    .app-button {
      &.app-button-warn {
        float: right;
      }
    }
  }

}