@import './src/sass/app-variables.scss';
@import './src/sass/app-mixins.scss';
@import './src/sass/app-global.scss';


.app-import {
	.app-path-bar {
		@extend .app-pt-2, .app-pb-2, .app-pr-4, .app-pl-4;
		border-bottom: 1px solid $app-card-border-color;
	
		.app-left {
			a {
				font-weight: bold;
			}
	
			.app-path {
				font-size: 14px;
			}
		}
	}
}

		
