<div class="app-import app-fxLayout app-column app-fill">
  <div class="app-topbar">
    <div class="app-breadcrumbs app-mb-4">
      <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
      <a routerLink="/">home</a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'sites.import.title' | translate }}</span>
    </div>
    <div>
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link (click)="changeType('foxml')" [active]="type == 'foxml'"><mat-icon class="material-icons-outlined">code</mat-icon>FOXML</a>
        <a mat-tab-link (click)="changeType('ndk')" [active]="type == 'ndk'"><mat-icon class="material-icons-outlined">code</mat-icon>NDK METS</a>
      </nav>  
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </div>
  </div>
  <div class="app-fxFlex app-fxLayout app-column app-container">
    <ng-container *ngIf="!this.inputDirError[this.type]">
      <div class="app-mb-4 app-text-right">
        <button mat-flat-button color="primary" (click)="submit()" [disabled]="!imports.selectedTree">{{ 'button.startImport' | translate }}</button>
      </div>
      <div class="app-fxFlex app-oh">
        <div class="app-fxLayout app-column app-fill">
          <mat-card appearance="outlined" class="app-view-header app-fxLayout app-row app-center-v">
            <div class="app-fxFlex app-left">
              <ng-container *ngIf="imports.selectedTree">
                <a (click)="clearPath()" class="app-clear-filter app-mr-2" [matTooltip]="'button.deselect' | translate">
                  <mat-icon>cancel</mat-icon>
                </a>
                <strong class="app-mr-2">{{ 'desc.selectedPath' | translate }}:</strong>
              </ng-container>
              <span class="app-path">{{ imports.selectedTree ? imports.selectedTree.getFullPath() : '' }}</span>
            </div>
            <div class="app-right">
              <a (click)="showHelpDialog()" [matTooltip]="'button.showHelp' | translate"><mat-icon>help</mat-icon></a>
            </div>
          </mat-card>
          <mat-card appearance="outlined" class="app-fxFlex app-oa-y app-p-2">
            <app-tree [tree]="tree"></app-tree>
          </mat-card>
        </div>
      </div>
    </ng-container>
    
    <mat-card appearance="outlined" *ngIf="this.inputDirError[this.type]" class="app-view-alert app-warn">
      <mat-card-content>
        <mat-icon>error</mat-icon>{{ this.inputDirError[this.type] }}
      </mat-card-content>
    </mat-card>
  </div>
</div>