<h2 mat-dialog-title>{{ 'button.startSynchronizationWithKap' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  @if (!info.kramerius || !info.acronym || !info.endpoint) {
    <mat-card appearance="outlined" class="app-view-alert app-warn">
      <mat-card-content>
        <div>
          <div class="app-fxLayout app-row app-center-v">
            <mat-icon>error</mat-icon>{{ 'modal.scheduleStartTheKapReviewProcess.alert' | translate }}:
          </div>
          <ul>
            @if (!info.kramerius) {
              <li>{{ 'modal.scheduleStartTheKapReviewProcess.desc.krameriusInstance' | translate }}: <strong>sdnnt.check.local.api</strong></li>
            }
            @if (!info.acronym) {
              <li>{{ 'modal.scheduleStartTheKapReviewProcess.desc.abbreviationOfKramerius' | translate }}: <strong>sdnnt.check.acronym</strong></li>
            }
            @if (!info.endpoint) {
              <li>{{ 'modal.scheduleStartTheKapReviewProcess.desc.sdnntInstance' | translate }}: <strong>sdnnt.check.endpoint</strong></li>
            }
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton="filled" color="primary" (click)="startsyncProcess()" mat-dialog-close [disabled]="!info.kramerius || !info.acronym || !info.endpoint">{{ 'button.schedule' | translate }}</button>
  <button matButton mat-dialog-close="cancel">{{ 'button.cancel' | translate }}</button>
</mat-dialog-actions>
