.info {
    margin-top: -5px;
    margin-bottom: 5px;
    display: block;
    width: 370px;
    margin-bottom: 20px;
    font-size: 90%;
    opacity: 70%;
}

.input-pids {
    display: block;
    width: 355px;
}

.input-title {
    display: block;
    width: 370px;
}

.input-type {
    display: block;
    width: 370px;
}

.input-ignore_inconsistent_objects {
    display: block;
    width: 370px;
    margin-bottom: 8px;
}

.input-ignore_inconsistent_objects-info {
    display: block;
    width: 370px;
    margin-bottom: 20px;
    font-size: 80%;
    opacity: 60%;
}

.progress-bar {
    margin-top: 22px;
    margin-bottom: -6px;
}

.app-pids-from-file {
    color: #999;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    &:hover {
        color: #111;
    }
}