.input-pid {
    display: block;
    width: 350px;
}

.input-title {
    display: block;
    width: 350px;
}

.input-type {
    display: block;
    width: 350px;
}

.input-ignore_inconsistent_objects {
    display: block;
    width: 350px;
    margin-bottom: 8px;
}

.input-ignore_inconsistent_objects-info {
    display: block;
    width: 350px;
    margin-bottom: 20px;
    font-size: 80%;
    opacity: 60%;
}

.progress-bar {
    margin-top: 22px;
    margin-bottom: -6px;
}
