<form class="form-signin" #f="ngForm" (ngSubmit)="schedule(f.value)">

    <h1 mat-dialog-title>Indexace objektu</h1>

    <div class="info">Pro každý vložený PID bude naplánován proces <i>Indexace</i>, který (re)indexuje objekt, případně
        i
        jeho potomky (podle typu indexace).</div>

    <mat-icon (click)="onPidsFromFile()" matTooltip="Načíst PIDy ze souboru" class="app-pids-from-file">file_download
    </mat-icon>

    <mat-form-field class="input-pids">
        <textarea [disabled]="inProgress || title" matInput type="text" id="inputPids" name="pids" [(ngModel)]="pids"
            placeholder="PIDy" required autofocus rows="{{pidsTextareaRows}}"></textarea>
    </mat-form-field>

    <input style="display: none;" #fileWithPids name="pf" type="file" (change)="onSelectFile($event)" accept=".txt" />

    <mat-form-field class="input-title" *ngIf="title">
        <input [disabled]="inProgress || title" matInput type="text" id="inputTitle" name="title" [(ngModel)]="title"
            placeholder="Název">
    </mat-form-field>

    <mat-form-field class="input-type">
        <mat-select placeholder="Typ indexace" ngModel name="type" required>
            <mat-option *ngFor="let type of indexationProcessTypes; let i = index" [value]="type">
                {{indexationProcessTypeNames[i] }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox class="input-ignore_inconsistent_objects" [ngModel]="true" name="ignore_inconsistent_objects"
        color="primary">
        Přeskakovat nekonzistentní objekty *</mat-checkbox>
    <div class="input-ignore_inconsistent_objects-info">
        *Jak se má Indexer zachovat pokud narazí na objekt, který nelze zaindexovat kvůli chybné struktuře vazeb.
        Může objekt přeskočit, chybu zalogovat a pokračovat dále. Anebo ukončit Proces ve stavu <i>Chyba</i>.
    </div>

    <button [disabled]="inProgress || !f.valid" color="primary" mat-raised-button type="submit"
        color="warn">Naplánovat</button>
    <button [disabled]="inProgress " mat-raised-button mat-dialog-close="cancel"
        style="margin-left: 10px;">Zrušit</button>

    <mat-progress-bar class="progress-bar" *ngIf="inProgress" [mode]="progressBarMode" [value]="getProgress()">
    </mat-progress-bar>

</form>