<h2 mat-dialog-title>{{ 'modal.deleteSelectedItemsFromCollection.title' | translate }}</h2>
<mat-dialog-content>
  <mat-card class="app-view-alert app-info app-mb-4">
    <mat-card-content>
      <mat-icon>info</mat-icon>
      {{ 'modal.deleteSelectedItemsFromCollection.alert' | translate }}
    </mat-card-content>
  </mat-card>
  <div class="app-mb-4 app-text-center">
    {{ 'modal.deleteSelectedItemsFromCollection.message' | translate }}?
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button (click)="scheduleDeleteSelectedItemsAndChangeRoute('processes')"  color="warn">{{ 'modal.deleteSelectedItemsFromCollection.button.process' | translate }}</button>
  <button mat-flat-button (click)="scheduleDeleteSelectedItemsAndChangeRoute(getCurrentRoute())" color="warn">{{ 'modal.deleteSelectedItemsFromCollection.button.collection' | translate }}</button>
  <button mat-flat-button mat-dialog-close>{{ 'button.no' | translate }}</button>
</mat-dialog-actions>
