.app-message {
  margin-top: 0px;
  font-size: 14px;
  color: #666;
}

.app-html {
  margin-top: 0px;
  font-size: 14px;
  color: #666;
}

.mat-dialog-content {
  overflow: hidden;
  max-height: 75vh;
  min-width: 400px;
}
