<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography app-fxLayout app-column app-gap-4 app-form-customize">
  <div *ngIf="data.message" [innerHtml]="data.message "></div>
  <div *ngIf="data.html" [innerHtml]="data.html"></div>
  <div *ngIf="data.checkbox">
    <mat-checkbox [(ngModel)]="data.checkbox.checked">{{ data.checkbox.label }}</mat-checkbox>
  </div>
  <mat-form-field appearance="outline" *ngIf="data.numberInput" class="app-w-100">
    <mat-label>{{ data.numberInput.label }}</mat-label>
    <input matInput [placeholder]="data.numberInput.label" type="number" step="1" [min]="data.numberInput.min" [max]="data.numberInput.max" [(ngModel)]="data.numberInput.value">
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="data.textInput" class="app-w-100">
    <mat-label>{{ data.textInput.label }}</mat-label>
    <input matInput [placeholder]="data.textInput.label" type="text" [(ngModel)]="data.textInput.value">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button (click)="onClose(data.btn1.value)" [color]="data.btn1.color">{{ data.btn1.label }}</button>
  <button mat-flat-button (click)="onClose(data.btn2.value)" [color]="data.btn2.color" *ngIf="data.btn2">{{ data.btn2.label }}</button>
</mat-dialog-actions>