<div mat-dialog-content [style.max-width]="(data.width || 800) + 'px'">
  
  <div class="app-dialog-title">{{ data.title }}</div>
  
  <div class="app-dialog-content">

    <p class="app-message" *ngIf="data.message">{{ data.message }}</p>

    <div class="app-html" *ngIf="data.html" [innerHtml]="data.html"></div>


    <mat-checkbox *ngIf="data.checkbox" [(ngModel)]="data.checkbox.checked">{{ data.checkbox.label }}</mat-checkbox>

    <div class="app-property" *ngIf="data.numberInput">
      <div class="app-label">{{ data.numberInput.label }}</div>
      <div class="app-value">
        <input 
            type="number" 
            step="1" 
            [min]="data.numberInput.min" 
            [max]="data.numberInput.max"
            matInput 
            [(ngModel)]="data.numberInput.value"
            autocomplete="off">
      </div>
    </div>

    <div class="app-property" *ngIf="data.textInput">
      <div class="app-label">{{ data.textInput.label }}</div>
      <div class="app-value">
        <input 
            type="text" 
            matInput 
            [(ngModel)]="data.textInput.value"
            autocomplete="off">
      </div>
    </div>

  </div>

  <div class="app-dialog-actions">
    <div class="app-button app-button-{{data.btn1.color}}" (click)="onClose(data.btn1.value)">{{data.btn1.label}}</div>
    <div class="app-button app-button-{{data.btn2.color}}" (click)="onClose(data.btn2.value)" *ngIf="data.btn2">{{data.btn2.label}}</div>
  </div>

