<form class="form-signin" #f="ngForm" (ngSubmit)="schedule(f.value)">

    <h1 mat-dialog-title>Změna viditelnosti</h1>
    <div class="info">Pro každý vložený PID bude naplánován proces <i>Změna viditelnosti</i> pro objekt, případně i jeho
        potomky.
    </div>

    <mat-icon (click)="onPidsFromFile()" matTooltip="Načíst pidy ze souboru" class="app-pids-from-file" >file_download</mat-icon>

    <mat-form-field class="input-pids">
        <textarea [disabled]="inProgress" matInput type="text" id="inputPids" name="pids" [(ngModel)]="pids"
            placeholder="PIDy" required autofocus rows="4"></textarea>
    </mat-form-field>

    <input style="display: none;" #fileWithPids name="pf" type="file" (change)="onSelectFile($event)"
    accept=".txt" />

    <mat-form-field class="input-policy">
        <mat-select [disabled]="inProgress" placeholder="Výsledná viditelnost" ngModel name="policy" required>
            <mat-option *ngFor="let policy of policyKeys; let i = index" [value]="policy">
                {{policyNames[i] }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="input-scope">
        <mat-select [disabled]="inProgress" placeholder="Změnit viditelnost pro" ngModel name="scope" required>
            <mat-option *ngFor="let scope of scopeKeys; let i = index" [value]="scope">
                {{scopeNames[i] }}</mat-option>
        </mat-select>
    </mat-form-field>

    <button [disabled]="inProgress || !f.valid" color="primary" mat-raised-button type="submit"
        color="warn">Naplánovat</button>
    <button [disabled]="inProgress " mat-raised-button mat-dialog-close="cancel"
        style="margin-left: 10px;">Zrušit</button>

    <mat-progress-bar class="progress-bar" *ngIf="inProgress" [mode]="progressBarMode" [value]="getProgress()">
    </mat-progress-bar>

</form>