.info {
    margin-top: -5px;
    margin-bottom: 5px;
    display: block;
    width: 350px;
    margin-bottom: 20px;
    font-size: 90%;
    opacity: 70%;
}

.input-pid {
    display: block;
    width: 350px;
}

.input-policy {
    display: block;
    width: 350px;
}

.input-scope {
    display: block;
    width: 350px;
    margin-bottom: 20px;
}

.progress-bar {
    margin-top: 22px;
    margin-bottom: -6px;
}
