<div class="app-processes app-fxLayout app-column app-fill app-view-processes">
  <div class="app-fxLayout app-column app-fill">
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'sites.processes.title' | translate }}</span>
      </div>

      <mat-card appearance="outlined" *ngIf="appSettings.devMode" class="app-fxLayout app-row app-center-v app-p-4 app-mb-2 app-view-dev">
        <div class="app-marker">Development mode</div>
        <div class="app-fxFlex">
          <mat-form-field appearance="outline" class="app-mr-2">
            <mat-select [placeholder]="'desc.finalState' | translate" [(value)]="selectedtestProcessFinalState">
              <mat-option *ngFor="let state of testProcessFinalStates" [value]="state">{{ state }}</mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field appearance="outline" class="app-mr-2">
            <mat-select [placeholder]="'desc.processInTheBatch' | translate" [(value)]="selectedTestProcessProcessesInBatch">
              <mat-option *ngFor="let processes of testProcessProcessesInBatch" [value]="processes">{{ processes }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field appearance="outline" class="app-mr-2">
            <mat-select [placeholder]="'desc.durationOfTheProcess' | translate" [(value)]="selectedTestProcessDuration">
              <mat-option *ngFor="let duration of testProcessDuration" [value]="duration">{{ duration }} s</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-flat-button (click)="scheduleTestProcess()" [disabled]="isLoading()" color="primary"><mat-icon>play_arrow</mat-icon>{{ 'button.startTheTestProcess' | translate }}</button>
        </div>
      </mat-card>

      <div class="app-fxLayout app-row app-center-v app-pt-2 app-pb-4">
        <div class="app-fxFlex app-fxLayout app-row app-center-v">
          <mat-form-field class="app-mr-2" appearance="outline">
            <mat-select [placeholder]="'desc.state' | translate" [(value)]="selectedState" (selectionChange)="onFiltersChanged()" [disabled]="isLoading()">
              <mat-option *ngFor="let state of batch_states" [value]="state.key">{{ state.label }}</mat-option>
            </mat-select>
            <button matSuffix mat-icon-button *ngIf="!!selectedState" color="warn" [matTooltip]="'button.deselect' | translate" [disabled]="isLoading()" (click)="selectedState=undefined;onFiltersChanged(); $event.stopPropagation();">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          
          <mat-form-field class="app-mr-2" appearance="outline">
            <mat-select [placeholder]="'desc.owner' | translate" [(value)]="selectedOwner" (selectionChange)="onFiltersChanged()" [disabled]="isLoading()">
              <mat-option *ngFor="let owner of owners" [value]="owner.id">{{ owner.name }}</mat-option>
            </mat-select>
            <button matSuffix mat-icon-button *ngIf="!!selectedOwner" color="warn" [matTooltip]="'button.deselect' | translate" [disabled]="isLoading()" (click)="selectedOwner=undefined;onFiltersChanged(); $event.stopPropagation();">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="app-mr-2" appearance="outline">
            <input matInput [matDatepicker]="myDatepickerFrom" [placeholder]="'desc.from' | translate" [(ngModel)]='dateFrom' [disabled]="isLoading()" (dateChange)="onFiltersChanged()">
            <mat-datepicker-toggle matSuffix [for]="myDatepickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #myDatepickerFrom [disabled]="isLoading()"></mat-datepicker>
            <button matSuffix mat-icon-button *ngIf="!!dateFrom" color="warn" [matTooltip]="'button.deselect' | translate" [disabled]="isLoading()" (click)="dateFrom=undefined;onFiltersChanged();">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          
          <mat-form-field class="app-mr-2" appearance="outline">
            <input matInput [matDatepicker]="myDatepickerTo" [placeholder]="'desc.to' | translate" [(ngModel)]='dateTo' [disabled]="isLoading()" (dateChange)="onFiltersChanged()">
            <mat-datepicker-toggle matSuffix [for]="myDatepickerTo"></mat-datepicker-toggle>
            <mat-datepicker #myDatepickerTo [disabled]="isLoading()"></mat-datepicker>
            <button matSuffix mat-icon-button *ngIf="!!dateTo" color="warn" [matTooltip]="'button.deselect' | translate" [disabled]="isLoading()" (click)="dateTo=undefined;onFiltersChanged();">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          
          <button mat-icon-button [matTooltip]="'button.reloadProcesses' | translate" (click)="reloadProcesses()" [disabled]="isLoading()">
            <mat-icon>refresh</mat-icon>
          </button>

          <mat-checkbox [(ngModel)]="autoReload" (change)="onAutoReloadChange($event)" [disabled]="isLoading()">{{ 'button.autoRefresProcesses' | translate : {refreshinterval: appSettings.processRefreshInterval} }}</mat-checkbox>
        </div>
        <div class="app-fxLayout app-row app-center-v">
          <button mat-flat-button (click)="bulkDeleteProcesses()" color="warn" [disabled]="!selection.hasValue()" class="app-mr-2">
            {{ 'button.deleteSelectedItems' | translate }}
          </button>
          <button mat-flat-button (click)="onCancelScheduledProcesses()" color="primary" [disabled]="isLoading() || batches_planned.length == 0">
            {{ 'button.cancelScheduledProcesses' | translate }}
          </button>
        </div>
      </div>
    </div>
    
    <div class="app-fxFlex app-container-fluid app-oh">
      <div class="app-table-wrapper app-view-border app-maxh-100 app-oa-y" *ngIf="!errorState">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading()"></mat-progress-bar>
        <table mat-table [dataSource]="batches" class="app-w-100">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"  [matTooltip]="'desc.selectAllCollections' | translate" *ngIf="batches.length !== 0"></mat-checkbox>
            </th>

            <!-- disabled when expand -->
            <td mat-cell *matCellDef="let row">  
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"  [matTooltip]="'desc.selectThisCollection' | translate"></mat-checkbox>
              <ng-container *ngIf="row.expanded">
                <div *ngFor="let p of row.processes" class="app-col-expanded">&#160;</div>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="selection">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" ></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="app-fix-expanded app-tdn">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"  class="app-fix-expanded app-tdn" [checked]="selection.isSelected(element)"></mat-checkbox>
              </span>
              <ng-container *ngIf="element.expanded">
                <div *ngFor="let p of element.processes" class="app-col-expanded app-ml-n4">&#160;</div>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <a (click)="element.expanded = !element.expanded; $event.preventDefault(); $event.stopPropagation()" *ngIf="element.hasSubprocesses()" [matTooltip]="'button.showThreads' | translate" class="app-fix-expanded app-tdn" [class.app-avoid-click]="notAllowed(element.id)">
                <mat-icon>{{ element.expanded ? 'remove' : 'add' }}</mat-icon>
              </a>
              <ng-container *ngIf="element.expanded">
                <div *ngFor="let p of element.processes" class="app-col-expanded">&#160;</div>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">
              <span class="app-fix-expanded">
                <a [routerLink]="getRouterLink('/processes/standard-output/', element.id, 'processes', 'standard-output')" class="app-mr-4" [class.app-avoid-click]="notAllowed(element.id)">{{ element.id }}</a>
              </span>
              <ng-container *ngIf="element.expanded">
                <div *ngFor="let p of element.processes" class="app-col-expanded">&#160;</div>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.name' | translate }}</th>
            <td mat-cell *matCellDef="let element" [matTooltip]="notAllowed(element.id) ? null : element.getName()">
              <div class="app-text-cutter-wrapper">
                <div class="app-text-cutter">
                  {{ element.getName() }}
                </div>
              </div>
              <ng-container *ngIf="element.expanded">
                <div *ngFor="let p of element.processes" class="app-col-expanded app-text-cutter-wrapper app-w-100">
                  <div class="app-text-cutter">
                    <a [routerLink]="getRouterLink('/processes/standard-output/', p.id, 'processes', 'standard-output')" class="app-mr-4">{{ p.id }}</a> {{ p.name }}
                  </div>
                </div>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.state' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <span class="app-fix-expanded">

                <ng-container *ngIf="element.processes.length > 1">
                  <div class="app-badge" [ngClass]="'app-' + element.state.toLowerCase()">
                    {{ 'batch.' + element.state+'_BATCH' | translate }}
                  </div>
                </ng-container>
                <ng-container *ngIf="element.processes.length <= 1">
                  <div class="app-badge" [ngClass]="'app-' + element.state.toLowerCase()">
                    {{ 'batch.' + element.state | translate }}
                  </div>
                </ng-container>
              </span>

              <ng-container *ngIf="element.expanded">
                <div *ngFor="let p of element.processes" class="app-col-expanded">
                  <div class="app-badge" [ngClass]="'app-' + p.state.toLowerCase()">
                    {{ 'batch.' + p.state | translate }}
                  </div>
                </div>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="planned">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.scheduled' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <span class="app-fix-expanded">
                {{ element.planned | date : 'dd.MM.yyyy H:mm' }}
              </span>
              <ng-container *ngIf="element.expanded">
                <div *ngFor="let p of element.processes" class="app-col-expanded">
                  {{ p.planned | date : 'dd.MM.yyyy H:mm' }}
                </div>
              </ng-container>
            </td>
          </ng-container> 

          <ng-container matColumnDef="started">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.running' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <span class="app-fix-expanded">
                {{ element.started | date : 'dd.MM.yyyy H:mm' }}
              </span>
              <ng-container *ngIf="element.expanded">
                <div *ngFor="let p of element.processes" class="app-col-expanded">
                  {{ p.started | date : 'dd.MM.yyyy H:mm' }}
                </div>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="finished">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.finished' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <span class="app-fix-expanded">
                <ng-container *ngIf="element.state !== 'RUNNING'">
                  {{ element.finished | date : 'dd.MM.yyyy H:mm' }}
                </ng-container>
              </span>
              <ng-container *ngIf="element.expanded">
                <div *ngFor="let p of element.processes" class="app-col-expanded">
                  {{ p.finished | date : 'dd.MM.yyyy H:mm' }}
                </div>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.duration' | translate }}</th>
            <td mat-cell *matCellDef="let element">

              <ng-container *ngIf="element.processes.length > 1">
                <span class="app-fix-expanded">
                  {{   element.getDuration(loadedTimestamp) | appDuration }} / {{element.getAllProcessDuration() | appDuration }}
                </span>
              </ng-container>

              <ng-container *ngIf="element.processes.length <= 1">
                <span class="app-fix-expanded">
                  {{   element.getDuration(loadedTimestamp) | appDuration }}
                </span>
              </ng-container>

              <ng-container *ngIf="element.expanded">
                <div *ngFor="let p of element.processes" class="app-col-expanded">
                  {{ p.getDuration(loadedTimestamp) | appDuration }}
                </div>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.owner' | translate }}</th>
            <td mat-cell *matCellDef="let element" [matTooltip]="element.ownerName">
              <div class="app-text-cutter-wrapper">
                <div class="app-text-cutter">
                  {{ element.ownerName  }}
                </div>
              </div>
              <ng-container *ngIf="element.expanded">
                <div *ngFor="let p of element.processes" class="app-col-expanded app-text-cutter-wrapper app-w-100">
                  <div class="app-text-cutter">
                    {{ element.ownerName  }}
                  </div>
                </div>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <span class="app-fix-expanded">
                <button *ngIf="element.isDeletable()" (click)="onRemoveProcess(element); $event.preventDefault(); $event.stopPropagation()" mat-icon-button [matTooltip]="'button.deleteProcess' | translate" matTooltipPosition="below" color="primary" [class.app-avoid-click]="notAllowed(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button *ngIf="element.isKillable()" (click)="onKillProcess(element); $event.preventDefault(); $event.stopPropagation()" mat-icon-button [matTooltip]="'button.cancelProcess' | translate" matTooltipPosition="below" color="warn" [class.app-avoid-click]="notAllowed(element.id)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </span>
              <ng-container *ngIf="element.expanded">
                <div *ngFor="let p of element.processes" class="app-col-expanded app-mr-n4">&#160;</div>
              </ng-container>
            </td>
          </ng-container> 

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.app-not-allowed]="notAllowed(row.id)" [matTooltip]="notAllowed(row.id) ? ('alert.notAllowed' | translate) : null" [matTooltipClass]="notAllowed(row.id)  ? 'app-alert-not-allowed' : null"></tr>
        </table>
        <mat-paginator *ngIf="!isLoading()" [length]="resultCount" hidePageSize="false" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[50, 100, 1000]" (page)="onPageChanged($event)"></mat-paginator>
      </div>

      <mat-card *ngIf="errorState" appearance="outlined" class="app-view-alert app-warn">
        <mat-card-content>
          <mat-icon>error</mat-icon>{{ errorMessage }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>