.app-topbar {
  .mat-mdc-form-field {
    max-width: 180px;
  }
}

.mat-mdc-table {
  .mat-mdc-cell {
    &.mat-column-expand,
    &.mat-column-todelete {
      width: 50px;
    }
  
    &.mat-column-name {
      width: 40%
    }
  
    &.mat-column-owner {
      width: 150px;
    }
  
    &.mat-column-state {
      width: 110px;
  
      .app-badge {
        width: 100%;
        margin-right: 16px;
      }
    }
  
    .app-text-cutter-wrapper,
    .app-col-expanded,
    .app-fix-expanded {
      min-height: var(--mat-table-row-item-container-height);
    }
  
    .app-fix-expanded {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .app-col-expanded {
      display: flex;
      align-items: center;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}

.app-uuid-style {
  display: inline-block;
  max-width: 35px;         
  overflow: hidden;
  text-overflow: ellipsis;  
  white-space: nowrap;
  font-family: monospace;   
  font-size: 14px;
  color: #777;              
  vertical-align: middle;
}


.app-filter-width {
  width: 150px;
}
.app-date-width {
  width: 140px;
}
.app-row-wrap {
  flex-wrap: wrap !important;
  gap: 8px 0; /* mezera mezi řádky při zalomení */
}
.app-j-end {
  justify-content: flex-end;
}