.app-cards-wrapper {
  margin-left: calc(var(--app-home-card-gap) * -1);
}

.mat-mdc-card {
  margin-left: var(--app-home-card-gap);
  margin-bottom: var(--app-home-card-gap);
  flex: 0 0 calc(#{var(--app-home-card-width)} - #{var(--app-home-card-gap)});
  max-width: calc(#{var(--app-home-card-width)} - #{var(--app-home-card-gap)});
  padding-top: 40px;
  position: relative;
  height: var(--app-home-card-height);

  .mat-mdc-card-header {
    text-align: center;

    .mat-mdc-card-subtitle {
      margin-bottom: 8px;
      font-size: 15px;
    }
  }

  .mat-mdc-card-content {
    text-align: center;
    height: 100%;
    line-height: 22px;
  }

  .app-mark-rounded {
    $app-size: 50px;

    position: absolute;
    top: calc(-#{$app-size} / 2);
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $app-size;
    width: $app-size;
    border-radius: 50%;
    background-color: var(--app-gray-6);
    color: var(--app-color-lightnes);
    margin-left: auto;
    margin-right: auto;
  }
}