<div class="app-process app-fxLayout app-column app-fill">
  <div class="app-fxLayout app-column app-fill">
    <div class="app-topbar">
      <div class="app-breadcrumbs app-mb-4">
        <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
        <a routerLink="/">home</a>
        <span class="app-separator">/</span>
        <a routerLink="/processes">{{ 'sites.processes.title' | translate }}</a>
        <span class="app-separator">/</span>
        <span class="app-last app-text-cutter">
          <span [matTooltip]="process.name">{{ process.name }}</span>
        </span>
      </div>
      <div>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false">
          <a mat-tab-link (click)="changeView('standard-output')" [active]="view == 'standard-output'"><mat-icon class="material-icons-outlined">output</mat-icon>{{ 'sites.processes.standard-output.title' | translate }}</a>
          <a mat-tab-link (click)="changeView('error-output')"  [active]="view == 'error-output'"><mat-icon class="material-icons-outlined">error_outline</mat-icon>{{ 'sites.processes.error-output.title' | translate }}</a>
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      </div>
    </div>
    <div class="app-fxFlex app-oa-y">
      <div class="app-container-fluid">
        <div class="app-fxLayout app-row app-gap-4">
          <div class="app-left">
            <mat-card appearance="outlined" class="app-mb-4">
              <mat-card-header>
                <mat-card-title class="app-mb-2">{{ 'desc.process' | translate }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="app-badge app-mb-4" [ngClass]="'app-' + process.state.toLowerCase()">{{ 'batch.' + process.state | translate }}</div>
                <div *ngIf="process.planned" class="app-mb-4">
                  <div class="app-label">{{ 'desc.scheduled' | translate }}</div>
                  <div>{{ process.planned | appDatetime }}</div>
                </div>
                <div *ngIf="process.started" class="app-mb-4">
                  <div class="app-label">{{ 'desc.running' | translate }}</div>
                  <div>{{ process.started | appDatetime }}</div>
                </div>
                <div *ngIf="process.finished" class="app-mb-4">
                  <div class="app-label">{{ 'desc.finished' | translate }}</div>
                  <div>{{ process.finished | appDatetime }}</div>
                </div>
                <div *ngIf="process.getDuration(loadedTimestamp)">
                  <div class="app-label">{{ 'desc.duration' | translate }}</div>
                  <div>{{ process.getDuration(loadedTimestamp) | appDuration }}</div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title class="app-mb-2">{{ 'desc.batch' | translate }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="app-badge app-mb-4" [ngClass]="'app-' + process.state.toLowerCase()">{{ 'batch.' + process.state | translate }}</div>
                <div *ngIf="process.planned" class="app-mb-4">
                  <div class="app-label">{{ 'desc.scheduled' | translate }}</div>
                  <div>{{ batch.planned | appDatetime }}</div>
                </div>
                <div *ngIf="process.started" class="app-mb-4">
                  <div class="app-label">{{ 'desc.running' | translate }}</div>
                  <div>{{ batch.started | appDatetime }}</div>
                </div>
                <div *ngIf="process.finished" class="app-mb-4">
                  <div class="app-label">{{ 'desc.finished' | translate }}</div>
                  <div>{{ batch.finished | appDatetime }}</div>
                </div>
                <div *ngIf="process.getDuration(loadedTimestamp)">
                  <div class="app-label">{{ 'desc.duration' | translate }}</div>
                  <div>{{ batch.getDuration(loadedTimestamp) | appDuration }}</div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-flat-button *ngIf="batch.isKillable()" (click)="onKillProcess(batch)" color="primary">{{ 'button.stop' | translate }}</button>
                <button mat-flat-button *ngIf="batch.isDeletable()" (click)="onRemoveProcess(batch)" color="primary">{{ 'button.delete' | translate }}</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="app-right app-fxFlex">
            <mat-card appearance="outlined" class="app-pl-4 app-pt-2 app-pr-4 app-pb-4">
              <app-process-logs *ngIf="view === 'standard-output'" [process]="process" [logType]="'out'" [urlOutUrl]="logOutUrl()"></app-process-logs>
              <app-process-logs *ngIf="view === 'error-output'" [process]="process" [logType]="'err'" [urlOutUrl]="logErrUrl()"></app-process-logs>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>