<form #f="ngForm" (ngSubmit)="schedule()">
	<mat-progress-bar class="progress-bar" *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
	<h2 mat-dialog-title>{{ 'modal.scheduleProcessingIndexRebuildForObject.title' | translate }}</h2>
	<mat-dialog-content>
		<div class="app-desc app-mb-4" [innerHtml]="('modal.scheduleProcessingIndexRebuildForObject.message1' | translate) + '.'"></div>
		<div class="app-desc app-mb-4">{{ 'modal.scheduleProcessingIndexRebuildForObject.message2' | translate }}</div>
		<div class="app-desc app-mb-4">{{ 'modal.scheduleProcessingIndexRebuildForObject.message3' | translate }}</div>
		<div class="app-desc app-mb-4 app-color-warn">{{ 'modal.scheduleProcessingIndexRebuildForObject.message4' | translate }}</div>
		<div>
			<mat-form-field class="app-w-100">
				<mat-label>PID</mat-label>
				<input [disabled]="inProgress || fixed" matInput type="text" id="pid" name="pid" [(ngModel)]="pid" placeholder="PID" required autofocus>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field *ngIf="title" class="app-w-100">
				<input [disabled]="inProgress || fixed" matInput type="text" id="inputTitle" name="title" [(ngModel)]="title" [placeholder]="'desc.name' | translate">
			</mat-form-field>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-flat-button [disabled]="inProgress || !pidValid(f.value.pid)" color="primary" type="submit">{{ 'button.schedule' | translate }}</button>
		<button mat-flat-button mat-dialog-close="cancel">{{ 'button.cancel' | translate }}</button>
	</mat-dialog-actions>
</form>