@use '@angular/material' as mat;
@include mat.core();

@import '../../../sass/app-variables.scss';
@import '../../../sass/app-mixins.scss';
@import '../../../sass/app-global.scss';

.mat-table {
  .mat-row {
    &.app-detail-row {
      height: 0;
    }

    &.app-element-row {
      td {
        border-bottom-width: 0;
      }
    }

    &.app-expanded-row {
      background-color: $app-gray-1;
    }

    .mat-cell {
      &.mat-column-pid {
        width: 380px;
      }
    }
  }
}