.mat-mdc-table {
  .mat-mdc-row {
    &.app-detail-row {
      height: 0;
    }

    &.app-element-row {
      td {
        border-bottom-width: 0;
      }
    }

    &.app-expanded-row {
      background-color: var(--app-gray-1);
    }

    .mat-mdc-cell {
      &.mat-column-pid {
        width: 380px;
      }
    }
  }
}