<h2 mat-dialog-title>{{ 'modal.scheduleSyncWithSdnnt.title' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ 'modal.scheduleSyncWithSdnnt.timeInfo' | translate }}: <strong>{{ lasttimestamp | date : 'dd.MM.yyyy H:mm' }}</strong></h3>
  <div class="app-oh">
    <div class="app-table-wrapper app-view-border app-maxh-100 app-oa-y">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="app-w-100">
        @for (column of columnsToDisplay; track column) {
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>
              @switch (column) {
                @case ('sync_actions') {
                  {{ 'modal.scheduleSyncWithSdnnt.field.' + column + '.title' | translate }}
                }
                @case ('process_id') {
                  {{ 'modal.scheduleSyncWithSdnnt.field.process' | translate }}
                }
                @default {
                  {{ 'modal.scheduleSyncWithSdnnt.field.' + column | translate }}
                }
              }
            </th>
            <td mat-cell *matCellDef="let element">
              @switch (column) {
                @case ('pid') {
                  <div class="app-text-cutter-wrapper">
                    <div class="app-text-cutter">
                      @if (element.pid && element.real_kram_titles_search) {
                        <a [href]="kramInstance+element[column]" target="_blank" [matTooltip]="element['real_kram_titles_search']">{{ element['real_kram_titles_search'] }}</a>
                      }
                      @if (element.pid && !element.real_kram_titles_search) {
                        <a [href]="kramInstance+element[column]" target="_blank" [matTooltip]="element['pid']">{{ element['pid'] }}</a>
                      }
                      @if (!element.pid ) {
                        <strong [matTooltip]="'modal.scheduleSyncWithSdnnt.field.linkMissing' | translate">{{ element['title'] }}</strong>
                      }
                    </div>
                  </div>
                }
                @case ('real_kram_model') {
                  <strong>{{ element[column] }} </strong>
                }
                @case ('real_kram_date') {
                  <strong>{{ element[column] }} </strong>
                }
                @case ('type_of_rec') {
                  <strong>{{ element[column] }} </strong>
                }
                @case ('sdnntModel') {
                  <strong>{{ 'desc.'+element[column] | translate }} </strong>
                }
                @case ('sdnntDate') {
                  <strong>{{ element[column] }}</strong>
                }
                @case ('sdnntCatalog') {
                  <a [href]=" sdnntInstance +'?q=' + element['catalog']" target="_blank">{{ element['sdnntCatalog'] }}</a>
                }
                @case ('title') {
                  <div class="app-text-cutter-wrapper" [matTooltip]="element[column]">
                    <div class="app-text-cutter">{{ element[column] }}</div>
                  </div>
                }
                @case ('sync_actions') {
                  <span [innerHTML]="'modal.scheduleSyncWithSdnnt.field.' + column + '.' + element[column] | translate" class="app-fxLayout app-row app-center-v"></span>
                }
                @case ('process_id') {
                  @for (p_ids of element[column]; track p_ids; let i = $index) {
                    <a [href]="'processes/standard-output/' + p_ids" target="_blank">{{ p_ids }}</a>
                    @if (i !== element[column].length - 1) {
                      <span> | </span>
                    }
                  }
                }
                @default {
                  {{ element[column] }}
                }
              }
            </td>
          </ng-container>
        }

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element" class="app-text-right">
            @if (element.sync_actions.includes('partial_change')) {
              <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation(); getChildren(element.id)" [matTooltip]="'Zobrazit ostatni zaznamy'">
                @if (expandedElement !== element) {
                  <mat-icon>keyboard_arrow_down</mat-icon>
                }
                @if (expandedElement === element) {
                  <mat-icon>keyboard_arrow_up</mat-icon>
                }
              </button>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length" class="app-pt-0 app-pb-0">
            <div class="app-element-detail app-oh app-fxLayout app-row" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <table class="app-table app-mb-4">
                <thead>
                  <tr>
                    <th>{{ 'modal.scheduleSyncWithSdnnt.field.pid' | translate }}</th>
                    <th>{{ 'modal.scheduleSyncWithSdnnt.field.real_kram_date' | translate }}</th>
                    <th>{{ 'modal.scheduleSyncWithSdnnt.field.real_kram_model' | translate }}</th>
                    <th>{{ 'modal.scheduleSyncWithSdnnt.field.sync_actions.title' | translate }}</th>
                    <th>{{ 'modal.scheduleSyncWithSdnnt.field.process' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  @for (child of element.children; track child) {
                    <tr>
                      <td>
                        <div class="app-text-cutter-wrapper">
                          <div class="app-text-cutter">
                            <a [href]="kramInstance+child.pid" target="_blank" [matTooltip]="child.real_kram_titles_search">{{ child.real_kram_titles_search }}</a>
                          </div>
                        </div>
                      </td>
                      <td>{{ child.real_kram_date }}</td>
                      <td>{{ 'field.' + child.real_kram_model | translate }}</td>
                      <td><span [innerHTML]="'modal.scheduleSyncWithSdnnt.field.sync_actions.' + child.sync_actions | translate" class="app-fxLayout app-row app-center-v"></span></td>
                      <td><a [href]="'processes/standard-output/' + child.process_id" target="_blank" > {{child.process_id}}</a></td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="app-element-row" [class.app-expanded-row]="expandedElement === element"></tr><!--(click)=" element.children?.length > 0 ? (expandedElement = expandedElement === element ? null : element) : null"-->
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; let element;" class="app-detail-row" [class.app-expanded-row]="expandedElement === element"></tr>
      </table>
      <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton="filled" color="primary"  (click)="applyChanges();"   mat-dialog-close>{{ 'button.acceptChanges' | translate }}</button>
  <button matButton mat-dialog-close=" cancel">{{ 'button.cancel' | translate }}</button>
</mat-dialog-actions>