<h2 mat-dialog-title>{{ 'modal.scheduleSyncWithSdnnt.title' | translate }} </h2>

<mat-dialog-content class="mat-typography">
  <h3>{{ 'modal.scheduleSyncWithSdnnt.timeInfo' | translate }}: <strong>{{lasttimestamp}}</strong></h3>
  <div class="app-oh">
    <div class="app-table-wrapper app-view-border app-maxh-100 app-oa-y">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="app-w-100">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef [ngSwitch]="column">
            <ng-container *ngSwitchCase="'sync_actions'">{{ 'modal.scheduleSyncWithSdnnt.field.' + column + '.title' | translate }}</ng-container>
            <ng-container *ngSwitchDefault>{{ 'modal.scheduleSyncWithSdnnt.field.' + column | translate }}</ng-container>
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container [ngSwitch]="column">
              
              <ng-container *ngSwitchCase="'pid'"><a [href]="appSettings.coreBaseUrl+'/../view/'+element[column]" 
                target="_blank" >{{ element[column] }}</a></ng-container>

              <ng-container *ngSwitchCase="'catalog'"><a [href]="'https://sdnnt.nkp.cz/sdnnt/search?q=' + element[column]" target="_blank">{{ element[column] }}</a></ng-container>
              <ng-container *ngSwitchCase="'title'">
                <div class="app-text-cutter-wrapper" [matTooltip]="element[column]">
                  <div class="app-text-cutter">{{ element[column] }}</div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'sync_actions'">
                <ng-container [ngSwitch]="element[column]?.length">
                  <ng-container *ngSwitchCase="1"><span [innerHTML]="'modal.scheduleSyncWithSdnnt.field.' + column + '.' + element[column] | translate" fxLayout="row" fxLayoutAlign="start center"></span></ng-container>
                  <ng-container *ngSwitchDefault>{{ 'modal.scheduleSyncWithSdnnt.field.' + column + '.' + element[column][0] + '.title' | translate }}</ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchDefault>{{ element[column] }}</ng-container>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element" class="app-text-right">
            <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation(); getChildren(element.id)" *ngIf="element.sync_actions.includes('partial_change')" [matTooltip]="'Zobrazit ostatni zaznamy'">
              <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length" class="app-pt-0 app-pb-0">
            <div class="app-element-detail app-oh" fxLayout="row" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <table class="app-table app-mb-4">
                <thead>
                  <tr>
                    <th>{{ 'modal.scheduleSyncWithSdnnt.field.pid' | translate }}</th>
                    <th>Id</th>
                    <th>{{ 'modal.scheduleSyncWithSdnnt.field.sync_actions.title' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let child of element.children">


                    <td>
                      <a [href]="appSettings.coreBaseUrl+'/../view/'+child.pid" 
                      target="_blank" >{{ child.pid }}</a>

                    </td>
                    
                    <td>{{ child.id }}</td>
                    <td><span [innerHTML]="'modal.scheduleSyncWithSdnnt.field.sync_actions.' + child.sync_actions | translate" fxLayout="row" fxLayoutAlign="start center"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="app-element-row" 
        
        [class.app-expanded-row]="expandedElement === element"></tr><!--(click)=" element.children?.length > 0 ? (expandedElement = expandedElement === element ? null : element) : null"-->
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; let element;" class="app-detail-row" 
        
        [class.app-expanded-row]="expandedElement === element"></tr>
      </table>
      <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary"  type="submit">{{ 'button.acceptChanges' | translate }}</button>
  <button mat-flat-button mat-dialog-close=" cancel">{{ 'button.cancel' | translate }}</button>
</mat-dialog-actions>