<h2 mat-dialog-title>{{ 'Synchronizace licencí' | translate }}</h2>
<mat-dialog-content>
  <div class="app-oh">
  <div class="app-table-wrapper app-view-border app-maxh-100 app-oa-y">
    <table mat-table [dataSource]="dataSource" class="app-w-100">
      <ng-container matColumnDef="library">
        <th mat-header-cell *matHeaderCellDef>Knihovna</th>
        <td mat-cell *matCellDef="let element">
          {{ element.library }}
          <ng-container *ngFor="let item of element.children">
            <div>{{ item.rocnik }} => {{ item.licenseOut }}</div>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="uuid">
        <th mat-header-cell *matHeaderCellDef>UUID</th>
        <td mat-cell *matCellDef="let element">{{ element.uuid }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Jmeno</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="licenseIn">
        <th mat-header-cell *matHeaderCellDef>Licence puvodni</th>
        <td mat-cell *matCellDef="let element">{{ element.licenseIn }} </td>
      </ng-container>

      <ng-container matColumnDef="licenseOut">
        <th mat-header-cell *matHeaderCellDef>Zmena licence</th>
        <td mat-cell *matCellDef="let element">{{ element.licenseOut }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
<button mat-flat-button color="primary" type="submit">{{ 'button.startTheSynchronizationProcess' | translate }}</button>
<button mat-flat-button mat-dialog-close="cancel">{{ 'button.cancel' | translate }}</button>
</mat-dialog-actions>