<h2 mat-dialog-title>{{ 'modal.userInfo.title' | translate }} - {{ userInfo.uid }}</h2>

<mat-dialog-content class="mat-typography">
  @if (userInfo.roles?.length !== 0) {
    <div>
      <span class="app-label">{{ 'desc.role' | translate }}: </span>
      @for (role of userInfo.roles; track role; let last = $last) {
        <strong>{{ role }}</strong><span></span>@if (!last) {
        ,&#160;
      }
    }
  </div>
}
@if (userInfo.licenses?.length !== 0) {
  <div>
    <span class="app-label">{{ 'desc.license' | translate }}: </span>
    @for (license of userInfo.licenses; track license; let last = $last) {
      <strong>{{ license }}</strong><span></span>@if (!last) {
      ,&#160;
    }
  }
</div>
}
@if (userInfo.roles?.length !== 0 || userInfo.licenses?.length !== 0) {
  <mat-divider class="app-mt-2 app-mb-2"></mat-divider>
}
@if (userInfo.session.affiliation) {
  <div><span class="app-label">{{ 'desc.affiliation' | translate }}: </span><strong>{{ userInfo.session.affiliation }}</strong></div>
}
@if (userInfo.session.eduPersonPrincipalName) {
  <div><span class="app-label">{{ 'desc.eduPersonPrincipalName' | translate }}: </span><strong>{{ userInfo.session.eduPersonPrincipalName }}</strong></div>
}
@if (userInfo.session.eduPersonUniqueId) {
  <div><span class="app-label">{{ 'desc.eduPersonUniqueId' | translate }}: </span><strong>{{ userInfo.session.eduPersonUniqueId }}</strong></div>
}
@if (userInfo.session.affiliation || userInfo.session.eduPersonPrincipalNam || userInfo.session.eduPersonUniqueId) {
  <mat-divider class="app-mt-2 app-mb-2"></mat-divider>
}
@if (userInfo.session.preffered_user_name) {
  <div><span class="app-label">{{ 'desc.prefferedUserName' | translate }}: </span><strong>{{ userInfo.session.preffered_user_name }}</strong></div>
}
@if (userInfo.session.email) {
  <div><span class="app-label">{{ 'Email' | translate }}: </span><strong>{{ userInfo.session.email }}</strong></div>
}
@if (userInfo.name) {
  <div><span class="app-label">{{ 'desc.humanName' | translate }}: </span><strong>{{ userInfo.name }}</strong></div>
}
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton mat-dialog-close>{{ 'button.close' | translate }}</button>
</mat-dialog-actions>
