.info {
    margin-top: -5px;
    margin-bottom: 5px;
    display: block;
    width: 370px;
    margin-bottom: 20px;
    font-size: 90%;
    opacity: 70%;
}

.section-header {
    font-size: 110%;
    margin-top: 8px;
    opacity: 80%;
    margin-bottom: 4px;
}

.input-pids {
    display: block;
    width: 355px;
}

.input-collection_title {
    display: block;
    width: 370px;
}

.input-collection_pid {
    display: block;
    width: 370px;
}

.progress-bar {
    margin-top: 22px;
}

.progress-info {
    margin-top: 8px;
}

.progress-info-text {
    opacity: 90%;
    font-size: 95%;
}

.app-pids-from-file {
    color: #999;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    &:hover {
        color: #111;
    }
}

.buttons {
    margin-top: 16px;
}
