<div class="app-processes">

  <div class="app-actions">

    <div *ngIf="appSettings.devMode">
      <!-- spusteni testovaciho procesu -->

      <mat-form-field class="app-schedule-test-process-final-state">
        <mat-select placeholder="Konečný stav" [(value)]="selectedtestProcessFinalState">
          <mat-option *ngFor="let state of testProcessFinalStates" [value]="state">{{ state }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="app-schedule-test-process-processes-in-batch">
        <mat-select placeholder="Procesů v dávce" [(value)]="selectedTestProcessProcessesInBatch">
          <mat-option *ngFor="let processes of testProcessProcessesInBatch" [value]="processes">{{ processes }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="app-schedule-test-process-duration">
        <mat-select placeholder="Trvání procesu" [(value)]="selectedTestProcessDuration">
          <mat-option *ngFor="let duration of testProcessDuration" [value]="duration">{{ duration }} s</mat-option>
        </mat-select>
      </mat-form-field>

      <button class="app-schedule-test-process-btn" mat-raised-button (click)="scheduleTestProcess()"
        [disabled]="isLoading()" color="primary">Spustit testovací proces</button>
    </div>

    <!-- filtrovani seznamu procesů  -->

    <mat-form-field class="app-filter-state">
      <mat-select placeholder="Stav" [(value)]="selectedState" (selectionChange)="onFiltersChanged()"
        [disabled]="isLoading()">
        <mat-option *ngFor="let state of batch_states" [value]="state.key">{{ state.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button *ngIf="!!selectedState" class="app-filter-clear" mat-icon-button matTooltip="Odebrat filtrování podle stavu"
      [disabled]="isLoading()" (click)="selectedState=undefined;onFiltersChanged()">
      <mat-icon>clear</mat-icon>
    </button>

    <mat-form-field class="app-filter-owner">
      <mat-select placeholder="Vlastník" [(value)]="selectedOwner" (selectionChange)="onFiltersChanged()"
        [disabled]="isLoading()">
        <mat-option *ngFor="let owner of owners" [value]="owner.id">{{ owner.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button *ngIf="!!selectedOwner" class="app-filter-clear" mat-icon-button
      matTooltip="Odebrat filtrování podle vlastníka" (click)="selectedOwner=undefined;onFiltersChanged()"
      [disabled]="isLoading()">
      <mat-icon>clear</mat-icon>
    </button>

    <mat-form-field class="app-filter-date-from">
      <input matInput [matDatepicker]="myDatepickerFrom" placeholder="Od" [(ngModel)]='dateFrom'
        [disabled]="isLoading()" (dateChange)="onFiltersChanged()">
      <mat-datepicker-toggle matSuffix [for]="myDatepickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #myDatepickerFrom [disabled]="isLoading()"></mat-datepicker>
    </mat-form-field>
    <button *ngIf="!!dateFrom" class="app-filter-clear" mat-icon-button
      matTooltip="Odebrat filtrování podle počátečního data" (click)="dateFrom=undefined;onFiltersChanged()"
      [disabled]="isLoading()">
      <mat-icon>clear</mat-icon>
    </button>

    <mat-form-field class="app-filter-date-to">
      <input matInput [matDatepicker]="myDatepickerTo" placeholder="Do" [(ngModel)]='dateTo' [disabled]="isLoading()"
        (dateChange)="onFiltersChanged()">
      <mat-datepicker-toggle matSuffix [for]="myDatepickerTo"></mat-datepicker-toggle>
      <mat-datepicker #myDatepickerTo [disabled]="isLoading()"></mat-datepicker>
    </mat-form-field>
    <button *ngIf="!!dateTo" class="app-filter-clear" mat-icon-button
      matTooltip="Odebrat filtrování podle koncového data" (click)="dateTo=undefined;onFiltersChanged()"
      [disabled]="isLoading()">
      <mat-icon>clear</mat-icon>
    </button>

    <button class="app-filter-reload" mat-icon-button matTooltip="Znovu načíst procesy" (click)="reload()"
      [disabled]="isLoading()">
      <mat-icon>refresh</mat-icon>
    </button>

    <button mat-raised-button class="app-cancel-all-scheduled-processes-btn" (click)="onKillAllScheduled()"
      color="primary" matTooltip="Zrušit všechny zobrazené naplánované procesy" [disabled]="isLoading()">
      <mat-icon>cancel</mat-icon>
      Zrušit naplánované procesy
    </button>


  </div>

  <div class="app-processes-table">
    <div class="app-table">
      <div class="app-row app-header">
        <div class="process-expand"></div>
        <div class="process-id">ID</div>
        <div class="process-name">Název</div>
        <div class="process-state">Stav</div>
        <div class="process-datetime">Naplánováno</div>
        <div class="process-datetime">Spuštěno</div>
        <div class="process-datetime">Ukončeno</div>
        <div class="process-duration">Trvání</div>
        <div class="process-owner">Vlastník</div>
        <div class="process-actions"></div>
      </div>
    </div>
    <div class="scrollable app-table" *ngIf="!isLoading()">
      <ng-container *ngFor="let batch of batches">
        <a class="app-row" [routerLink]="['/processes', batch.id]">
          <div class="process-expand">
            <button (click)="batch.expanded = !batch.expanded; $event.preventDefault(); $event.stopPropagation()"
              *ngIf="batch.hasSubprocesses()" mat-icon-button color="primary" matTooltip="Zobrazit podprocesy">
              <mat-icon>{{ batch.expanded ? 'remove' : 'add' }}</mat-icon>
            </button>
          </div>
          <div class="process-id">{{ batch.id }}</div>
          <div class="process-name" matTooltip="{{ batch.getName() }}">{{ batch.getName() }}</div>
          <div class="process-state">
            <div class="state-label" [style.backgroundColor]="batch.getStateColor()">{{ batch.getStateLabel() }}</div>
          </div>
          <div class="process-datetime">{{ batch.planned | appDatetime }}</div>
          <div class="process-datetime">{{ batch.started | appDatetime }}</div>
          <div class="process-datetime">{{ batch.finished | appDatetime }}</div>
          <div class="process-duration">{{ batch.getDuration(loadedTimestamp) | appDuration }}</div>
          <div class="process-owner">{{ batch.ownerName }}</div>
          <div class="process-actions">
            <button *ngIf="batch.isDeletable()" class="app-action-remove"
              (click)="onRemove(batch); $event.preventDefault(); $event.stopPropagation()" mat-icon-button
              matTooltip="Smazat proces" matTooltipPosition="below">
              <mat-icon>delete</mat-icon>
            </button>
            <button *ngIf="batch.isKillable()" class="app-action-remove"
              (click)="onKill(batch); $event.preventDefault(); $event.stopPropagation()" mat-icon-button
              matTooltip="Zrušit proces" matTooltipPosition="below">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </a>
        <ng-container *ngIf="batch.expanded">
          <a *ngFor="let process of batch.processes" class="app-row app-subprocess"
            [routerLink]="['/processes', process.id]">
            <div class="process-expand"></div>
            <div class="process-id">{{ process.id }}</div>
            <div class="process-name" matTooltip="{{ process.name }}">{{ process.name }}</div>
            <div class="process-state">
              <div class="state-label" [style.backgroundColor]="process.getStateColor()">{{ process.getStateLabel() }}
              </div>
            </div>
            <div class="process-datetime">{{ process.planned | appDatetime }}</div>
            <div class="process-datetime">{{ process.started | appDatetime }}</div>
            <div class="process-datetime">{{ process.finished | appDatetime }}</div>
            <div class="process-duration">{{ process.getDuration(loadedTimestamp) | appDuration }}</div>
            <div class="process-owner">{{ process.owner_login }}</div>
            <div class="process-actions">
            </div>
          </a>
        </ng-container>
      </ng-container>
    </div>

    <div class="paginator-wrapper" *ngIf="!isLoading()">
      <mat-paginator [length]="resultCount" hidePageSize="false" [pageIndex]="pageIndex" [pageSize]="pageSize"
        [pageSizeOptions]="[50, 100, 1000]" (page)="onPageChanged($event)">
      </mat-paginator>
    </div>

    <mat-progress-bar mode="buffer" *ngIf="isLoading()"></mat-progress-bar>

  </div>

</div>