<div class="container">

    <!-- filtrování výsledků -->
    <app-process-filter (dataChanged)="onFilterUpdated($event)"></app-process-filter>

    <div class="mat-elevation-z8 app-table-wrapper">

        <table mat-table [dataSource]="tableDataSource">

            <ng-container matColumnDef="btn">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let process" class="btn-cell"
                    [ngClass]="{'aggregate': process.children, 'subprocess': !process.batch_id}">
                    <ng-container *ngIf="process.children && isBatchOpen(process.batch_id)">
                        <button mat-icon-button color="primary" (click)="toggleBatchOpen(process)"><b>-</b></button>
                    </ng-container>
                    <ng-container *ngIf="process.children && !isBatchOpen(process.batch_id)">
                        <button mat-icon-button color="primary" (click)="toggleBatchOpen(process)"><b>+</b></button>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let process"
                    [ngClass]="{'aggregate': process.children, 'subprocess': !process.batch_id}">
                    <ng-container *ngIf="process.children && isBatchOpen(process.batch_id)">
                        <!-- <button mat-icon-button color="primary" (click)="toggleBatchOpen(process)"><b>-</b></button> -->
                        {{process.batch_id}}
                    </ng-container>
                    <ng-container *ngIf="process.children && !isBatchOpen(process.batch_id)">
                        <!-- <button mat-icon-button color="primary" (click)="toggleBatchOpen(process)"><b>+</b></button> -->
                        {{process.batch_id}}
                    </ng-container>
                    <ng-container *ngIf="!process.children">
                        {{process.process_id}}
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Název</th>
                <td mat-cell *matCellDef="let process"
                    [ngClass]="{'aggregate': process.children, 'subprocess': !process.batch_id}">
                    <ng-container *ngIf="process.children">{{process.children[0].name|shorten:25}}</ng-container>
                    <ng-container *ngIf="!process.children">{{process.name|shorten:25}}</ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>Stav</th>
                <td mat-cell *matCellDef="let process"
                    [ngClass]="{'aggregate': process.children, 'subprocess': !process.batch_id}">
                    <div class="box" *ngIf="process.batch_id">
                        <!-- see https://material.io/resources/icons/?style=baseline -->
                        <mat-icon *ngIf="process.batch_state=='PLANNED'">queue</mat-icon>
                        <mat-icon *ngIf="process.batch_state=='RUNNING'">360</mat-icon>
                        <mat-icon *ngIf="process.batch_state=='FINISHED'">done</mat-icon>
                        <mat-icon *ngIf="process.batch_state=='FAILED'">error_outline</mat-icon>
                        <span>&nbsp;{{process.batch_state}}</span>
                    </div>
                    <div class="box" *ngIf="!process.batch_id">
                        <!-- see https://material.io/resources/icons/?style=baseline -->
                        <mat-icon *ngIf="process.state=='PLANNED'">queue</mat-icon>
                        <mat-icon *ngIf="process.state=='RUNNING'">360</mat-icon>
                        <mat-icon *ngIf="process.state=='FINISHED'">done</mat-icon>
                        <mat-icon *ngIf="process.state=='FAILED'">error_outline</mat-icon>
                        <mat-icon *ngIf="process.state=='WARNING'">error_outline</mat-icon>
                        <span>&nbsp;{{process.state}}</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="planned">
                <th mat-header-cell *matHeaderCellDef>Naplánováno</th>
                <td mat-cell *matCellDef="let process"
                    [ngClass]="{'aggregate': process.children, 'subprocess': !process.batch_id}">
                    <ng-container *ngIf="process.batch_id">
                        {{process.batch_planned | date:'W. L. y, H:mm:ss'}}
                    </ng-container>
                    <ng-container *ngIf="!process.batch_id">
                        {{process.planned | date:'W. L. y, H:mm:ss'}}
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="started">
                <th mat-header-cell *matHeaderCellDef>Spuštěno</th>
                <td mat-cell *matCellDef="let process"
                    [ngClass]="{'aggregate': process.children, 'subprocess': !process.batch_id}">
                    <ng-container *ngIf="process.batch_id">
                        {{process.batch_started | date:'W. L. y, H:mm:ss'}}
                    </ng-container>
                    <ng-container *ngIf="!process.batch_id">
                        {{process.started | date:'W. L. y, H:mm:ss'}}
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="finished">
                <th mat-header-cell *matHeaderCellDef>Ukončeno</th>
                <td mat-cell *matCellDef="let process"
                    [ngClass]="{'aggregate': process.children, 'subprocess': !process.batch_id}">
                    <ng-container *ngIf="process.batch_id">
                        {{process.batch_finished | date:'W. L. y, H:mm:ss'}}
                    </ng-container>
                    <ng-container *ngIf="!process.batch_id">
                        {{process.finished | date:'W. L. y, H:mm:ss'}}
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef>Trvání</th>
                <td mat-cell *matCellDef="let process"
                    [ngClass]="{'aggregate': process.children, 'subprocess': !process.batch_id}">
                    <ng-container *ngIf="process.batch_id">
                        {{toDurationInMs(process.batch_started, process.batch_finished) | duration}}
                    </ng-container>
                    <ng-container *ngIf="!process.batch_id">
                        {{toDurationInMs(process.started, process.finished) | duration}}
                    </ng-container>
            </ng-container>

            <ng-container matColumnDef="owner">
                <th mat-header-cell *matHeaderCellDef>Vlastník</th>
                <td mat-cell *matCellDef="let process"
                    [ngClass]="{'aggregate': process.children, 'subprocess': !process.batch_id}">
                    {{process.batch_owner_login}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></tr>
        </table>

        <mat-paginator class="mat-paginator-sticky" [length]="processTotalCount" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="onPageEvent($event)">
        </mat-paginator>

    </div>

</div>