@import './src/sass/app-variables.scss';
@import './src/sass/app-mixins.scss';
@import './src/sass/app-global.scss';

.app-view-processes {
  .app-scrollable {
    max-height: calc(100% - 106px);
    overflow: auto;
  }

  .app-col-expand {
    width: 44px;

    .mat-icon {
      @include setIcon(18);
    }
  }

  .app-col-id {
    width: 60px;
  }

  .app-col-name {
    flex: 1;
    padding-right: 10px;
    word-break: break-all;
  }

  .app-col-state {
    width: 110px;
    margin-right: 16px;
  }

  .app-col-datetime {
    width: 160px;
  }

  .app-col-duration {
    width: 60px;
  }

  .app-col-owner {
    width: 160px;
  }

  .app-col-actions {
    width: 40px;
  }

  .app-subprocess {
    background: rgba($app-table-color-bg-hover, .6);

    .app-col-expand {
      width: 103px;
    }
  }
}
