<form class="form-signin" #f="ngForm" (ngSubmit)="onAdd(f.value)">
	<h2 mat-dialog-title>Přidání sbírky do jiné sbírky</h2>
	<mat-dialog-content class="mat-typography">
		<div class="app-desc app-mb-4" *ngIf="isCollection">
			Tato sbírka bude přidána do jiné sbírky. Součástí přidání do sbírky je naplánování indexačního procesu,
			proto se příslušnost do sbírky nemusí projevit okamžitě.
		</div>
		<div class="app-desc app-mb-4" *ngIf="!isCollection">
			Objekt bude přidán do sbírky. Součástí přidání do sbírky je naplánování indexačního procesu, proto se
			příslušnost do sbírky nemusí projevit okamžitě.
		</div>

		<div class="app-mb-2">
			<mat-form-field class="app-w-100" *ngIf="title">
				<input [disabled]="inProgress || title" matInput type="text" id="inputTitle" name="title"
					[(ngModel)]="title" placeholder="Název">
			</mat-form-field>
			<mat-form-field class="app-w-100" *ngIf="pid">
				<input [disabled]="inProgress || pid" matInput type="text" id="inputPid" name="pid" [(ngModel)]="pid"
					placeholder="PID">
			</mat-form-field>
		</div>
		<div class="app-mb-4">
			<strong>Sbírka, do které se přidává:</strong>
		</div>
		<mat-card *ngFor="let superCollection of potentialSuperCollections"
			class="app-card app-view-item app-view-hover app-cursor-pointer"
			(click)="selectSuperCollection(superCollection)"
			[class.app-selected]="superCollection == selectedSuperCollection">
			<mat-card-header>
				<mat-card-title class="app-mb-1" fxLayout="row" fxLayoutAlign="start center">
					<mat-icon [class.app-color-accent]="superCollection == selectedSuperCollection">{{ superCollection
						== selectedSuperCollection ? 'radio_button_checked' : 'radio_button_unchecked' }}</mat-icon>
					{{getCollectionName(superCollection)}}
				</mat-card-title>
				<mat-card-subtitle class="app-m-0">{{ getCollectionDescription(superCollection )}}</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
		<mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-flat-button [disabled]="inProgress || !selectedSuperCollection || finished" color="primary"
			type="submit">Přidat</button>
		<button mat-flat-button *ngIf="!finished" [disabled]="inProgress" mat-dialog-close="cancel">Zrušit</button>
		<button mat-flat-button *ngIf="finished" mat-dialog-close="close">Zavřít</button>
	</mat-dialog-actions>
</form>