.app-row {
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  height: 34px;

  &.app-file {
    color: var(--app-gray-5);
  }

  &.app-selected {
    font-weight: 900;
    background-color: var(--app-gray-0);
  }

  .app-left {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}