<form #f="ngForm" (ngSubmit)="schedule()">
	<mat-progress-bar class="progress-bar" *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
	<h2 mat-dialog-title>{{ 'modal.scheduleProcessingIndexRebuild.title' | translate }}</h2>
	<mat-dialog-content>
		<div class="app-desc app-mb-4" [innerHtml]="'modal.scheduleProcessingIndexRebuild.message1' | translate"></div>
		<div class="app-desc app-mb-4">
			{{ 'modal.scheduleProcessingIndexRebuild.message2' | translate }}
		</div>
		<div class="app-mb-4">
			<strong>{{ 'modal.scheduleProcessingIndexRebuild.instruction.backup.title' | translate }}</strong>
			<ol>
				<li [innerHtml]="'modal.scheduleProcessingIndexRebuild.instruction.backup.1' | translate"></li>
				<li [innerHtml]="'modal.scheduleProcessingIndexRebuild.instruction.backup.2' | translate"></li>
				<li [innerHtml]="'modal.scheduleProcessingIndexRebuild.instruction.backup.3' | translate"></li>
			</ol>
		</div>
		<div class="app-mb-4">
			<strong>{{ 'modal.scheduleProcessingIndexRebuild.instruction.recovery.title' | translate }}</strong>
			<ol>
				<li>{{ 'modal.scheduleProcessingIndexRebuild.instruction.recovery.1' | translate }}</li>
				<li>{{ 'modal.scheduleProcessingIndexRebuild.instruction.recovery.2' | translate }}</li>
				<li>{{ 'modal.scheduleProcessingIndexRebuild.instruction.recovery.3' | translate }}</li>
			</ol>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-flat-button [disabled]="inProgress" color="primary" type="submit">{{ 'button.schedule' | translate }}</button>
    <button mat-flat-button [disabled]="inProgress" mat-dialog-close="cancel">{{ 'button.cancel' | translate }}</button>
	</mat-dialog-actions>
</form>