<form #f="ngForm" (ngSubmit)="schedule()">
	<mat-progress-bar class="progress-bar" *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
	<h2 mat-dialog-title>Vybudování Processing indexu</h2>
	<mat-dialog-content>
		<div class="app-desc app-mb-4">
			Proces <em>Vybudování Processing indexu</em> smaže stávající Processing index a vyrobí nový index z dat v Repozitáři (Akubra).
		</div>
		<div class="app-desc app-mb-4">
			Protože se prochází všechny FOXML objekty, jde o náročnou operaci, která může trvat i desítky hodin (podle velikosti repozitáře a dostupného výpočetního výkonu). Proto je doporučeno nejprve Processing index zálohovat.
		</div>
		<div class="app-mb-4">
			<strong>Postup zálohy Processing indexu:</strong>
			<ol>
				<li>vypnout Solr: <i>$SOLR_HOME/bin/solr stop</i></li>
				<li>zálohovat datový adresář Processing indexu: typicky <i>$SOLR_HOME/server/solr/processing/data</i></li>
				<li>zapnout Solr <i>$SOLR_HOME/bin/solr start</i></li>
			</ol>
		</div>
		<div class="app-mb-4">
			<strong>Postup obnovy Processing indexu:</strong>
			<ol>
				<li>vypnout Solr</li>
				<li>nahradit datový adresář Processing indexu zálohou</li>
				<li>zapnout Solr</li>
			</ol>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-flat-button [disabled]="inProgress" color="primary" type="submit">Naplánovat</button>
    <button mat-flat-button [disabled]="inProgress" mat-dialog-close="cancel">Zrušit</button>
	</mat-dialog-actions>
</form>