<div class="app-dev app-fxLayout app-column app-fill">
	<div class="app-fxFlex app-oa-y app-view-processes">
		<div class="app-container-fluid">
			<h1>Test</h1>
			<p>Tato komponenta slouží pro testování, typicky nové funkcionality na backendu. Protože tady máme funkční autentizaci, což se složitěji simuluje.</p>

			<mat-card appearance="outlined" class="app-mb-4">
				<mat-card-header>
					<mat-card-title class="app-mb-2">Úklid</mat-card-title>
				</mat-card-header>
				<mat-card-content class="app-fxLayout app-row app-center-v app-gap-4">
					<!-- mazani objektu z repozitare -->
					<mat-form-field appearance="outline">
						<input matInput [(ngModel)]="pidForDeletion" placeholder="PID">
					</mat-form-field>
					<!-- tohle pouzivat fakt opatrne, neresi se uklid vyhledavaciho indexu, taky to kvuli cachovani neznamena, ze bude objekt skutecne smazan, muze byt potreba restratovat Tomcat -->
					<button mat-flat-button (click)="deleteObjectLowLevel()" [disabled]="!pidForDeletion" color="primary">Smazat objekt z repozitáře</button>
				</mat-card-content>
			</mat-card>


			<mat-card appearance="outlined" class="app-mb-4">
				<mat-card-header>
					<mat-card-title class="app-mb-2">Výpis foxml (do konzole)</mat-card-title>
				</mat-card-header>
				<mat-card-content class="app-fxLayout app-row app-center-v app-gap-4">
					<mat-form-field appearance="outline">
          	<input matInput [(ngModel)]="pidForPrintFoxml" placeholder="PID">
        	</mat-form-field>
        	<button mat-flat-button (click)="printFoxmlOfObjectFromRepo()" [disabled]="!pidForPrintFoxml" color="primary">Zalogovat foxml</button>
				</mat-card-content>
			</mat-card>

			<mat-card appearance="outlined" class="app-mb-4">
				<mat-card-header>
					<mat-card-title class="app-mb-2">Výpis z vyhledávacího indexu (do konzole)</mat-card-title>
				</mat-card-header>
				<mat-card-content class="app-fxLayout app-row app-center-v app-gap-4">
					<mat-form-field appearance="outline">
            <input matInput [(ngModel)]="pidForPrintSolr" placeholder="PID">
        	</mat-form-field>
        	<button mat-flat-button (click)="printSolrRecord()" [disabled]="!pidForPrintSolr" color="primary">Zalogovat solr záznam</button>
				</mat-card-content>
			</mat-card>

			<mat-card appearance="outlined" class="app-mb-4">
				<mat-card-header>
					<mat-card-title class="app-mb-2">Nastavení Thumbnailu ze stránky</mat-card-title>
				</mat-card-header>
				<mat-card-content class="app-fxLayout app-row app-center-v app-gap-4">
					<mat-form-field appearance="outline">
						<input matInput [(ngModel)]="changeThumbnailTrgPid" placeholder="PID (cíle)">
        	</mat-form-field>
					<mat-form-field appearance="outline">
            <input matInput [(ngModel)]="changeThumbnailSrcPid" placeholder="PID (zdrojové stránky)">
        	</mat-form-field>
        	<button mat-flat-button (click)="changeThubnail()" [disabled]="!changeThumbnailSrcPid || !changeThumbnailTrgPid" color="primary">Nastavit thumbnail</button>
				</mat-card-content>
			</mat-card>

			<mat-card appearance="outlined" class="app-mb-4">
				<mat-card-header>
					<mat-card-title class="app-mb-2">Nastavení MODS</mat-card-title>
				</mat-card-header>
				<mat-card-content class="app-fxLayout app-row app-gap-4">
					<mat-form-field appearance="outline">
						<input matInput [(ngModel)]="setModsPid" placeholder="PID">
        	</mat-form-field>
        	<mat-form-field appearance="outline">
            <mat-label>MODS záznam objektu</mat-label>
            <textarea matInput [(ngModel)]="setModsMods" type="text" rows='4'></textarea>
        	</mat-form-field>
        	<button mat-flat-button (click)="setMods()" [disabled]="!setModsPid || !setModsMods" color="primary">Nastavit MODS</button>
				</mat-card-content>
			</mat-card>

			<mat-card appearance="outlined" class="app-mb-4">
				<mat-card-header>
					<mat-card-title class="app-mb-2">Export do PDF</mat-card-title>
				</mat-card-header>
				<mat-card-content class="app-fxLayout app-row app-gap-4">
					<mat-form-field appearance="outline">
            <input matInput [(ngModel)]="pidForPdfExport" placeholder="PID">
        	</mat-form-field>
        	<button mat-flat-button (click)="exportPDF()" [disabled]="!pidForPdfExport" color="primary">Exportovat PDF</button>
				</mat-card-content>
			</mat-card>
			
			<mat-card appearance="outlined" class="app-mb-4">
				<mat-card-header>
					<mat-card-title class="app-mb-2">Testy</mat-card-title>
				</mat-card-header>
				<mat-card-content class="app-fxLayout app-row app-gap-4">
					<button mat-flat-button (click)="logDataFromAdminApi()" color="primary">Log data from admin api</button>
    			<button mat-flat-button (click)="logDataFromClientApi()" color="primary">Log data from client api</button>
					<button mat-flat-button color="warn" (click)="testAction()">Test</button>
				</mat-card-content>
			</mat-card>
			
		</div>
	</div>
</div>



