<div class="app-collections app-h-100">
  <div fxLayout="column" fxFlexFill>
    <div class="app-topbar">
      <div fxLayout="row" class="app-mb-2">
        <div fxFlex class="app-breadcrumbs">
          <mat-icon class="material-icons-outlined app-mr-2">home</mat-icon>
          <a routerLink="/">home</a>
          <span class="app-separator">/</span>
          <span class="app-last">{{ 'sites.collections.title' | translate }}</span>
        </div>
        <div>
          <button mat-stroked-button [matMenuTriggerFor]="menuLang" class="app-bg-white app-pr-1" [matTooltip]="'button.languageForEditing' | translate"><span class="app-mr-2">{{ 'lang.' + lang | translate }}</span><mat-icon>arrow_drop_down</mat-icon></button>
          <mat-menu #menuLang="matMenu">
            <button mat-menu-item *ngFor="let language of languages" (click)="setLang(language)">{{ 'lang.' + language | translate  }}</button>
          </mat-menu>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" class="app-mb-4">
        <div fxFlex>
          <input class="app-input-autocomplete app-mr-2" type="text" [placeholder]="'desc.searchCollection' | translate" [(ngModel)]="query" (ngModelChange)="onSearch()" autocomplete="off">
          <button [disabled]="!allowedGlobalAction('a_collections_edit')" mat-flat-button color="primary" (click)="onNewCollections()" class="app-mr-2">{{ 'button.createNewCollection' | translate }}</button>
          <button [disabled]="!selection.hasValue() || collections?.length === 0" mat-flat-button color="warn" (click)="deleteSelectedCollections()" class="app-mr-2">{{ 'button.deleteSelectedCollections' | translate }}</button>
          <button [disabled]="!selection.hasValue() || collections?.length === 0" mat-flat-button color="primary" (click)="openCreateCollectionBackupDialog()" class="app-mr-2">{{ 'button.createBackup' | translate }}</button>
          <button mat-flat-button color="primary" (click)="openRestoreFromCollectionBackupDialog()" class="app-mr-1">{{ 'button.restoreFromBackup' | translate }}</button>
          <button mat-icon-button [matTooltip]="'button.reloadThePage' | translate" (click)="reloadPage('cdk-collections')" [disabled]="state === 'loading'"><mat-icon>refresh</mat-icon></button>
        </div>
        <div>
          <mat-slide-toggle class="app-standalone-toggle" color="primary" (change)="onStandaloneChange()" [(ngModel)]="standaloneOnly">{{ 'button.showStandaloneOnly' | translate }}</mat-slide-toggle>
        </div>
      </div>
      <div>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
          <a mat-tab-link (click)="changeView('cdk')" [active]="view == 'cdk'"><mat-icon class="material-icons-outlined">{{ 'sites.collections.cdk.icon' | translate  }}</mat-icon>{{ 'sites.collections.cdk.title' | translate }}</a>
          <a mat-tab-link (click)="changeView('diglib')" [active]="view == 'diglib'"><mat-icon class="material-icons-outlined">{{ 'sites.collections.dgLib.icon' | translate  }}</mat-icon>{{ 'sites.collections.dgLib.title' | translate }}</a>
       </nav>
       <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      </div>
    </div>
    <div fxFlex class="app-container-fluid app-oh">
      <div class="app-table-wrapper app-maxh-100 app-view-border app-oa-y" *ngIf="!errorState">
        <app-cdk-collections-cdk *ngIf="view == 'cdk'" [standaloneOnly]="standaloneOnly"></app-cdk-collections-cdk>
        <app-cdk-collections-diglib *ngIf="view == 'diglib'" [standaloneOnly]="standaloneOnly"></app-cdk-collections-diglib>
      </div>
      <mat-card *ngIf="errorState" class="app-view-alert app-warn">
        <mat-card-content>
          <mat-icon>error</mat-icon>{{ errorMessage }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>