@import './theme.scss';
@import './src/variables.scss';


html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: $main-bg;
}


.app-card {
    -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    background: #fff;
    padding: 16px;
    .app-card-title {
      color: #61718c;
      font-size: 18px;
      margin-bottom: 16px;
    }
    .app-card-content {
      .warn-message {
        color: #aa6666;
        margin: 5px 0 10px 0;
  
      }
      mat-form-field {
        width: 100%;
      }
      mat-checkbox {
        display: block;
      }
    }
    .app-card-actions {
      mat-spinner {
        float: right;
        margin-top: 5px;
      } 
    }
}


.app-table {
  margin: 0;
  background: $table-color-bg;
  padding: 0;
  // -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  // box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  .app-row {
    border-bottom-color: rgba(0,0,0,.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 24px;
    display: flex;
    height: 48px;
    line-height: 48px;
    color: $table-color-fg;
    text-decoration: none;
    overflow: hidden;
    font-size: 14px;
    &:hover {
      background: $table-color-bg-hover;
    }
    &.app-header {
      // color: rgba(0,0,0,.63);
      font-size: 12px;
      height: 54px;
      line-height: 54px;
      &:hover {
        background: $table-color-bg;
      }
      &.app-header-sortable {
        .mat-icon.material-icons {
          font-size: 15px;
          height: 15px;
          width: 15px;
        }
        div {
          cursor: pointer;
        }
      }
    }
    &.active {
      background: $table-color-bg-active;
      &:hover {
        background: $table-color-bg-hover;
      }
    }
  }
}




.breadcrumb-nav {
  background: $breadcrumb-color;
  height: 50px;
  padding-left: 20px;
  -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  .app-nav {
    color: #eeeeee;
    .mat-icon {
      margin: 13px;
      opacity: 0.5;
      display: block;
      float: left;
    }
    span {
      line-height: 50px;
      display: block;
      float: left;
    }
    a {
      line-height: 50px;
      display: block;
      float: left;
      text-decoration: none;
      opacity: 0.75;
      color: #fff;
      &:hover {
        opacity: 1;
      }
    }
  }
  .app-actions {
    padding-top: 5px;
    padding-right: 10px;
    float: right;
    color: #eeeeee;
  }
}



.mat-dialog-actions {
  margin-bottom: -16px !important;
}


.center-spinner {
  position: absolute !important;
  top: 50%;
  left: calc(50% - 30px);
}









.app-toggle-buttons {
  overflow: hidden;
  display: inline-block;
  .app-toggle-button {
    cursor: pointer;
    color: #777;
    float: left;
    font-size: 13px;
    line-height: 20px;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-left: none;
    user-select: none;
    span {
      line-height: 18px;
    }
    &:hover {
      color: #333;
      background: #f0f0f0;
    }
    &.app-selected {
      color: #fff;
      background: $app-action-color;
      border-color: $app-action-color !important;
      margin-left: -1px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &:first-child {
      margin-left: 0;
      border-left: 1px solid #ccc;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}

.app-button {
  cursor: pointer;
  color: #fff;
  float: left;
  font-size: 13px;
  line-height: 20px;
  background-color: $app-action-color;
  padding: 5px 10px;
  user-select: none;
  border-radius: 4px;
  &:hover {
    background-color: $app-action-highlight-color;
  }
  &.app-button-warn {
    color: #fff;
    background-color: $app-action-warn;
    &:hover {
      background-color: $app-action-warn-highlight;
    }
  }
  &.app-button-light {
    background: transparent;
    color: #555;
    &:hover {
      background: #eee;
    }
  }
  &.app-disabled {
    background: #ddd;
    color: #555;
    &:hover {
      background: #ddd;
      color: #555;
    }
  }


}



.mat-dialog-content {
  .app-dialog-title {
    color: #333;
    font-size: 16px;
  }
  .app-dialog-content {
    padding-top: 20px;
    .app-property {
      margin-bottom: 10px;
      .app-label {
        font-size: 12px;
        color: #888;
      }
      .app-value {
        cursor: pointer;
        margin-top: 4px;
        font-size: 15px;
        color: #333;
        line-height: 30px;
        height: 30px;
        width: 400px;
        padding: 0 10px;
        /* width: 126px; */
        background: #eee;
        border: 1px solid #bdbdbd;
        border-radius: 4px;
        input {
          outline: none;
          background: transparent;
          border: none;
          color: #000;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .app-dialog-actions {
    margin-top: 25px;
    margin-left: -5px;
    margin-right: -5px;;
    .app-button {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
