$app-selection-color: #c3c8ca;
$app-action-color: #37474f;
$app-action-transparent: #37474f33;
$app-action-transparent2: #37474f55;
$app-action-highlight-color: #556369;

$app-action-warn: #bf4848;
$app-action-warn-highlight: #d94444;
