<div class="app-root">

    <h2>Indexace</h2>

    <h3>Objekt podle PID</h3>
    <div>
        <!-- spusteni indexačního u pro vybraný objekt -->
        <mat-form-field class="app-schedule-indexation-process-type">
            <mat-select placeholder="Typ indexace" [(value)]="selectedIndexationProcessType" [disabled]="loading">
                <mat-option *ngFor="let type of indexationProcessTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="app-schedule-indexation-process-pid">
            <input matInput [(ngModel)]="pidForIndexation" placeholder="PID" [disabled]="loading">
        </mat-form-field>

        <button class="app-schedule-indexation-process-btn" mat-raised-button (click)="scheduleIndexationByPid()"
            [disabled]="!pidForIndexation || loading" color="primary">
            <mat-icon>play_arrow</mat-icon>Indexovat
        </button>
    </div>

    <h3>Podle modelu</h3>
    <div>
        <!-- spusteni indexačního procesu pro model -->
        <mat-form-field class="app-schedule-indexation-process-type">
            <mat-select placeholder="Model" [(value)]="selectedModel" (selectionChange)="onSelectModel($event)"
                [disabled]="loading">
                <mat-option *ngFor="let model of models; let i = index" [value]="model">{{modelNames[i]}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- TODO: namisto legacy pouzit defaultni typ, ale nastylovat-->
        <!-- appearance="legacy"  -->
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="stateFilter"
            [disabled]="loading">
            <mat-button-toggle value="all" (change)="onChangeStateFilter($event.value)">vše</mat-button-toggle>
            <mat-button-toggle value="indexed" (change)="onChangeStateFilter($event.value)">indexované
            </mat-button-toggle>
            <mat-button-toggle value="not_indexed" (change)="onChangeStateFilter($event.value)">neindexované
            </mat-button-toggle>
        </mat-button-toggle-group>

        <button class="app-schedule-indexation-process-btn" mat-raised-button
            (click)="scheduleIndexationsOfCurrentItems()" color="primary" [disabled]="loading || !selectedModel">
            <mat-icon>play_arrow</mat-icon>
            Indexovat hromadně
        </button>
    </div>

    <div class="app-object-table" *ngIf="getCurrentItems()">
        <div class="app-table">
            <div class="app-row app-header">
                <div class="object-pid">PID</div>
                <div class="object-name">Název</div>
                <div class="object-in-index-cont">V indexu</div>
                <div class="object-actions"></div>
            </div>
        </div>
        <div class="scrollable app-table">
            <ng-container *ngFor="let object of getCurrentItems()">
                <!-- TODO: url z konfigurace -->
                <a class="app-row" href="{{buildDigitalLibraryUrl(object.pid)}}" target="_blank">
                    <div class="object-pid">{{ object.pid }}</div>
                    <div class="object-name" matTooltip="{{ object.title}}">{{ object.title |appShorten:100}}</div>

                    <div class="object-in-index-cont">
                        <mat-icon *ngIf="object.indexed" class="object-in-index">done</mat-icon>
                        <!-- <mat-icon *ngIf="!object.indexed" class="object-in-index">error_outline</mat-icon> -->
                        <mat-icon *ngIf="!object.indexed" class="object-in-index">warning</mat-icon>
                    </div>

                    <div class="object-actions">
                        <button class="object-action"
                            (click)="scheduleFullIndexation(object); $event.preventDefault(); $event.stopPropagation()"
                            mat-icon-button matTooltip="Indexovat objekt" matTooltipPosition="below">
                            <!-- <mat-icon>schedule</mat-icon> -->
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                    </div>
                </a>
            </ng-container>
        </div>

        <!-- TODO: pagination -->
        <!-- <div class="paginator-wrapper">
            <mat-paginator [length]="resultCount" hidePageSize="true" [pageIndex]="pageIndex" [pageSize]="pageSize"
                (page)="onPageChanged($event)">
            </mat-paginator>
        </div> -->
    </div>

    <mat-progress-bar mode="buffer" *ngIf="loading"></mat-progress-bar>

    <!-- TODO: style or replace with neverending page -->
    <button class="app-load-more-items-btn" mat-raised-button (click)="loadNextBatchOfItems()" color="primary"
        [disabled]="loading || !selectedModel">
        Načíst další
    </button>

    <button class="app-schedule-indexation-process-btn" mat-raised-button (click)="scheduleIndexationsOfCurrentItems()"
        color="primary" [disabled]="loading || !selectedModel">
        <mat-icon>play_arrow</mat-icon>
        Indexovat hromadně
    </button>

</div>