.app-root {
    padding: 16px;
}

.app-schedule-indexation-process-type {
    margin-right: 16px;
    width: 100px;
}
.app-schedule-indexation-process-pid {
    margin-right: 16px;
    width: 350px;
}

.app-schedule-indexation-process-btn {
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 16px;
}

.app-object-table {
    height: calc(100% - 60px);
    .scrollable {
        max-height: calc(100% - 106px);
        overflow: auto;
    }
    .object-pid {
        width: 340px;
    }
    .object-name {
        flex: 1;
        padding-right: 10px;
        word-break: break-all;
    }
    .object-indexer-version-cont {
        width: 50px;
        position: relative;
        .object-indexer-version {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
        }
    }

    .object-actions {
        width: 40px;
        .object-action {
            color: #999;
            &:hover {
                color: #333;
            }
        }
    }
}

.app-load-more-items-btn {
    margin-top: 8px;
    margin-right: 0px;
}
