<div class="app-root">

    <h2>Indexace</h2>

    <!-- podle pidu -->
    <div>
        <h3 class="app-section-header">Objekt</h3>
        <div class="app-section-desc">
            Indexace objektu, nebo stromu, jehož je objekt kořenem.
        </div>
        <button mat-button class="app-schedule-indexation-by-pid-btn " mat-stroked-button color="primary"
            (click)="openIndexationByPidDialog()">
            <mat-icon>play_arrow</mat-icon>
            Indexovat
        </button>
    </div>

    <br>

    <!-- podle modelu -->
    <h3 class="app-section-header">Model</h3>
    <div class="app-section-desc">
        Indexace objektů (a jejich stromů), které mají vybraný model.
    </div>
    <div>
        <!-- spusteni indexačního procesu pro model -->
        <mat-form-field class="app-schedule-indexation-process-type" style="width:150px;">
            <mat-select placeholder="Model" [(value)]="selectedModel" (selectionChange)="onSelectModel($event)"
                [disabled]="loading">
                <mat-option *ngFor="let model of models; let i = index" [value]="model">{{modelNames[i]}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button class="app-schedule-model-indexation-process-btn" mat-stroked-button
            (click)="scheduleIndexationsOfModel()" color="primary" [disabled]="loading || !selectedModel">
            <mat-icon>play_arrow</mat-icon>
            Indexovat model
        </button>
    </div>

    <div style="margin-left: -25px; margin-bottom: 4px;">
        <mat-button-toggle-group aria-label="Font Style" [(ngModel)]="stateFilter" [disabled]="loading"
            style="margin-left: 24px;">
            <mat-button-toggle value="all" (change)="onChangeStateFilter($event.value)">vše</mat-button-toggle>
            <mat-button-toggle value="not_indexed" (change)="onChangeStateFilter($event.value)"
                matTooltip="Doposud nebylo indexováno" matTooltipPosition="above">
                neindexováno
            </mat-button-toggle>
            <mat-button-toggle value="in_progress" (change)="onChangeStateFilter($event.value)"
                matTooltip="Probíhá kompletní indexace, nebo kompletní indexace nebyla řádně dokončena"
                matTooltipPosition="above">probíhá/chyba
            </mat-button-toggle>
            <mat-button-toggle value="indexed_current" (change)="onChangeStateFilter($event.value)"
                matTooltip="Indexováno aktuální verzí Indexeru" matTooltipPosition="above">indexováno
            </mat-button-toggle>
            <mat-button-toggle value="indexed_old" (change)="onChangeStateFilter($event.value)"
                matTooltip="Indexováno některou starší verzí indexeru" matTooltipPosition="above">indexováno (zastaralé)
            </mat-button-toggle>
        </mat-button-toggle-group>

        <button class="app-schedule-indexation-processes-btn" style="float: right; margin-right: 0px; margin-top: 0px;"
            mat-raised-button (click)="scheduleIndexationsOfCurrentItems()"
            [disabled]="loading || !selectedModel || noCurrentItems()">
            <mat-icon>play_arrow</mat-icon>
            Indexovat hromadně
        </button>
    </div>

    <div class="app-object-table" *ngIf="getCurrentItems()">
        <div class="app-table">
            <div class="app-row app-header">
                <div class="object-pid">PID</div>
                <div class="object-name">Název</div>
                <div class="object-indexer-version-cont" matTooltip="Verze indexeru, kterou byl dokument indexován"
                    matTooltipPosition="above">Verze</div>
                <div class="object-actions"></div>
            </div>
        </div>
        <div class="scrollable app-table">
            <ng-container *ngFor="let object of getCurrentItems()">
                <!-- TODO: url z konfigurace -->
                <a class="app-row" href="{{buildDigitalLibraryUrl(object.pid)}}" target="_blank">
                    <div class="object-pid">{{ object.pid }}</div>
                    <div class="object-name" matTooltip="{{ object.title}}">{{ object.title |appShorten:100}}</div>
                    <div class="object-indexer-version-cont">
                        <div *ngIf="object.indexerVersion!=undefined" class="object-indexer-version">
                            {{object.indexerVersion}}
                        </div>
                        <div *ngIf="object.indexerVersion==undefined" class="object-indexer-version">
                            n/a
                        </div>
                    </div>

                    <div class="object-actions">
                        <button class="object-action"
                            (click)="scheduleFullIndexation(object); $event.preventDefault(); $event.stopPropagation()"
                            mat-icon-button matTooltip="Indexovat od objektu" matTooltipPosition="below">
                            <!-- <mat-icon>schedule</mat-icon> -->
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                    </div>
                </a>
            </ng-container>
        </div>

    </div>

    <mat-progress-bar mode="buffer" *ngIf="loading"></mat-progress-bar>

    <div *ngIf="repoNextOffset"  class="app-items-count">Zpracováno {{repoNextOffset}} objektů</div>
    <div *ngIf="scheduledIndexationsCounter"  class="app-items-count">Naplánováno {{scheduledIndexationsCounter}}
        indexací</div>

    <button class="app-load-more-items-btn" mat-raised-button (click)="loadNextBatchOfItems()"
        [disabled]="loading || !selectedModel || !stateFilter">
        Načíst další
    </button>

    <button class="app-schedule-indexation-processes-btn" mat-raised-button
        (click)="scheduleIndexationsOfCurrentItems()"
        [disabled]="loading || !selectedModel || !stateFilter || noCurrentItems()">
        <mat-icon>play_arrow</mat-icon>
        Indexovat hromadně
    </button>

</div>