// --- MATERIAL OVERRIDE UPGRADE ---


@use '@angular/material' as mat;

// alerts
$alerts: (
  warn: var(--app-color-warn-rgb),
  info: var(--app-color-info-rgb),
  success: var(--app-color-success-rgb),
);

// dashboard
$dashboard: (
  object: #78909C,
  object-actions: #78909C,
  object-accessibility: #78909C,
  object-in-collections: #78909C,
  object-others: #78909C,
  import-foxml: #78909C,
  import-ndk: #78909C,
  access-actions: #EF5350,
  access-roles: #EF5350,
  access-licenses: #EF5350,
  access-params: #EF5350,
  processes: #26A69A,
  processes-standard-output: #26A69A,
  processes-error-output: #26A69A,
  collections: #8D6E63,
  collections-detail: #8D6E63,
  collections-edit: #8D6E63,
  collections-content: #8D6E63,
  collections-context: #8D6E63,
  indexing-object: #66BB6A,
  indexing-model: #FF6D00,
  repository-repository-management: #AA00FF,
  repository-bulk-data-editing: #00B8D4,
  repository-statistics: #AFB42B,
  statistics-graphs: #FF6D00,
  statistics-most-viewed-documents: #FF6D00
);

// states
$states: (
  count: var(--app-color-primary),
  planned: #7b7b7b,
  running: #456aa5,
  finished: #45a55a,
  closed: #45a55a,
  failed: var(--app-color-warn),
  killed: #ca7023,
  not-running: #ca7023,
  warning: #ab493f,
  too-big: #ab443f,
  waiting_for_approve: #a44c04,
  canceled: #a2a2a0,
  session: var(--app-color-lightnes),
  keyword: var(--app-color-darknes),
  default: var(--app-color-gray-6),
  is-reharvest-from-core: #faf7e3,
  is-reharvest-from-admin: #f0ffee,
  duration-low: #faf7e4,
  duration-high: #faeee3,
  duration-critical: #fae3e3,
  maintenance: var(--app-color-success),
  distributedLocksException: var(--app-color-warn),
  noReason: var(--app-color-darknes)
);

// icon size
$iconSize: (
  "14": 14,
  "15": 15,
  "16": 16,
  "17": 17,
  "18": 18,
  "19": 19,
  "20": 20,
  "21": 21,
  "22": 22,
  "23": 23,
);

// set checkbox density
@mixin setCheckBoxDensity($val: null) {
  @if ($val != null) {
    .mat-mdc-checkbox {    
      .mdc-checkbox__background {
        width: calc(18px - #{$val}px);
        height: calc(18px - #{$val}px);
        top: calc((var(--mat-checkbox-state-layer-size, 40px) - calc(18px - #{$val}px)) / 2);
        left: calc((var(--mat-checkbox-state-layer-size, 40px) - calc(18px - #{$val}px)) / 2);
      }
    }
  }  
}

// set icon size
@mixin setIcon($size: null, $color: null, $position: null) {
  @if ($size != null) {
    font-size: #{$size}px;
    height: #{$size}px;
    width: #{$size}px;  
  }
  @if ($color != null) {
    color: $color !important;
  }
  @if ($position != null) {
    vertical-align: $position !important;  
  }  
}

// set alert card
@mixin setAlertCard() {
  @each $alert, $color in $alerts {
    &.app-#{$alert} {
      color: rgb($color);
      border-color: rgba($color, .2);
      background-color: rgba($color, .1) !important;

      .mat-icon {
        color: rgb($color);
      }
    }
  }
}

// set dashboard color
@mixin setDashboardColor() {
  @each $type, $color in $dashboard {
    &.app-#{$type} {
      background-color: $color !important;
    }
  }
}


// set badge color
@mixin setStateColor() {
  @each $state, $color in $states {
    &.app-#{$state} {
      background-color: $color !important;
    }
  }
}


// set icon size
@mixin setIconSize() {
  @each $size, $val in $iconSize {
    &.app-#{$size} {
      font-size: #{$val}px;
      width: #{$val}px;
      height: #{$val}px;
    }
  }
}


// icon
.mat-icon {
  @include setIconSize();
}


:root {
  // form field
  @include mat.form-field-overrides((
    container-height: var(--app-default-height),
    container-vertical-padding: 6px,
    container-text-size: var(--app-default-font-size),
    container-text-weight: 500,
    container-text-tracking: 0,

    outlined-outline-color: var(--app-default-border-color),
    outlined-label-text-size: var(--app-default-font-size),
    outlined-label-text-populated-size: var(--app-default-font-size),

    hover-state-layer-opacity: 0,
    focus-state-layer-opacity: 0
  ));
  .mat-mdc-form-field {
    background-color: var(--app-color-lightnes);
    .mat-mdc-form-field-subscript-wrapper {
      height: 0;
    }
    .mat-mdc-form-field-icon-suffix {
      display: flex;
      padding-right: 4px;
      @include mat.icon-button-density(-6);

      .mat-mdc-icon-button {
        --mat-icon-button-icon-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;

        .mat-icon {
          @include setIcon(18);
        }
      }
    }
    .mat-mdc-form-field-bottom-align {
      &::before {
        height: 0;
      }
    }
    &.app-datepicker {
      $app-width: 155px;
      flex: 1 1 $app-width;
      max-width: $app-width;
      min-width: $app-width;
    }
    &.app-download {
      .mat-mdc-form-field-icon-suffix {
        position: absolute;
        top: 10px;
        right: 0;
      }
    }
  }


  // select
  @include mat.select-overrides((
    panel-background-color: var(--app-color-lightnes),
    trigger-text-size: var(--app-default-font-size),
    trigger-text-weight: 400,
    trigger-text-tracking: 0
  ));
  --mat-option-label-text-tracking: 0;
  --mat-option-label-text-size: 14px;
  .mat-mdc-select-panel {
    .mat-mdc-option {
      min-height: var(--app-default-height) !important;
      line-height: var(--app-default-height) !important;

      &.app-add {
        font-weight: 800;
        color: var(--app-color-primary);
      }

      .mat-icon {
        margin-right: 8px;
      }

      .mdc-list-item__primary-text {
        white-space: nowrap !important;
        display: inline-block;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      } 
    }
    &.app-licenses {
      .mat-mdc-option {
        padding-top: 8px;
        padding-bottom: 8px;
        height: auto;
        line-height: normal !important;

        .app-license-desc {
          font-weight: 500;
        }

        &:not(:last-child) {
          border-bottom: 1px solid var(--app-default-border-color);
        }

        &:not(.mat-mdc-option-active) {
          .app-license-desc {
            color: var(--app-color-gray-7);
          }
        }
      }
    }
  }
  

  // datepicker
  @include mat.datepicker-overrides((
    calendar-body-label-text-color: var(--app-color-primary),
    calendar-container-background-color: var(--app-color-lightnes),
  ));


  // checkbox
  @include setCheckBoxDensity(4);
  @include mat.checkbox-overrides((
    state-layer-size: var(--app-default-height)
  ));


  // radio button
  @include mat.radio-overrides((
    // no properties works in angular v21
  ));
  .mat-mdc-radio-group {
    .mat-mdc-radio-button {
      --mat-radio-state-layer-size: calc(var(--app-radio-button-size) * 2);
      margin-right: 8px;

      .mdc-radio__background::before {
        top: calc(-1 * (var(--mat-radio-state-layer-size, 40px) - var(--app-radio-button-size)) / 2) !important;
        left: calc(-1 * (var(--mat-radio-state-layer-size, 40px) - var(--app-radio-button-size)) / 2) !important;
      }
    
      .mdc-radio {
        display: flex !important;
        align-items: center;
        justify-content: center;
    
        .mat-mdc-radio-touch-target {
          height: 34px;
          width: 34px;
        }
    
        .mdc-radio__background {
          height: var(--app-radio-button-size);
          width: var(--app-radio-button-size);
    
          .mdc-radio__inner-circle {
            border-width: calc(var(--app-radio-button-size) / 2);
          }
        }
      }
    }
    &.app-label-more-lines  {
      align-self: start !important;
      .mat-mdc-radio-button {
        .mdc-radio { 
          align-items: start;
          align-self: start;
        }
      }
    }
  }


  // button
  @include mat.button-overrides((
    filled-container-height: var(--app-default-height),
    filled-container-shape: var(--app-default-border-radius),
    filled-horizontal-padding: 16px,
    outlined-container-height: var(--app-default-height),
    outlined-container-shape: var(--app-default-border-radius),
    outlined-outline-color: var(--app-default-border-color),
    text-container-shape: var(--app-default-border-radius)
  ));
  .mat-toolbar {
    @include mat.button-overrides((
      text-container-shape: initial
    ));
  }
  .mdc-button--unelevated {
    &.mat-primary {
      &:not(.mat-mdc-button-disabled) {
        background-color: var(--app-color-primary)
      }
    }
    &.mat-accent {
      &:not(.mat-mdc-button-disabled) {
        background-color: var(--app-color-secondary)
      } 
    }
    &.mat-warn {
      &:not(.mat-mdc-button-disabled) {
        background-color: var(--app-color-warn)
      }
    }
  }


   // button icon
  @include mat.icon-button-overrides((
    state-layer-size: var(--app-default-height)
  ));


  // button toggle
  @include mat.button-toggle-overrides((
    shape: var(--app-default-border-radius),
    height: var(--app-default-height),
    divider-color: var(--app-default-border-color),
    selected-state-background-color: var(--app-color-gray-2)
  ));


  // toolbar
  @include mat.toolbar-overrides((
    container-background-color: var(--app-color-primary)
  ));


  // card
  @include mat.card-overrides((
    outlined-container-color: var(--app-color-lightnes),
    outlined-container-shape: 0px,
    outlined-outline-color: var(--app-default-border-color),
    title-text-size: 16px,
    title-text-tracking: 0,
    title-text-weight: 500,
    subtitle-text-size: 14px,
    subtitle-text-tracking: 0,
    subtitle-text-weight: normal,
    subtitle-text-color: var(--app-color-gray-6),
    subtitle-text-line-height: 14px
  ));
  // CARD
  .mat-mdc-card {
    .mat-mdc-card-header {
      .mat-mdc-card-title {
        .mat-icon {
          @include setIcon(20, $position: text-bottom);
        }
      }
    }
    .mat-mdc-card-actions {
      padding: 16px;
    }
    &.app-hover{
      &:hover {
        background-color: var(--app-color-gray-1);
      }
    }
    &.app-view-title-flex {
      .mat-mdc-card-header {
        .mat-mdc-card-header-text {
          width: 100%;
        }
      }
    }
    &.app-view-alert {
      @include setAlertCard();
      .mat-mdc-card-content {
        display: flex;
        align-items: center;
        justify-content: center;
        .mat-icon {
          margin-right: 8px;
        }
      }
    }
    &.app-view-header {
      padding: 16px;
      max-height: 53px;
    }
    &.app-view-item {
      padding: 16px;
      .mat-mdc-card-header {
        padding: 0;
      }
      &:not(:first-child),
      &.app-with-header {
        border-top: 0;
      }
      &:hover {
        background-color: var(--app-color-gray-1);
      }
     img {
        max-width: 60px;
      }
      &.cdk-drag {
        &:not(.cdk-drag-disabled) {
          cursor: move;
        }
        &.cdk-drag-preview {
          box-sizing: border-box;
          border-radius: 4px;
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                      0 8px 10px 1px rgba(0, 0, 0, 0.14),
                      0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
        }
        &.cdk-drag-placeholder {
          opacity: 0;
        }
        &.cdk-drag-animating {
          transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
        .cdk-drop-list-dragging & {
          &:not(.cdk-drag-placeholder) {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
          }
        }
      }
      .app-right {
        &.app-actions {
          a {
            margin-left: 16px;
            color: var(--app-color-primary);

            .mat-icon {
              @include setIcon(20);
            }
          }
        }
      }
    }
    &.app-view-dev {
      position: relative;
      background-color: rgba(#707882, .1) !important;
      border: 1px solid rgba(#707882, .4);
      .app-marker {
        position: absolute;
        top: -17px;
        right: -1px;
        background-color: var(--app-color-dev);
        color: var(--app-color-lightnes);
        font-size: 12px;
        padding: 1px 4px;
      }
      .mat-mdc-unelevated-button {
        background-color: var(--app-color-dev) !important;
      }
    }
    .app-mark-rounded {
      @include setDashboardColor();
    }
  }


  // paginator
  @include mat.paginator-overrides((
    container-background-color: var(--app-color-lightnes)
  ));


  // menu
  @include mat.menu-overrides((
    container-color: var(--app-color-lightnes),
    container-shape: var(--app-default-border-radius),
    item-label-text-tracking: 0,
    item-label-text-weight: 400
  ));
  .mat-mdc-menu-item {
    min-height: var(--app-default-height) !important;
  }


  // expansion panel
  @include mat.expansion-overrides((
    container-background-color: var(--app-color-lightnes),
    container-elevation-shadow: none,
    container-shape: 0,
    container-text-tracking: 0,
    header-text-tracking: 0
  ));
  .mat-accordion {
    &.app-view-default {
      .mat-expansion-panel {
        margin: 0 !important;
        border: 1px solid var(--app-default-border-color);
        
        &:not(:first-child) {
          border-top: 0;
        }

        &.mat-expanded {
          background-color: var(--app-color-gray-0)
        }
        .mat-expansion-panel-header {
          padding-left: 16px;
          padding-right: 16px;

          .mat-content {
            .mat-expansion-panel-header-description {
              font-weight: 400;
              font-size: 15px;
              color: var(--app-color-gray-6);
            }
          }
          .app-actions {
            margin-right: 16px;

            a {
              margin-left: 16px;
              color: var(--app-color-primary);
    
              .mat-icon {
                @include setIcon(20);
              }
            }
          } 
        }
        .mat-expansion-panel-content {
          .mat-expansion-panel-body {
            padding-left: 16px;
            padding-right: 16px;
          }

          .mat-action-row {
            border: 0 !important;
            padding: 16px;
            padding-top: 0 !important;
          }
        }
      }
    }
    &.app-view-actions {
      @include mat.expansion-overrides((
        header-collapsed-state-height: 58px, 
        header-expanded-state-height: 58px
      ));
      .mat-expansion-panel {
        .mat-expansion-panel-header {
          .mat-content {
            flex-direction: column;
          }
        }
      }
    }
  }

  
  // tabs
  @include mat.tabs-overrides((
    label-text-size: 16px,
    label-text-tracking: 0,
    label-text-weight: normal,
    divider-height: 0
  ));
  .mat-mdc-tab-nav-bar {
    .mat-mdc-tab-links {
      .mat-mdc-tab-link {
        &:hover {
          text-decoration: none;
        }
        &.mdc-tab--active {
          font-weight: 900;
        }
        &:not(.mdc-tab--active) {
          .mat-badge-content,
          .app-badge {
            background-color: var(--app-color-gray-5);
          }
        }
        .mat-icon {
          margin-right: 8px;
          @include setIcon(20);
        }
        .mat-badge {
          .mat-icon {
            @include setIcon($position: sub);
          }
          .mat-badge-content {
            right: -6px;
          }
          .app-push-right {
            margin-right: 24px;
          }
        }
      }
    }
  }


  // chips
  @include mat.chips-overrides((
 
  ));
  .mat-mdc-chip-listbox {
    .mat-mdc-chip {
      @include setStateColor();
      &.mat-mdc-standard-chip {
        background-color: var(--app-badge-default-color);
        .mat-mdc-chip-action-label {
          color: var(--app-color-lightnes);
        }
        .mat-mdc-chip-remove {
          color: var(--app-color-lightnes);
        }
      }
      &.app-pid {
        background-color: var(--app-color-primary);
        .app-text-cutter {
          max-width: 200px;
        }
      }
    }   
  }


  // dialog
  @include mat.dialog-overrides((
    container-color: var(--app-color-lightnes),
    container-shape: var(--app-default-border-radius),
    container-max-width: 800px
  ));


  // slide toggle
  @include mat.slide-toggle-overrides((
    track-height: 10px,
    with-icon-handle-size: var( --app-slide-toggle-handle-size),
    pressed-handle-size: var( --app-slide-toggle-handle-size),
    track-outline-width: 0,
    track-width: 44px,
    handle-width: 44px,
    state-layer-size: 32px,
    label-text-tracking: 0,
    selected-handle-color: var(--app-color-primary),
    selected-icon-color: var(--app-color-lightnes),
    selected-focus-handle-color: var(--app-color-primary),
    selected-hover-handle-color: var(--app-color-primary),
    selected-pressed-handle-color: var(--app-color-primary),
    selected-track-color: var(--app-slide-toggle-selected-track-color),
    selected-focus-track-color: var(--app-slide-toggle-selected-track-color),
    selected-hover-track-color: var(--app-slide-toggle-selected-track-color)
  ));
  .mat-mdc-slide-toggle {
    .mdc-switch {
      margin-right: 4px;
    }
  }


  // table
  @include mat.table-overrides((
    background-color: var(--app-color-lightnes),
    header-headline-color: var(--app-color-gray-7),
    row-item-outline-color: var(--app-default-border-color),
    row-item-container-height: var(--app-table-row-item-container-height)
  ));
}




// table
.mat-mdc-table {
  .mat-mdc-row {
    @include setStateColor();
  }

  .app-col-checkbox {
    width: 40px;
    text-align: center;
  }

  thead {
    .mat-mdc-header-row {
      .mat-mdc-header-cell {
        padding: 0;

        &:first-of-type {
          &:not(.app-col-icon, .app-col-checkbox) {
            padding-left: 16px;
          }
        }

        &:last-of-type {
          &:not(.app-col-icon, .app-col-checkbox) {
            padding-right: 16px;
          }
        }
      }
    }
  }

  tbody {
    .mat-mdc-row {
      &:hover {
        background: var(--app-color-gray-2);
      }
  
      &.active {    
        &:hover {
          background: var(--app-color-gray-2);
        }
      }

      &:last-child {
        .mat-mdc-cell {
          border-bottom: none;
        }
      }

      &.app-not-allowed {
        color: var(--app-color-disabled) !important; 
  
        .mat-mdc-cell, a, .mat-icon {
          color: var(--app-color-disabled) !important; 
        }

        .app-badge {
          background-color: var(--app-color-disabled) !important;
        }
      }

      .mat-mdc-cell {
        padding: 0;
        
        &:first-of-type {
          &:not(.app-col-icon, .app-col-checkbox) {
            padding-left: 16px;
          }
        }

        &:last-of-type {
          &:not(.app-col-icon, .app-col-checkbox) {
            padding-right: 16px;
          }
        }

        &.app-col-icon {
          width: 40px;
          text-align: center;

          /* @include mat.icon-button-density(-4);

          .mdc-icon-button {     
            .mat-icon {
              @include setIcon(20);
            }
          } */
        }

        //--todo @include mat.icon-button-density(-4);

        .mdc-icon-button {     
          .mat-icon {
            @include setIcon(20);
          }
        }

        &.mat-column-state {      
          .app-badge {
            min-width: 110px;
          }
        }

        .app-text-cutter-wrapper {
          position: relative;
          display: flex;
        }
  
        .app-text-cutter {
          padding-right: 16px;
          position: absolute;
          max-width: 100%;
          align-self: center;
        }
        .mat-form-field {
          &.mat-form-field-appearance-fill {
            &.mat-form-field-type-mat-select {
              .mat-form-field-wrapper {
                padding-bottom: 0 !important;
  
                .mat-form-field-flex,
                .mat-form-field-infix {
                  padding-top: 0 !important;
                }

                .mat-select-arrow-wrapper {
                  display: flex;
                  vertical-align: bottom;
                }

                .mat-form-field-underline {
                  bottom: 0;
                }
              }
            }
          }
        }
        .mat-mdc-icon-button {
          --mdc-icon-button-state-layer-size: var(--mat-table-row-item-container-height);
          padding: 0;

          .mat-icon {
            @include setIcon($position: text-top);
          }
        }
      } 
    }
  }
}
