// --- VARIABLES ---

:root {
  // colors
  --app-color-primary: var(--mat-sys-primary);
  --app-color-secondary: var(--mat-sys-secondary);
  --app-color-tertiary: var(--mat-sys-tertiary);
  --app-color-accent: var(--mat-sys-secondary);

  --app-color-lightnes: #ffffff;
  --app-color-lightnes-rgb: 255, 255, 255;
  --app-color-darknes: #000000;
  --app-color-darknes-rgb: 0, 0, 0;

  --app-color-warn: var(--mat-sys-error);
  --app-color-warn-rgb: 229, 57,53;
  --app-color-dev: var(--mat-sys-outline);

  --app-color-info: 1, 67, 97;
  --app-color-info-rgb: 1, 67, 97;
  --app-color-success: 30, 70, 32;
  --app-color-success-rgb: 30, 70, 32;
  --app-color-disabled: var(--app-color-gray-4);

  // gray pallete
  --app-color-gray-0: #FAFAFA;
  --app-color-gray-1: #F5F5F5;
  --app-color-gray-2: #EEEEEE;
  --app-color-gray-3: #E0E0E0;
  --app-color-gray-4: #BDBDBD;
  --app-color-gray-5: #9E9E9E;
  --app-color-gray-6: #757575;
  --app-color-gray-7: #616161;
  --app-color-gray-8: #424242;
  --app-color-gray-9: #212121;

  --app-body-bg: var(--app-color-lightnes);
  --app-body-color: var(--app-color-darknes);

  --app-container: 1280px;

  --app-navbar-avatar-size: 40px;
  --app-navbar-avatar-bg-color: --app-color-tertiary;

  --app-footer-bg-color: var(--app-color-darknes);
  --app-footer-color: var(--app-color-gray-5);

  // home
  --app-home-card-gap: 32px;
  --app-home-card-width: 25%;
  --app-home-card-height: 260px;

  // global
  --app-card-view-header-height: 53px;
  --app-card-border-color: var(--mdc-outlined-card-outline-color);
  --app-card-bg-hover: var(--app-color-gray-1);

  --app-badge-size: 40px;
  --app-badge-border-radius: calc(#{var(--app-badge-size)} / 2);
  --app-badge-version-color: var(--app-color-accent);
  --app-badge-default-color: var(--app-color-gray-8);

  --app-select-option-min-height: 36px;
  --app-menu-item-min-height: var(--app-select-option-min-height);




  // new
  --app-default-border-radius: 4px;
  --app-default-height: 36px;
  --app-default-font-size: 14px;
  --app-default-border-color: var(--app-color-gray-3);

  --app-table-row-item-container-height: 48px;
}