// --- VARIABLES ---

:root {
  --app-color-primary: var(--mat-sys-primary);
  --app-color-secondary: var(--mat-sys-secondary);
  --app-color-tertiary: var(--mat-sys-tertiary);

  --app-color-lightnes: #ffffff;
  --app-color-lightnes-rgb: 255, 255, 255;
  --app-color-darknes: #000000;
  --app-color-darknes-rgb: 0, 0, 0;

  --app-color-warn: var(--mat-sys-error);
  --app-color-warn-rgb: 229, 57,53;
  --app-color-info: #ff6f00;
  --app-color-info-rgb: 255, 111, 0;
  --app-color-success: #2e7d32;
  --app-color-success-rgb: 46, 125, 50;
  --app-color-disabled: var(--app-color-gray-4);
  --app-color-dev: var(--mat-sys-outline);

  // gray pallete
  --app-color-gray-0: #FAFAFA;
  --app-color-gray-1: #F5F5F5;
  --app-color-gray-2: #EEEEEE;
  --app-color-gray-3: #E0E0E0;
  --app-color-gray-4: #BDBDBD;
  --app-color-gray-5: #9E9E9E;
  --app-color-gray-6: #757575;
  --app-color-gray-7: #616161;
  --app-color-gray-8: #424242;
  --app-color-gray-9: #212121;

  --app-default-border-radius: 4px;
  --app-default-height: 36px;
  --app-default-font-size: 14px;
  --app-default-border-color: var(--app-color-gray-3);

  --app-container: 1280px;

  --app-home-card-gap: 32px;
  --app-home-card-width: 25%;
  --app-home-card-height: 260px;

  --app-badge-size: 40px;
  --app-badge-border-radius: calc(#{var(--app-badge-size)} / 2);
  --app-badge-version-color: var(--app-color-secondary);
  --app-badge-default-color: var(--app-color-gray-8);

  --app-slide-toggle-handle-size: 16px;
  --app-slide-toggle-selected-track-color: #99cbff;
  --app-radio-button-size: 14px;
  --app-table-row-item-container-height: 48px;

  --app-footer-bg-color: var(--app-color-darknes);
  --app-footer-color: var(--app-color-gray-5);
}