// dashboard
$dashboard: (
  object: #78909C,
  object-actions: #78909C,
  object-accessibility: #78909C,
  object-in-collections: #78909C,
  object-others: #78909C,
  import-foxml: #78909C,
  import-ndk: #78909C,
  access-actions: #EF5350,
  access-roles: #EF5350,
  access-licenses: #EF5350,
  access-params: #EF5350,
  processes: #26A69A,
  processes-standard-output: #26A69A,
  processes-error-output: #26A69A,
  collections: #8D6E63,
  collections-detail: #8D6E63,
  collections-edit: #8D6E63,
  collections-content: #8D6E63,
  collections-context: #8D6E63,
  indexing-object: #66BB6A,
  indexing-model: #FF6D00,
  repository-repository-management: #AA00FF,
  repository-bulk-data-editing: #00B8D4,
  repository-statistics: #AFB42B,
  statistics-graphs: #FF6D00,
  statistics-most-viewed-documents: #FF6D00
);

@mixin setDashboardColor() {
  @each $type, $color in $dashboard {
    &.app-#{$type} {
      background-color: $color !important;
    }
  }
}



