// --- GLOBAL ---

$gaps: (
  "0": 0,
  "1": 4,
  "2": 8,
  "3": 12,
  "4": 16,
  "5": 20,
  "6": 24,
  "7": 28,
  "8": 32,
);

// STATES
$states: (
  count: var(--app-color-primary),
  planned: #7b7b7b,
  running: #456aa5,
  finished: #45a55a,
  closed: #45a55a,
  failed: var(--app-color-warn),
  killed: #ca7023,
  not-running: #ca7023,
  warning: #ab493f,
  too-big: #ab443f,
  waiting_for_approve: #a44c04,
  canceled: #a2a2a0,
  session: var(--app-color-lightnes),
  keyword: var(--app-color-darknes),
  default: var(--app-color-gray-6),
  is-reharvest-from-core: #faf7e3,
  is-reharvest-from-admin: #f0ffee,
  duration-low: #faf7e4,
  duration-high: #faeee3,
  duration-critical: #fae3e3,
  maintenance: var(--app-color-success),
  distributedLocksException: var(--app-color-warn),
  noReason: var(--app-color-darknes)
);

// set gap
@mixin setGap() {
  @each $gap, $val in $gaps {
    // margin
    .app-m-#{$gap} {
      margin: #{$val}px !important;
    }
    .app-ml-#{$gap} {
      margin-left: #{$val}px !important;
    }
    .app-mr-#{$gap} {
      margin-right: #{$val}px !important;
    }
    .app-mt-#{$gap} {
      margin-top: #{$val}px !important;
    }
    .app-mb-#{$gap} {
      margin-bottom: #{$val}px !important;
    }

    // margin negative
    .app-m-n#{$gap} {
      margin: -#{$val}px !important;
    }
    .app-ml-n#{$gap} {
      margin-left: -#{$val}px !important;
    }
    .app-mr-n#{$gap} {
      margin-right: -#{$val}px !important;
    }
    .app-mt-n#{$gap} {
      margin-top: -#{$val}px !important;
    }
    .app-mb-n#{$gap} {
      margin-bottom: -#{$val}px !important;
    }
    
    // padding
    .app-p-#{$gap} {
      padding: #{$val}px !important;
    }
    .app-pl-#{$gap} {
      padding-left: #{$val}px !important;
    }
    .app-pr-#{$gap} {
      padding-right: #{$val}px !important;
    }
    .app-pt-#{$gap} {
      padding-top: #{$val}px !important;
    }
    .app-pb-#{$gap} {
      padding-bottom: #{$val}px !important;
    }

    // padding negative
    .app-p-n#{$gap} {
      padding: -#{$val}px !important;
    }
    .app-pl-n#{$gap} {
      padding-left: -#{$val}px !important;
    }
    .app-pr-n#{$gap} {
      padding-right: -#{$val}px !important;
    }
    .app-pt-n#{$gap} {
      padding-top: -#{$val}px !important;
    }
    .app-pb-n#{$gap} {
      padding-bottom: -#{$val}px !important;
    }
  }
}

// set icon size
@mixin setIcon($size: null, $color: null, $position: null) {
  @if ($size != null) {
    font-size: #{$size}px;
    height: #{$size}px;
    width: #{$size}px;  
  }
  @if ($color != null) {
    color: $color !important;
  }
  @if ($position != null) {
    vertical-align: $position !important;  
  }  
}

// set badge color
@mixin setStateColor() {
  @each $state, $color in $states {
    &.app-#{$state} {
      background-color: $color !important;
    }
  }
}



@include setGap();

a {
  @extend .app-cursor-pointer;
  color: var(--app-color-primary);
  text-decoration: none;

  &:hover {
    color: var(--app-color-primary-700);

    &:not(.mat-toolbar &, .mat-tab-nav-bar &, .mat-flat-button) {
      text-decoration: underline;

      &.app-tdn {
        text-decoration: none;
      }
    }
  }
}

// theme colors
.app-color-primary {
  color: var(--app-color-primary);
}

.app-color-secondary {
  color: var(--app-color-secondary);
}

.app-color-tertiary {
  color: var(--app-color-tertiary);
}

.app-color-warn {
  color: var(--app-color-warn) !important;
}

.app-color-info {
  color: var(--app-color-info) !important;
}

.app-color-lightnes {
  color: var(--app-color-lightnes);
}

.app-color-success {
  color: var(--app-color-success) !important;
}

.app-color-disabled {
  color: var(--app-color-disabled) !important;
}

.app-bg-white {
  background-color: var(--app-color-lightnes) !important;
}

// cleaners
.app-clean-bg {
  background-color: transparent !important;
}

.app-clean-radius {
  border-radius: 0 !important;
}

.app-clean-border {
  border: 0 !important;
}

.app-clean-border-b {
  border-bottom: 0 !important;
}

.app-clean-border-t {
  border-top: 0 !important;
}

.app-clean-shadow {
  box-shadow: none !important;
}

.app-clean-outline {
  outline: none !important;
}

.app-dn {
  display: none;
}

.app-d-contents {
  display: contents;
}

.app-vh {
  visibility: hidden;
}


// common
.app-cursor-pointer {
  cursor: pointer;
}

.app-oh {
  overflow: hidden;
}

.app-oa-y {
  overflow-y: auto;
}

.app-oa-x {
  overflow-x: auto;
}

.app-w-100 {
  width: 100% !important;
}

.app-h-100 {
  height: 100% !important;
}

.app-maxh-100 {
  max-height: 100% !important;
}

.app-h-100vh {
  height: 100vh;
}

.app-text-left {
  text-align: left !important;
}

.app-text-right {
  text-align: right !important;
}

.app-text-center {
  text-align: center !important;
}

.app-text-lowercase {
  text-transform: lowercase;
}

.app-text-uppercase {
  text-transform: uppercase;
}

.app-va-middle {
  vertical-align: middle;
}

.app-va-top {
  vertical-align: top;
}

.app-va-bottom {
  vertical-align: bottom;
}

.app-va-text-botttom {
  vertical-align: text-bottom;
}

.app-va-sub {
  vertical-align: sub;
}

.app-rotate-up {
  .mat-icon {
    &:not(.app-no-rotate) {
      transition: all 0.4s ease;
      transform: rotateZ(180deg);
    }
  }
}

.app-rotate-down {
  .mat-icon {
    &:not(.app-no-rotate) {
      transition: all 0.4s ease;
      transform: rotateZ(0deg);
    }
  }
}

.app-rotate-180 {
  transform: rotate(180deg);
}

.app-text-cutter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-text-cutter-wrapper {
  position: relative; 
  
  .app-text-cutter {
    position: absolute;
    max-width: 100%;
  }
}

.app-text-cutter-vertical {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.app-pipe {
  @extend .app-ml-2, .app-mr-2;
  border-left: 1px solid var(--app-color-gray-4);

  /* &:last-child {
    @extend .app-dn;
  } */
}

.app-label {
  color: var(--app-color-gray-6);
  font-size: 12px;
}

.app-logo-lib {
  width:24px; 
  height:24px;
}

.app-desc {
  color: var(--app-color-gray-6);
  font-size: 14px;
  vertical-align: middle;
}

.app-explanation {
  color: var(--app-color-gray-6);
  font-size: 12px;
}

.app-representative-page {
  max-height: 100px;
}

.app-clear-filter,
.app-btn-warn {
  .mat-icon {
    @include setIcon(18, var(--app-color-warn), middle);
  }
}

.app-badge {
  @include setStateColor();
  @extend .app-pr-2, .app-pl-2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  border-radius: var(--app-badge-border-radius);
  color: var(--app-color-lightnes);
  font-size: 12px;
  font-weight: 500;
  background-color: var(--app-badge-default-color);

  &.app-version {
    background-color: var(--app-badge-version-color);
  }

  &.app-session {
    color: var(--app-color-primary);
  }

  &.app-count {
    @extend .app-pr-1, .app-pl-1, .app-ml-2;
  }

  .mat-icon {
    @include setIcon($size: 16);
  }
}

.app-input-autocomplete {
  @extend .app-clean-shadow, .app-pl-4, .app-pr-4;
  height: var(--mdc-filled-button-container-height);
  border-radius: var(--app-default-border-radius);
  border: 1px solid var(--app-default-border-color);
  min-width: 400px;
}

.app-list-inside {
  list-style-position: inside;
}

.app-not-allowed {
  color: var(--app-color-disabled) !important;
  cursor: not-allowed;

  .mat-icon {
    @include setIcon($color: var(--app-color-disabled));
  }
}

.app-avoid-click {
  pointer-events: none;
}

/* .app-avoid-click {
  pointer-events: none;
  color: #bdbdbd !important; 
  
  .mat-cell, a, .mat-icon {
    color: #bdbdbd !important; 
  }

  .app-badge {
    background-color: #bdbdbd !important;
  }
} */

.app-view-border-bottom {
  border-bottom: 1px solid var(--app-default-border-color);
}

// top bar
.app-topbar {
  @extend .app-pt-8, .app-pl-4, .app-pr-4;
  background-color: var(--app-color-gray-1);
  border-bottom: 1px solid var(--app-color-gray-3);

  .app-breadcrumbs {
    font-size: 20px;
    text-transform: lowercase;

    span {
      &.app-separator {
        @extend .app-ml-2, .app-mr-2;
        color: var(--app-color-gray-4);
      }

      &.app-last {
        font-weight: 700;
      }
    }

    .mat-icon {
      @include setIcon($color: var(--app-color-gray-4), $position: bottom);
    }
  }
}

// table wrapper
.app-table-wrapper {
  &.app-view-border {
    border: 1px solid var(--app-default-border-color);
  }

  .mat-mdc-paginator {
    bottom: 0px;
    position: sticky;
    z-index: 10;
    border-top: 1px solid var(--app-default-border-color);
  }
}


// table
table {
  // standart table
  &.app-table {
    @extend .app-w-100;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: var(--app-default-border-color);
    background-color: var(--app-color-lightnes);

    &.app-view-vt {
      tr {
        td, th {
          vertical-align: top;
        }
      }
    }

    tr {
      td, th {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: var(--app-default-border-color);
        padding: 4px 8px;
        text-align: left;
        font-size: 14px;
        line-height: normal;
      }
    }

    tbody {
      tr {
        td {
          &.app-col-action {
            width: 20px;
            text-align: center;
            color: var(--app-color-primary);

            .mat-icon {
              @include setIcon(18, $position: sub)
            }
          }

          &.app-col-icon {
            .mat-icon {
              @include setIcon(18, $position: sub)
            }
          }

          &.app-col-detail {
            .mat-icon {
              @include setIcon(22, $position: sub);
              height: 18px;
              line-height: 18px;
            }
          }

          .app-metadata {
            line-height: 20px;
            font-size: 13px;
          }

          input {
            &[type=text] {
              @extend .app-clean-bg;

              &:focus {
                @extend .app-clean-outline;
              }
            }
          }
        }

        &:hover {
          td {
            background-color: var(--app-color-gray-0);
          }
        }

        .app-input {
          width: calc(100% - 4px);
        }
      }
    }
  }
}