<mat-progress-bar mode="indeterminate" *ngIf="state=='loading'"></mat-progress-bar>

<div cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="contentView === 'object'">
	<mat-card class="app-view-rights app-view-hover" *ngFor="let item of noncollectionItems" [ngClass]="{'item-collection':item['model'] == 'collection'}" cdkDrag>
		<mat-card-header fxLayout="row" fxLayoutGap="16px">
			<div>
				<mat-checkbox (click)="$event.stopPropagation()"  (change)="$event ? itemSelection.toggle(item) : null" [checked]="itemSelection.isSelected(item)"  [matTooltip]="'desc.selectThisCollection' | translate" ></mat-checkbox>
			</div>

			<div *ngIf="getThumb(item['pid'])">
				<img [src]="getThumb(item['pid'])" onerror="this.src='assets/img/no-image.png'" />
			</div>

			<div fxFlex class="app-left">
				<mat-card-title [routerLink]="allowEdit(item['pid']) && item['model'] == 'collection' ?  ['/collections/content/', item['pid']] : null" [class.app-cursor-pointer]="allowEdit(item['pid']) && item['model'] == 'collection'"><mat-icon *ngIf="allowEdit(item['pid']) && item['model'] == 'collection'">link</mat-icon>{{ getName(item) }} <ng-container *ngIf="item['title.search'] != item['root.title']">({{item['root.title'] }})</ng-container></mat-card-title>
				<mat-card-subtitle>{{ 'desc.'+item['model'] | translate }}</mat-card-subtitle>
			</div>
			<!--
			<div class="app-right">
				<a (click)="setRepresentativePage(item['pid'])" [class.app-color-disabled]="!isRepresentativePageSelected[item['pid']]" [matTooltip]="!isRepresentativePageSelected[item['pid']] ? ('button.setThisPageAsRepresentative' | translate) : ('button.representativePage' | translate)">
					<mat-icon>image</mat-icon>
				</a>
			</div>
			-->
		</mat-card-header>
	</mat-card>
</div>	

<div *ngIf="contentView === 'cuttings'">
	<mat-card class="app-view-rights app-view-hover" *ngFor="let item of clippingItems">
		<mat-card-header fxLayout="row" fxLayoutGap="16px">
			<div>
				<mat-checkbox (click)="$event.stopPropagation()"  (change)="$event ? cuttingsSelection.toggle(item) : null" [checked]="cuttingsSelection.isSelected(item)"  [matTooltip]="'desc.selectThisCollection' | translate" ></mat-checkbox>
			</div>
			<div *ngIf="!item['thumb']">
				<img [src]="'assets/img/no-image.png'" onerror="this.src='assets/img/no-image.png'" />
			</div>
			<div *ngIf="item['thumb']">
				<img [src]="appSettings.clientApiBaseUrl + '/items/' + collection.id + '/collection/cuttings/image/' + item['thumb']" onerror="this.src='assets/img/no-image.png'" />
			</div>
			<div *ngIf="item['thumb']" class="app-img-cutting-wrapper">
				<img [src]="generateLiveClip(item['url'])" />
			</div>
	
			<div fxFlex class="app-left">
				<mat-card-title>{{item["name"]}}</mat-card-title>
				<mat-card-subtitle>{{item["description"]}}</mat-card-subtitle>
				<div fxLayout="row" fxLayoutAlign="start center" class="app-mt-1">
					<mat-icon color="primary" class="app-18 app-mr-1">launch</mat-icon>
					<small><a [href]="item['url']" target="_blank">{{ item["url"] }}</a></small>
				</div>			
			</div>
		</mat-card-header>
	</mat-card>
</div>

<mat-card *ngIf="(collectionItems?.length || noncollectionItems?.length) === 0 && contentView === 'object'" class="app-color-info app-text-center">
	<mat-card-content fxLayout="row" fxLayoutAlign="center center">
		<mat-icon class="app-mr-1">info</mat-icon>{{ 'alert.collections.noData.content' | translate }}
	</mat-card-content>
</mat-card>

<mat-card *ngIf="(clippingItems?.length || clippingItems?.length) === 0 && contentView === 'cuttings'" class="app-color-info app-text-center">
	<mat-card-content fxLayout="row" fxLayoutAlign="center center">
		<mat-icon class="app-mr-1">info</mat-icon>{{ 'alert.collections.noData.cutters' | translate }}
	</mat-card-content>
</mat-card>