<h2 mat-dialog-title>{{ 'modal.startImport.title' | translate }}</h2>
<mat-dialog-content class="app-scrollbar-fix">
  <mat-form-field appearance="fill" class="app-w-100">
    <mat-label>{{ 'desc.selectLicenseToImport' | translate }}</mat-label>
    <mat-select [(ngModel)]="selectedLicense" [panelClass]="'app-licenses'">
      <mat-select-trigger>
        {{ selectedLicense?.name || '-- ' + ('desc.noLicense' | translate) + ' --' }}
      </mat-select-trigger>
      
      <mat-option  [value]="null">-- {{ 'desc.noLicense' | translate }} --</mat-option>
      <mat-option *ngFor="let license of licenses" [value]="license">
        <div class="app-mb-1">
          <mat-icon *ngIf="license.group == 'local'">location_city</mat-icon>
          <mat-icon *ngIf="license.group != 'local'">public_outlined</mat-icon>
          <strong>{{ license.name }}</strong>
        </div>
        <div class="app-mb-1">
          <strong class="app-desc">{{ license.group == 'local' ? ('desc.localLicense' | translate) : ('desc.globalLicense' | translate) }}</strong>
        </div>
        <div class="app-mb-1">
          <i>{{ license.description }}</i>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox [disableRipple]="true" [(ngModel)]="scheduleIndexation" color="primary" class="app-mr-4">{{ 'desc.scheduleSubsequentIndexing' | translate }}</mat-checkbox>
  
  <ng-container *ngIf="type == 'ndk'">
    <mat-checkbox [disableRipple]="true"  *ngIf="type == 'ndk'" [(ngModel)]="ndkIIPServer" color="primary">{{ 'desc.useIipServer' | translate }}</mat-checkbox>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="scheduleProcess()">{{ 'button.schedule' | translate }}</button>
  <button mat-flat-button mat-dialog-close>{{ 'button.cancel' | translate }}</button>
</mat-dialog-actions>