<h2 mat-dialog-title>{{ 'modal.startImport.title' | translate }}</h2>
<mat-dialog-content>

  <div>Dal jsem to tam na prasaka ! </div>

  <mat-checkbox [disableRipple]="true" [(ngModel)]="scheduleIndexation" color="primary" class="app-mr-4">{{ 'desc.scheduleSubsequentIndexing' | translate }}</mat-checkbox>

  <div>
    kombo
  </div>
  <mat-select [(ngModel)]="selectedLicense">
    <mat-option *ngFor="let license of licenses" [value]="license">
      <mat-icon *ngIf="license.group == 'local'">location_city</mat-icon>
      <mat-icon *ngIf="license.group != 'local'">public_outlined</mat-icon>
      {{ license.priority + '. ' + license.name }}
    </mat-option>
</mat-select>


<ng-container *ngIf="type == 'ndk'">
  <span class="pipe-separator">|</span>
  <mat-checkbox [disableRipple]="true"  *ngIf="type == 'ndk'" [(ngModel)]="ndkIIPServer" color="primary">{{ 'desc.useIipServer' | translate }}</mat-checkbox>
</ng-container>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="scheduleProcess()">{{ 'button.schedule' | translate }}</button>
  <button mat-flat-button mat-dialog-close>{{ 'button.cancel' | translate }}</button>

  <!--
  <button mat-flat-button (click)="onClose(data.btn1.value)" [color]="data.btn1.color">{{ data.btn1.label }}</button>
-->
</mat-dialog-actions>