.mat-mdc-icon-button {
  &.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 32px;
    padding: 4px;

    .mat-icon {
      &.app-inlude {
        --mat-icon-color: var(--app-color-success);
      }

      &.app-exclude {
        --mat-icon-color: var(--app-color-warn);
      }
    }
  }
}


.mat-mdc-cell {
  &.mat-column-endpoint,
  &.mat-column-pid {
    width: 120px;
  }
}