.mat-mdc-icon-button {
  &.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 32px;
    padding: 4px;

    .mat-icon {
      &.app-inlude {
        --mat-icon-color: var(--app-color-success);
      }

      &.app-exclude {
        --mat-icon-color: var(--app-color-warn);
      }
    }
  }
}

/* Omezení velikosti sloupců v tabulce */
.mat-table {
  width: 100%; /* Zajistí, že tabulka využije celý dostupný prostor */
}

th, td {
  max-width: 200px; /* Maximální šířka sloupce */
  overflow: hidden;
  text-overflow: ellipsis; /* Přidá "..." pokud je text moc dlouhý */
  white-space: nowrap; /* Zabrání zalomení */
}


/* Specifická šířka pro konkrétní sloupce */

.mat-column-startTime,
.mat-column-endTime {
  width: 320px;
  max-width: 320px;
}

.mat-column-duration {
  width: 220px;
  max-width: 220px;
}

.mat-column-resource {
  width: 40px;
  max-width: 40px;
}

.mat-column-endpoint {
  width: 150px;
  max-width: 150px;
}

.mat-column-querypart {
  width: 50px;
  max-width: 50px;
}


.mat-column-labels {
  width: 200px;
  max-width: 200px;

  font-weight: bold;
  //font-size: 10px;
  padding: 4px;
  border-radius: 4px;
  text-align: center; 
}




