<mat-progress-bar *ngIf="isLibsLoading" mode="indeterminate"></mat-progress-bar>

<h2 mat-dialog-title>{{ 'modal.scheduleReHarvestSpecificPids.title' | translate }}</h2>
<mat-dialog-content class="app-scrollbar-fix app-form-customize">
	<div class="app-fxLayout app-column app-gap-4">			
		<!-- pidy pro hreahrvest-->
		<mat-form-field appearance="outline" class="app-w-100">
			<mat-label>{{ 'desc.pids' | translate }}</mat-label>
			<textarea [disabled]="false" matInput type="text" id="inputPids" name="pids" [(ngModel)]="pids" (ngModelChange)="onPidsChange($event)" [placeholder]="('desc.insertPidsHere' | translate) + ' ...'" required autofocus rows="2"></textarea>
		</mat-form-field>
		<!-- alert message -->
		<mat-card *ngIf="(conflict || selectedCount == 0) || (!conflict && selectedCount > 0)" appearance="outlined" class="app-view-alert" [ngClass]="{ 'app-warn': conflict || selectedCount == 0, 'app-success': !conflict && selectedCount > 0 }">
			<mat-card-content>
				<mat-icon *ngIf="conflict || selectedCount == 0" color="warn">warning</mat-icon>
				<mat-icon *ngIf="!conflict && selectedCount > 0" color="primary">info</mat-icon>
				{{ summary() }}
			</mat-card-content>
		</mat-card>
		<!-- conflict alternative-->
		<mat-card *ngIf="conflict" appearance="outlined">
			<mat-card-content>
				<div style="width: 100%;">
					<strong>{{conflictMessage}}</strong>
				</div>
				<mat-divider></mat-divider>
				<div>
					<mat-checkbox *ngFor="let cfo of conflictAlternatives" [disabled]="true" checked="true" style="display: block;">
						<strong>{{cfo.pid}}</strong> 
						<ng-container>
							<strong><i *ngIf="cfo.type == 'delete_tree'" class="app-desc">&nbsp; Smazat podstrom </i></strong>
							<strong><i *ngIf="cfo.type == 'root'" class="app-desc">&nbsp; Reharvest celku </i></strong>
						</ng-container>
					</mat-checkbox>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- standard reharvest part/type of reharvest-->
	<mat-divider *ngIf="!conflict" class="app-mt-4 app-mb-4"></mat-divider>

	<div *ngIf="!conflict" class="app-desc app-mb-1">{{ 'desc.typeOfHarvest' | translate }}:</div>
	<mat-radio-group *ngIf="!conflict" [disabled]="!pids || isLibsLoading || reharvestingDisabled" [(ngModel)]="typeOfHarvest"  name="typeOfHarvest" required (change)="onTypeOfReharvestChanged($event)">
		<div><mat-radio-button value="root">{{ 'desc.root' | translate }}</mat-radio-button></div> 
		<div><mat-radio-button value="children">{{ 'desc.children' | translate }}</mat-radio-button></div> 
		<div><mat-radio-button value="new_root">{{ 'desc.new_root' | translate }}</mat-radio-button></div> 
		<div><mat-radio-button value="only_pid">{{ 'desc.only_pid' | translate }}</mat-radio-button></div>
		<mat-radio-button value="delete_pid">{{ 'desc.delete_pid' | translate }}</mat-radio-button> <br/>
		<mat-radio-button value="delete_tree">{{ 'desc.delete_tree' | translate }}</mat-radio-button> <br/>
		<mat-radio-button value="delete_root">{{ 'desc.delete_root' | translate }}</mat-radio-button> 
	</mat-radio-group>
	
	<!-- standard reharvest part/selection-->
	<mat-divider *ngIf="!conflict" class="app-mt-4 app-mb-4"></mat-divider>

		<div class="app-desc app-mb-1">{{ 'desc.reharvestLibsOption' | translate }}:</div>
		<div>
			<mat-radio-group [disabled]="!pids" [(ngModel)]="reharvestLibsOption" name="reharvestLibsOption" (change)="onReharvestLibsOptionChange($event)">
			  <mat-radio-button value="fromindex" [disabled]="typeOfHarvest==='new_root'">{{ 'desc.allLibrariesPresentForTheTitleInTheIndex' | translate }}</mat-radio-button>
			  <mat-radio-button value="selection">{{ 'desc.selection' | translate }}</mat-radio-button>
			</mat-radio-group>
		</div>

		<ng-container *ngIf="reharvestLibsOption === 'selection'">
			<mat-divider class="app-mt-4 app-mb-4"></mat-divider>
			<div class="app-desc app-mb-1">{{ 'desc.selectLibraries' | translate }}:</div>			
			<div *ngFor="let option of options">
			  <mat-checkbox [disabled]="!option.enabled" [(ngModel)]="option.selected" name="option_{{option.library.code}}">
					{{ option.library.code | translate }} 
					
					<ng-container *ngIf="!option.enabled">
						<i class="app-desc">&nbsp;({{ "desc.disabledLibrary" | translate }})</i>
					</ng-container>
					<ng-container *ngIf="option.enabled">
						<strong><i class="app-desc">&nbsp;{{detail(option.library.code)}}</i></strong>
					</ng-container>
			</mat-checkbox>
		</div>
	</ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-flat-button [disabled]="!pids" color="primary" (click)="schedule()" >{{ 'button.schedule' | translate }}</button>
	<button mat-flat-button [disabled]="false" mat-dialog-close="cancel">{{ 'button.cancel' | translate }}</button>
</mat-dialog-actions>

