<form #f="ngForm" (ngSubmit)="schedule(f.value)">
	<!--mat-progress-bar></mat-progress-bar-->
	<mat-progress-bar *ngIf="isLibsLoading" mode="indeterminate"></mat-progress-bar>
	<h2 mat-dialog-title>{{ 'modal.scheduleReHarvestSpecificPids.title' | translate }}</h2>
	<mat-dialog-content class="app-scrollbar-fix">
		<div class="app-desc app-mb-4" [innerHtml]="('modal.scheduleReHarvestSpecificPids.message' | translate) + '.'" ></div>
		<div>
			<div *ngIf="isLibsLoading" class="loading-overlay">
				<div class="loading-text">
				  <h5>{{ 'modal.scheduleReHarvestSpecificPids.loadingDataFromLibraries.title' | translate }}</h5>
				  <p> {{ 'modal.scheduleReHarvestSpecificPids.loadingDataFromLibraries.pleaseWait' | translate }}</p>
				</div>
			  </div>			  

			<mat-form-field appearance="fill" class="app-w-100 app-download">
				<mat-label>{{ 'desc.pid' | translate }}</mat-label>
				<textarea [disabled]="false" matInput type="text" id="inputPids" name="pids" [ngModel]="pids"
				(ngModelChange)="onPidsChange($event)"
				[placeholder]="('desc.insertPidsHere' | translate) + ' ...'" required autofocus></textarea>
				<!--
				<mat-icon matSuffix [matTooltip]="'button.loadPidsFromFile' | translate" class="app-cursor-pointer">file_download</mat-icon>
				-->
			</mat-form-field>
			<!--
			<input style="display: none;" #fileWithPids name="pf" type="file" accept=".txt" />
			-->
		</div>

		<div class="app-desc app-mb-1">{{ 'desc.typeOfHarvest' | translate }}:</div>
		<div>
      <mat-radio-group [disabled]="!pids || isLibsLoading" [(ngModel)]="typeOfHarvest" name="typeOfHarvest" required (change)="onTypeOfReharvestChanged($event)">
				<div><mat-radio-button value="root">{{ 'desc.root' | translate }}</mat-radio-button></div> 
				<div><mat-radio-button value="children">{{ 'desc.children' | translate }}</mat-radio-button></div> 
				<div><mat-radio-button value="new_root">{{ 'desc.new_root' | translate }}</mat-radio-button></div> 
				<div><mat-radio-button value="only_pid">{{ 'desc.only_pid' | translate }}</mat-radio-button></div>
				<mat-radio-button value="delete_pid">{{ 'desc.delete_pid' | translate }}</mat-radio-button> <br/>
				<mat-radio-button value="delete_tree">{{ 'desc.delete_tree' | translate }}</mat-radio-button> 
			</mat-radio-group>
  	</div>

		<mat-divider class="app-mt-4 app-mb-4"></mat-divider>

		<div class="app-desc app-mb-1">{{ 'desc.reharvestLibsOption' | translate }}:</div>
		<div>
			<mat-radio-group [disabled]="!pids || isLibsLoading" [(ngModel)]="reharvestLibsOption" name="reharvestLibsOption" (change)="onReharvestLibsOptionChange($event)">
			  <mat-radio-button value="fromindex" [disabled]="typeOfHarvest==='new_root'">{{ 'desc.allLibrariesPresentForTheTitleInTheIndex' | translate }}</mat-radio-button>
			  <mat-radio-button value="selection">{{ 'desc.selection' | translate }}</mat-radio-button>
			</mat-radio-group>
		</div>

		<ng-container *ngIf="reharvestLibsOption === 'selection'">
			<mat-divider class="app-mt-4 app-mb-4"></mat-divider>
			<div class="app-desc app-mb-1">{{ 'desc.selectLibraries' | translate }}:</div>			
			<div *ngFor="let option of options">

			  <mat-checkbox [disabled]="!option.enabled && !isLibsLoading" [(ngModel)]="option.selected" name="option_{{option.library.code}}">
					
					{{ option.library.code | translate }} 
					<ng-container *ngIf="!option.enabled">
						<i class="app-desc">&nbsp;({{ "desc.disabledLibrary" | translate }})</i>
					</ng-container>
			  </mat-checkbox>
			</div>
		</ng-container>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-flat-button [disabled]="!pids" color="primary" type="submit">{{ 'button.schedule' | translate }}</button>
		<button mat-flat-button [disabled]="false" mat-dialog-close="cancel">{{ 'button.cancel' | translate }}</button>
	</mat-dialog-actions>
</form>