<div class="app-root">

    <h1>Test</h1>
    <p>Tato komponenta slouží pro testování, typicky nové funkcionality na backendu. Protože tady máme funkční
        autentizaci, což se složitěji simuluje.</p>

    <h2>Indexační proces</h2>
    <div>
        <!-- spusteni indexačního procesu -->

        <mat-form-field class="app-schedule-indexation-process-type">
            <mat-select placeholder="Typ indexace" [(value)]="selectedIndexationProcessType">
                <mat-option *ngFor="let type of indexationProcessTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="app-schedule-indexation-process-pid">
            <input matInput [(ngModel)]="pidForIndexation" placeholder="PID">
        </mat-form-field>

        <button class="app-schedule-indexation-process-btn" mat-raised-button (click)="scheduleIndexationProcess()"
            [disabled]="!pidForIndexation" color="primary">Spustit indexační proces</button>
    </div>

    <!-- <button (click)="logData()">log data</button> -->

    <h2>Ukázkové objekty ve sbírkách</h2>
    <ng-container *ngFor="let item of items;let i = index">
        <h4>{{titles[i]}} ({{item}})</h4>
        <ng-container *ngFor="let collection_id of pids_of_collections_having_item[item]">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="removeFromCollection(item,collection_id)">odebrat</button>
            {{collections_by_id[collection_id].name}} ({{collection_id}})
            <br>
        </ng-container>
        <br>
        <ng-container *ngFor="let collection_id of pids_of_collections_missing_item[item]">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="addToCollection(item,collection_id)">přidat</button>
            {{collections_by_id[collection_id].name}} ({{collection_id}})
            <br>
        </ng-container>

    </ng-container>

</div>