.app-root {
    padding: 16px;
}

.app-schedule-indexation-process-type {
    margin-right: 16px;
    width: 100px;
  }
  .app-schedule-indexation-process-pid {
    margin-right: 16px;
    width: 350px;
  }
  
  .app-schedule-indexation-process-btn {
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 16px;
  }