<div class="app-root">

    <h1>Test</h1>
    <p>Tato komponenta slouží pro testování, typicky nové funkcionality na backendu. Protože tady máme funkční
        autentizaci, což se složitěji simuluje.</p>

    <h2>Úklid</h2>
    <div>
        <!-- mazani objektu z repozitare -->
        <mat-form-field class="app-schedule-indexation-process-pid">
            <input matInput [(ngModel)]="pidForDeletion" placeholder="PID">
        </mat-form-field>
        <!-- tohle pouzivat fakt opatrne, neresi se uklid vyhledavaciho indexu, taky to kvuli cachovani neznamena, ze bude objekt skutecne smazan, muze byt potreba restratovat Tomcat -->
        <button class="app-schedule-indexation-process-btn" mat-raised-button (click)="deleteObjectFromRepo()"
            [disabled]="!pidForDeletion" color="primary">Smazat objekt z repozitáře</button>
    </div>

    <!-- <button (click)="logData()">log data</button> -->

    <!-- <h2>Ukázkové objekty ve sbírkách</h2>
    <ng-container *ngFor="let item of items;let i = index">
        <h4>{{titles[i]}} ({{item}})</h4>
        <ng-container *ngFor="let collection_id of pids_of_collections_having_item[item]">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="removeFromCollection(item,collection_id)">odebrat</button>
            {{collections_by_id[collection_id].name}} ({{collection_id}})
            <br>
        </ng-container>
        <br>
        <ng-container *ngFor="let collection_id of pids_of_collections_missing_item[item]">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="addToCollection(item,collection_id)">přidat</button>
            {{collections_by_id[collection_id].name}} ({{collection_id}})
            <br>
        </ng-container>

    </ng-container> -->

    <h2>Výpis foxml (do konzole)</h2>
    <div>
        <mat-form-field class="app-schedule-indexation-process-pid">
            <input matInput [(ngModel)]="pidForPrintFoxml" placeholder="PID">
        </mat-form-field>
        <button class="app-schedule-indexation-process-btn" mat-raised-button (click)="printFoxmlOfObjectFromRepo()"
            [disabled]="!pidForPrintFoxml" color="primary">Zalogovat foxml</button>
    </div>

    <h2>Výpis z vyhledávacího indexu (do konzole)</h2>
    <div>
        <mat-form-field class="app-schedule-indexation-process-pid">
            <input matInput [(ngModel)]="pidForPrintSolr" placeholder="PID">
        </mat-form-field>
        <button class="app-schedule-indexation-process-btn" mat-raised-button (click)="printSolrRecord()"
            [disabled]="!pidForPrintSolr" color="primary">Zalogovat solr záznam</button>
    </div>

    <button class="app-schedule-indexation-process-btn" mat-raised-button (click)="logDataFromAdminApi()"
        color="primary">Log data from admin api</button>
    <br>
    <button class="app-schedule-indexation-process-btn" mat-raised-button (click)="logDataFromClientApi()"
        color="primary">Log data from client api</button>
    <br>
    <button class="app-schedule-indexation-process-btn" mat-raised-button color="warn"
        (click)="testAction()">Test</button>
    <br>

</div>