
<div fxLayout="row" fxLayoutGap="16px">
  <div fxFlex>
    <h3 class="app-mt-0 app-mb-4">{{ 'desc.localLibraryLicense' | translate }}:  {{ libraryName }}</h3>
    <mat-card *ngIf="!errorState" class="app-card app-view-border app-p-0">
      <mat-progress-bar mode="indeterminate" *ngIf="state=='loading'"></mat-progress-bar>
      <ng-container *ngIf="state=='success'">
        <mat-card class="app-view-rights app-view-hover" *ngFor="let licence of licenses; let first = first; let last = last">
          <mat-card-header fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex class="app-left">
              <mat-card-title>

                <mat-icon *ngIf="licence.group == 'local'">location_city</mat-icon>
                <mat-icon *ngIf="licence.group != 'local'">public_outlined</mat-icon>
                
                {{ licence.priority+ '.  ' +licence.name }}
              </mat-card-title>
              <mat-card-subtitle *ngIf="licence.group == 'local'"><strong> {{ 'Lokalni licence ' }} </strong> </mat-card-subtitle>
              <mat-card-subtitle *ngIf="licence.group != 'local'"><strong> {{ 'Globalni licence' }} </strong> </mat-card-subtitle>

              <p> 
                <i> {{ licence.description}} </i>
              </p>

            </div>

            <div  class="app-right app-actions">
              <a *ngIf="!last" (click)="onMoveLiceseDown(licence)" [matTooltip]="'button.moveDown' | translate"><mat-icon>south</mat-icon></a>
              <a *ngIf="!first" (click)="onMoveLiceseUp(licence)" [matTooltip]="'button.moveUp' | translate"><mat-icon>north</mat-icon></a>
              <a *ngIf="licence.group == 'local' && acronymSet()" (click)="onEditLicese(licence)" [matTooltip]="'button.editLicense' | translate"><mat-icon>edit</mat-icon></a>
              <a *ngIf="licence.group == 'local'  && acronymSet()" (click)="onRemoveLicese(licence)" [matTooltip]="'button.deleteLicense' | translate"><mat-icon>delete</mat-icon></a>
            </div>
          </mat-card-header>
        </mat-card>
        <button  *ngIf="libraryName && libraryName != ''" mat-flat-button (click)="onNewLicence()" color="primary" class="app-m-4">
          {{ 'button.addLicense' | translate }}
        </button>
      </ng-container>
    </mat-card>
    <mat-card *ngIf="errorState" class="app-view-alert app-warn">
      <mat-card-content>
        <mat-icon>error</mat-icon>{{ errorMessage }}
      </mat-card-content>
    </mat-card>
  </div>

  <!--
  <div fxFlex>
    <h3 class="app-mt-0 app-mb-4">{{ 'desc.globalLicense' | translate }}</h3>
    <mat-card *ngIf="!errorState" class="app-card app-view-border app-p-0">
      <mat-progress-bar mode="indeterminate" *ngIf="state=='loading'"></mat-progress-bar>
      <ng-container *ngIf="state=='success'">
        <mat-card class="app-view-rights app-view-hover" *ngFor="let licence of globalLicenses; let first = first; let last = last">
          <mat-card-header fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex class="app-left">
              <mat-card-title>{{ licence.name }} ({{ licence.priority }}) </mat-card-title>
              <mat-card-subtitle>{{ licence.description }}</mat-card-subtitle>
            </div>
          </mat-card-header>
        </mat-card>
      </ng-container>
    </mat-card>
    <mat-card *ngIf="errorState" class="app-view-alert app-warn">
      <mat-card-content>
        <mat-icon>error</mat-icon>{{ errorMessage }}
      </mat-card-content>
    </mat-card>
  </div> 
  -->
</div>