<mat-card appearance="outlined" class="app-view-header app-fxLayout app-row app-center-v">
  <div class="app-fxFlex app-left">
    {{ 'desc.localLibraryLicense' | translate }}: <strong>{{ libraryName }}</strong>
  </div>
  <div class="app-right">
    <button [disabled]="!isItemChildDraged" mat-flat-button color="primary" (click)="changeOrder()">{{ 'button.saveOrderChange' | translate }}</button>
  </div>
</mat-card>
@if (!errorState) {
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    @if (state=='loading') {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    @for (licence of licenses; track licence; let first = $first; let last = $last) {
      <mat-card appearance="outlined" class="app-view-item app-with-header"  [ngClass]="{'app-runtime-card': licence.runtime}" cdkDrag>
        <mat-card-header>
          <div class="app-fxFlex app-left">
            <mat-card-title class="app-mb-2">
              <mat-icon>{{ licence.group == 'local' ? 'location_city' : 'public_outlined' }}</mat-icon>
              {{ licence.priority+ '.  ' +licence.name }}
              @if (licence.group == 'local' && licence.exclusiveLock) {
                <span class="app-pipe"></span>
                <mat-icon class="app-cursor-pointer" [matTooltip]="'Počet čtenářů: ' +licence.readers + '| Maximální doba čtení: '+this.formatTime(licence.max)+' | Refresh interval:  '+licence.refresh +' s'">lock</mat-icon>
              }
              @if (licence.runtime) {
                <span class="app-pipe"></span>
                <mat-icon class="app-cursor-pointer app-runtime-icon" [matTooltip]="'Aplikovano na všechny dokumenty'">play_circle</mat-icon>
                <span class="app-runtime-badge">Runtime</span>
              }
            </mat-card-title>
            <mat-card-subtitle><strong>{{ licence.group == 'local' ? ('desc.localLicense' | translate) : ('desc.globalLicense' | translate) }}</strong></mat-card-subtitle>
            <div class="app-mt-2"><i>{{ licence.description}}</i></div>
          </div>
          <div  class="app-right app-actions">
            @if (licence.group == 'local' && acronymSet()) {
              <a (click)="onEditLicese(licence)" [matTooltip]="'button.editLicense' | translate"><mat-icon>edit</mat-icon></a>
            }
            @if (licence.group == 'local'  && acronymSet()) {
              <a (click)="onRemoveLicese(licence)" [matTooltip]="'button.deleteLicense' | translate"><mat-icon>delete</mat-icon></a>
            }
          </div>
        </mat-card-header>
      </mat-card>
    }
    <div class="app-text-right app-pt-4">
      @if (libraryName && libraryName != '') {
        <button  mat-flat-button (click)="onNewLicence()" color="primary">{{ 'button.addLicense' | translate }}</button>
      }
    </div>
  </div>
}

@if (errorState) {
  <mat-card appearance="outlined" class="app-view-alert app-color-warn">
    <mat-card-content>
      <mat-icon>error</mat-icon>{{ errorMessage }}
    </mat-card-content>
  </mat-card>
}
